<div>
	<small>
		<p>Чтобы начать этот уровень, я открыл два окна <small><kbd class="inova-custom-kbd nowrap">bandit20</kbd></small>, как объяснялось в первой подсказке. Первый будет использоваться для запуска команды <small><kbd class="inova-custom-kbd nowrap">setuid</kbd></small>, а второй — для запуска сетевого демона. Чтобы запустить сетевой демон, мы можем использовать <small><kbd class="inova-custom-kbd nowrap">nc</kbd></small> для получения информации, поступающей от сценария <small><kbd class="inova-custom-kbd nowrap">setuid</kbd></small>. Для этого нам сначала нужно выбрать случайный порт, например <i>«1234»</i>, и начать прослушивание с помощью <small><kbd class="inova-custom-kbd nowrap">nc</kbd></small>.</p>
		<hr>
		<p>Номер порта не кажется важным, и это должно работать с любым портом, который не используется. Я запустил <small><kbd class="inova-custom-kbd nowrap">nc -l 1234 < /etc/bandit_pass/bandit20</kbd></small>, чтобы выполнить первую часть. Вторая часть команды после номера порта отправляет на проверку текущий пароль от скрипта <small><kbd class="inova-custom-kbd nowrap">setuid</kbd></small>. Теперь, когда мы слушаем ответ, я использовал команду <small><kbd class="inova-custom-kbd nowrap">./suconnect 1234</kbd></small>, чтобы запустить скрипт и получить следующий пароль.</p>
		<hr>
		<p>После запуска скрипта я получил подтверждение, что пароль совпадает и что он отправляет пароль для следующего уровня. На втором окне профиля <small><kbd class="inova-custom-kbd nowrap">bandit20</kbd></small> увидел, что пароль есть. Я попытался войти в <small><kbd class="inova-custom-kbd nowrap">bandit21</kbd></small> с этим паролем и смог получить доступ к профилю.</p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit21</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> gE269g2h3mw3pwgrj0Ha9Uoqen1c9DGr</small></p>
			</div>
		</div>
	</small>

</div>