<div>
	<small>
		<p>Здесь я вижу двоичный файл <small><kbd class="inova-custom-kbd nowrap">bandit27-do</kbd></small>. Запускаю файл <small><kbd class="inova-custom-kbd nowrap">./bandit27-do</kbd></small></p>
		<hr>
		<div class="inova-custom-kbd">
				<small>
					<pre>
 bandit26@bandit:~$ ./bandit27-do
 Run a command as another user.
					</pre>
				</small>
		</div>
		<hr>
		<p>Это как в 20 уровне, Поскольку пароль для <small><kbd class="inova-custom-kbd nowrap">bandit27</kbd></small> находится в <small><kbd class="inova-custom-kbd nowrap">/etc/bandit_pass/</kbd></small>, я решил запустить <small><kbd class="inova-custom-kbd nowrap">./bandit27-do cat /etc/bandit_pass/bandit27</kbd></small>, так как только <b>bandit27</b> может прочитать файл. В результате я смог увидеть следующий пароль <small><kbd class="inova-custom-kbd nowrap">3ba3118a22e93127a4ed485be72ef5ea</kbd></small></p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit27</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> 3ba3118a22e93127a4ed485be72ef5ea</small></p>
			</div>
		</div>		
		<p></p>
	</small>

</div>