<div>
	<small>
		<p>В этой части я использовал приведенную ниже команду <small><kbd class="inova-custom-kbd nowrap">find</kbd></small>, чтобы найти файл размером <b>33 байта</b>, принадлежащий пользователю <small><kbd class="inova-custom-kbd nowrap">bandit7</kbd></small>, принадлежащий группе <small><kbd class="inova-custom-kbd nowrap">bandit6</kbd></small>.</p>
		<p><small><kbd class="inova-custom-kbd nowrap">find / -user bandit7 -group bandit6 -size 33c 2>/dev/null</kbd></small></p>
		<p>
			<ul>
				<li><small><kbd class="inova-custom-kbd nowrap">/</kbd></small> - из корневой папки</li>
				<li><small><kbd class="inova-custom-kbd nowrap">user</kbd></small> - владелец файла</li>
				<li><small><kbd class="inova-custom-kbd nowrap">group</kbd></small> - группа владельцев файла.</li>
				<li><small><kbd class="inova-custom-kbd nowrap">size</kbd></small> - размер файла</li>
				<li><small><kbd class="inova-custom-kbd nowrap">2>/dev/null</kbd></small> перенаправляет сообщения об ошибках в <code>null</code>, чтобы они не отображались на стандартном выходе.</li>
			</ul>
		</p>
		<p>С помощью этой команды мы нашли файл в следующем каталоге: <small><kbd class="inova-custom-kbd nowrap">/var/lib/dpkg/info/bandit7.password</kbd></small>. Когда я прочитал файл, я обнаружил, что пароль <small><kbd class="inova-custom-kbd nowrap">HKBPTKQnIay4Fw76bEy8PVxKEDQRKTzs</kbd></small></p>
	</small>

</div>