<div>
	<small>
		<p>Пароль для следующего уровня хранится в файле <small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small> и представляет собой единственную строку текста, которая встречается только один раз.</p>
		<p>Для этого я выполнил приведенную ниже команду, чтобы отсортировать строки по алфавиту, а затем удалить все дубликаты из вывода.</p>
		<p><small><kbd class="inova-custom-kbd nowrap">sort data.txt | uniq -u</kbd></small></p>
		<p>Пароль: <small><kbd class="inova-custom-kbd nowrap">UsvVyFSfZZWbi6wgC7dAFyFuR6jQQUhR</kbd></small>.</p>
	</small>

</div>