<div>
	<small>
		<p>После того как я зашел на <i>bandit25</i> и пишу команду <small><kbd class="inova-custom-kbd nowrap">ls</kbd></small> вижу <small><kbd class="inova-custom-kbd nowrap">bandit26.sshkey</kbd></small>. После этого я попытаюсь зайти через <i>ssh key</i>  на <i>bandit26</i>  с командой <small><kbd class="inova-custom-kbd nowrap">ssh bandit26@localhost  –i bandit26.sshkey</kbd></small> В тот момент, когда мы входим в систему, нас выгоняют. Итак, давайте проверим <small><kbd class="inova-custom-kbd nowrap">shell</kbd></small> этого пользователя.</p>
		<hr>
		<div class="inova-custom-kbd">
				<small>
					<pre>

 bandit25@bandit:~$ cat /etc/passwd | grep bandit26

 bandit26:x:11026:11026:bandit level 26:/home/bandit26:/usr/bin/showtext

 bandit25@bandit:~$
					</pre>
				</small>
		</div>
		<hr>
		<p>Он использует специальный <i>shell</i>, называемую <i>showtext</i>.</p>
		<hr>
		<div class="inova-custom-kbd">
				<small>
					<pre>

 bandit25@bandit:~$ cat /usr/bin/showtext
 #!/bin/sh
 more ~/text.txt
 exit 0
 bandit25@bandit:~$
					</pre>
				</small>
		</div>
		<hr>
		<p>Мы можем с уверенностью предположить, что оболочка использует <small><kbd class="inova-custom-kbd nowrap">more</kbd></small> для чтения баннера, а затем выходит из оболочки со статусом выхода <i>0</i>. Таким образом, хитрость заключается в том, как мы используем more для доступа к следующему уровню. Просматривая справочную <i>(man)</i> страницу <small><kbd class="inova-custom-kbd nowrap">more</kbd></small>, мы обнаруживаем, что есть встроенный редактор.</p>
		<hr>
		<div class="inova-custom-kbd" style="border-radius: 5px">
				<small>
					<pre>

 v -> Start up an editor at current line. 
 The editor is taken from the environment variable VISUAL if defined, or EDITOR if VISUAL is not defined, or defaults to "vi" if neither VISUAL nor EDITOR is defined.

					</pre>
				</small>
		</div>
		<hr>
		<p>Если <i>VISUAL</i> определен в переменной среды, он примет этот редактор или будет использовать <i>vi</i> по умолчанию. Поэтому нам нужно использовать это, чтобы выйти из оболочки и создать <small><kbd class="inova-custom-kbd nowrap">/bin/bash</kbd></small>.</p>
		<p>Сделайте терминал достаточно маленьким, чтобы активировать больше.</p>
		<p><pre><kbd class="inova-custom-kbd nowrap">bandit25@bandit:~$ ssh bandit26@localhost -i bandit26.sshkey</kbd></pre></p>
		<p>Нажмите <small><kbd class="inova-custom-kbd nowrap">v</kbd></small>, чтобы войти в визуальный режим</p>
		<p>Нажмите <small><kbd class="inova-custom-kbd nowrap">Shift+:</kbd></small></p>
		<hr>
		<div class="inova-custom-kbd">
				<small>
					<pre>

 :set shell=/bin/bash
 :shell
					</pre>
				</small>
		</div>
		<hr>
		<p>После этого вы попадете в <i>bash shell</i>.</p>
		<hr>
		<p><pre><kbd class="inova-custom-kbd nowrap">cat /etc/bandit_pass/bandit26</kbd></pre></p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit27</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> 3ba3118a22e93127a4ed485be72ef5ea</small></p>
			</div>
		</div>
	</small>

</div>