<p>
	<small>Войдя в профиль пользователя <small><kbd class="inova-custom-kbd nowrap">bandit0</kbd></small>, я запустил команду <small><kbd class="inova-custom-kbd nowrap">ls</kbd></small>, чтобы посмотреть, найду ли я какие-нибудь полезные файлы. Вывод показал, что есть файл с именем <small><kbd class="inova-custom-kbd nowrap">readme</kbd></small>. Я прочитал файл с помощью <small><kbd class="inova-custom-kbd nowrap">cat readme</kbd></small>, и он содержал 1 строку со следующим текстом: <small><kbd class="inova-custom-kbd nowrap">boJ9jbbUNNfktd78OOpsqOltutMc3MY1</kbd></small>. Я попытался использовать строку из файла для входа в <small><kbd class="inova-custom-kbd nowrap">bandit1</kbd></small>, и это сработало.</small>
</p>