<div>
	<small>
		<p>Как я объяснял на предыдущем уровне, как только я вошел в систему, я получил сообщение <i>«Bye!»</i> вывод, и я немедленно вышел из машины. Я знаю, что все профили пользователей находятся на одной машине, поэтому я запустил команду <small><kbd class="inova-custom-kbd nowrap">cd ~bandit18</kbd></small>, которая поместила меня в домашний каталог <small><kbd class="inova-custom-kbd nowrap">bandit18</kbd></small>. Когда я запустил <small><kbd class="inova-custom-kbd nowrap">ls</kbd></small>, я увидел тот файл <small><kbd class="inova-custom-kbd nowrap">readme</kbd></small>, о котором говорила подсказка, но я не должен его читать, потому что у меня нет разрешений.</p>
		<hr>
		<p>Я попытался изменить пользователя, запустив <small><kbd class="inova-custom-kbd nowrap">su bandit18</kbd></small> и надеясь, что он запросит у меня пароль, но это не сработало, потому что нам не разрешено запускать команду <small><kbd class="inova-custom-kbd nowrap">su</kbd></small>. Я попытался запустить команду от имени другого пользователя, используя <small><kbd class="inova-custom-kbd nowrap">sudo -u bandit18 -c "cat readme"</kbd></small>, но это не сработало, поскольку у нас нет привилегий <small><kbd class="inova-custom-kbd nowrap">sudo</kbd></small>. Затем я перешел к поиску другого способа доступа к файлу. Я попытался войти в систему, используя <small><kbd class="inova-custom-kbd nowrap">ftp bandit18@localhost</kbd></small>, но это не сработало, и я получил сообщение об ошибке, в котором говорилось, что служба неизвестна.</p>
		<hr>
		<p>Я попытался войти в систему, используя <small><kbd class="inova-custom-kbd nowrap">sftp bandit18@localhost</kbd></small>, который попросил меня ввести пароль, и я смог войти в систему, но не смог загрузить файл или прочитать файл. Я прочитал руководство по <small><kbd class="inova-custom-kbd nowrap">ssh</kbd></small>, чтобы узнать, смогу ли я найти способ войти в систему, не выгнав меня немедленно. Прочитав руководство по <small><kbd class="inova-custom-kbd nowrap">ssh</kbd></small>, я нашел 2 варианта, которые выделяются: <small><kbd class="inova-custom-kbd nowrap">-T</kbd></small> и <small><kbd class="inova-custom-kbd nowrap">-t</kbd></small>.</p>
		<hr>
		<p>Другие параметры использовались для туннелирования, пересылки или указания атрибутов входа в систему. Я попытался войти в систему с помощью команды <small><kbd class="inova-custom-kbd nowrap">ssh -T bandit18@localhost</kbd></small>, и мне удалось войти в систему, не будучи выгнанным. Единственное, что странно, это то, что я не получал типичную командную строку <small><kbd class="inova-custom-kbd nowrap">bandit17@bandit:~$</kbd></small>. Часть, где вы пишете команды, была пустой, я попытался запустить <small><kbd class="inova-custom-kbd nowrap">ls</kbd></small>, и я смог увидеть файл <small><kbd class="inova-custom-kbd nowrap">readme</kbd></small>, я смог прочитать его и увидеть, что пароль для:</p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit19</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> IueksS7Ubh8G3DCwVzrTd8rAVOwq3M5x</small></p>
			</div>
		</div>
		<p></p>
		<p></p>
	</small>

</div>