<div>
	<small>
		<p>Пароль для следующего уровня хранится в файле <small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small> в одной из немногих читаемых строк, начинающихся с нескольких символов <small><kbd class="inova-custom-kbd nowrap">=</kbd></small>.</p>
		<p>Судя по подсказке, файл содержит как строки, так и бинарные данные, которые могут затруднить чтение. Чтобы разобраться с простым текстом, я запустил <small><kbd class="inova-custom-kbd nowrap">cat data.txt | string</kbd></small>. Следующая часть — найти строки, начинающиеся со знака <small><kbd class="inova-custom-kbd nowrap">=</kbd></small>. Чтобы сделать все в 1 строку, я использовал следующую команду:</p>
		<p><small><kbd class="inova-custom-kbd nowrap">cat data.txt | strings | grep ^=</kbd></small></p>
		<p>Это вернуло 3 строки:</p>
		<p><ul>
			<li><small><kbd class="inova-custom-kbd nowrap">========== password</kbd></small></li>
			<li><small><kbd class="inova-custom-kbd nowrap">========== ism</kbd></small></li>
			<li><small><kbd class="inova-custom-kbd nowrap">========== truKLdjsbJ5g7yyJ2X2R0o3a5HQJFuLk</kbd></small></li>
		</ul></p>
		<p>Все они начинаются с нескольких знаков <small><kbd class="inova-custom-kbd nowrap">=</kbd></small>, и если все пароли имеют одинаковый формат, пароль должен быть последней строкой: <small><kbd class="inova-custom-kbd nowrap">truKLdjsbJ5g7yyJ2X2R0o3a5HQJFuLk</kbd></small>.</p>
	</small>

</div>