<div>
	<small>
		<p>Пароль для следующего уровня хранится в файле <small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small>, который содержит данные в кодировке <small><kbd class="inova-custom-kbd nowrap">base64</kbd></small>.</p>
		<p><small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small> содержит 1 строку, закодированную в <small><kbd class="inova-custom-kbd nowrap">base64</kbd></small>. Чтобы декодировать файл, я выполнил команду ниже:</p>
		<p><small><kbd class="inova-custom-kbd nowrap">cat data.txt | base64 --decode</kbd></small></p>
		<p>Вывод был следующим: <small><kbd class="inova-custom-kbd nowrap">IFukwKGsFW8MOq3IRFqrxE1hxTNEbUPR</kbd></small>.</p>
		<p></p>
		<p></p>
	</small>

</div>