<div>
	<small>
		<p>Давайте найдем пароль для следующего уровня.</p>
		<p>Как обычно клонируем репозиторий и читаем  <i>README.md</i>.</p>
		<p>По умолчанию, без аргументов, <small><kbd class="inova-custom-kbd nowrap">git log</kbd></small> перечисляет сделанные в репозитории коммиты в обратном хронологическом порядке. Мы используем команду <small><kbd class="inova-custom-kbd nowrap">git log</kbd></small> с параметром <small><kbd class="inova-custom-kbd nowrap">-p</kbd></small>, чтобы показать разницу, представленную в каждой фиксации.</p>
		<p>Сообщение показывает нам <i>no passwords in production</i> <i>(нет паролей в производстве)</i>. Поэтому мы должны посмотреть, есть ли разные ветки этого репозитория.</p>
		<hr>
		<div class="inova-custom-kbd">
				<small>
					<pre>
  
 bandit29@bandit:/tmp/secttp/repo$ git branch
 * master
 bandit29@bandit:/tmp/secttp/repo$ git branch -r
 origin/HEAD -> origin/master
 origin/dev
 origin/master
 origin/sploits-dev
 bandit29@bandit:/tmp/secttp/repo$ git checkout dev
 Branch dev set up to track remote branch dev from origin.
 Switched to a new branch 'dev'
 bandit29@bandit:/tmp/secttp/repo$ git branch
 * dev
 master
					</pre>
				</small>
		</div>
		<hr>	
		<p>После проверки ветки dev мы по-прежнему используем <small><kbd class="inova-custom-kbd nowrap">git log</kbd></small> для проверки различий между каждым коммитом.</p>
		<hr>
		<div class="inova-custom-kbd">
				<small>
					<pre>
					
 bandit29@bandit:/tmp/secttp/repo$ git log -p -1
 commit 33ce2e95d9c5d6fb0a40e5ee9a2926903646b4e3
 Author: Morla Porla <morla@overthewire.org>
 Date:   Tue Oct 16 14:00:41 2018 +0200
 add data needed for development
 diff --git a/README.md b/README.md
 index 1af21d3..39b87a8 100644
 --- a/README.md
 +++ b/README.md
 @@ -4,5 +4,5 @@ Some notes for bandit30 of bandit.
 ## credentials
 - username: bandit30
 -- password: <no passwords in production!>
 +- password: 5b90576bedb2cc04c86a9e924ce42faf
					</pre>
				</small>
		</div>
		<p></p>
	</small>
</div>