<div>
	<small>
		<p>Пароль для следующего уровня хранится в файле <small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small>, где все строчные <i>(a-z)</i> и прописные <i>(A-Z)</i> буквы повернуты на 13 позиций.</p>
		<p>Файл <small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small> содержит 1 строку, зашифрованную алгоритмом <small><kbd class="inova-custom-kbd nowrap">ROT13</kbd></small>. Чтобы расшифровать его, я должен заменить каждую букву буквой на 13 позиций вперед. Например, при таком шифровании буква <small><kbd class="inova-custom-kbd nowrap">a</kbd></small> будет заменена на <small><kbd class="inova-custom-kbd nowrap">n</kbd></small>. Слово банан будет зашифровано в онанан. Чтобы расшифровать строку, я выполнил команду ниже:</p>
		<p><small><kbd class="inova-custom-kbd nowrap">cat data.txt | tr '[A-Za-z]' '[N-ZA-Mn-za-m]'</kbd></small></p>
		<p>Приведенная выше команда отправляет строку на стандартный вывод, где tr сдвигает каждую букву на 13 позиций. После запуска этой команды вывод был:</p>
		<p><b>Пароль:</b> <small><kbd class="inova-custom-kbd nowrap">5Te8Y4drgCRfCx8ugdwuEX8KFC6k2EUu</kbd></small>.</p>
	</small>

</div>