<div>
	<small>
		<p>Как объяснено подсказкой, мы должны найти, на каком хосте запущен и работает <i>SSL</i>. Для этого мы можем запустить сканирование nmap, которое проверит каждый порт с <b>31000</b> по <b>32000</b> и проверит, какие службы работают на этом порту. Для этого я выполнил команду ниже:</p>
	    <hr>
	    <p><pre><kbd class="inova-custom-kbd nowrap">nmap -v -A -T4 -p 31000-32000 localhost</kbd></pre></p>
		<hr>
		<p>Опция <small><kbd class="inova-custom-kbd nowrap">-A</kbd></small> в команде позволяет нам определить <b>ОС</b>, определение версии или наличие каких-либо запущенных скриптов, а <small><kbd class="inova-custom-kbd nowrap">-v</kbd></small> увеличивает многословие. Результат был следующим:</p>
		<p>Как мы видим, в сети 5 хостов, и на 3 из них запущена служба эха, на 1 из них запущен <small><kbd class="inova-custom-kbd nowrap">msdtc</kbd></small>, а на порту <b>31790</b> запущен <small><kbd class="inova-custom-kbd nowrap">ssl</kbd></small>. После подключения к порту <b>31790</b> с помощью <small><kbd class="inova-custom-kbd nowrap">openssl s_client -connect localhost:31790</kbd></small> и ввода пароля для <small><kbd class="inova-custom-kbd nowrap">bandit16</kbd></small> я получил закрытый ключ <b>RSA</b>.</p>
		<p>Затем я создал папку с помощью <small><kbd class="inova-custom-kbd nowrap">mkdir -p /tmp/bandit17</kbd></small>, а затем скопировал ключ и сохранил его в файл с именем <small><kbd class="inova-custom-kbd nowrap">bandit17.key</kbd></small>, а затем изменил права доступа к файлу с помощью команды <small><kbd class="inova-custom-kbd nowrap">chmod 600 bandit17.key</kbd></small>.</p> 
		<p>Я запустил <small><kbd class="inova-custom-kbd nowrap">ssh -i bandit17.key bandit17@localhost</kbd></small> и смог войти в профиль <small><kbd class="inova-custom-kbd nowrap">bandit17</kbd></small>. В профиле я запустил <small><kbd class="inova-custom-kbd nowrap">ls</kbd></small> и нашел 2 файла с именами <small><kbd class="inova-custom-kbd nowrap">passwords.new</kbd></small> и <small><kbd class="inova-custom-kbd nowrap">password.old</kbd></small>, в которых есть много строк возможного пароля, некоторые из которых, похоже, повторяются. Чтобы удалить дубликаты между двумя файлами, я использовал команду <small><kbd class="inova-custom-kbd nowrap">diff passwords.new passwords.old</kbd></small>, которая дала нам следующие пароли:</p>
		<hr>
		<p>
			<ul>
				<li><small><kbd class="inova-custom-kbd nowrap">&lt; kfBf3eYk5BPBRzwjqutbbfE887SVc5Yd</kbd></small></li>
				<li><small><kbd class="inova-custom-kbd nowrap">&gt; BS8bqB1kqkinKJjuxL6k072Qq9NRwQpR</kbd></small></li>
			</ul>
		</p>
		<hr>
		<p>Я пытался войти с обоими паролями, но они не работали. Я вспомнил, что на предыдущем уровне было сказано, что все пароли хранятся в папке <small><kbd class="inova-custom-kbd nowrap">/etc/bandit_pass</kbd></small>, в которую я <small><kbd class="inova-custom-kbd nowrap">cd</kbd></small>, а затем я запустил команду <small><kbd class="inova-custom-kbd nowrap">cat bandit17</kbd></small>, и мне удалось получить пароль, который я попытался, и я удалось войти.</p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit17</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> xLYVMN9WE5zQ5vHacb0sZEVqbrp7nBTn</small></p>
			</div>
		</div>
		<hr>
	</small>

</div>