<div>
	<small>
		<p>Как и в предыдущем упражнении, в папке <small><kbd class="inova-custom-kbd nowrap">/etc/cron.d</kbd></small> есть конфигурация задания <small><kbd class="inova-custom-kbd nowrap">cron</kbd></small>. Когда я прочитал файл, я увидел, что это еще один сценарий <small><kbd class="inova-custom-kbd nowrap">bash</kbd></small>, который запускается каждую минуту.</p>
		<hr>
		<p>Затем я <small><kbd class="inova-custom-kbd nowrap">cd</kbd></small> в папку <small><kbd class="inova-custom-kbd nowrap">/usr/bin/</kbd></small> <small><kbd class="inova-custom-kbd nowrap">cat</kbd></small> файл, чтобы посмотреть, что он делает.</p>
		<hr>
		<p>Согласно этому скрипту, он сохраняет имя пользователя, запустившего скрипт, который, согласно подсказке, является <small><kbd class="inova-custom-kbd nowrap">bandit23</kbd></small>, в переменную <small><kbd class="inova-custom-kbd nowrap">myname</kbd></small>. Затем он запускает команду <small><kbd class="inova-custom-kbd nowrap">echo</kbd></small>, которая отправляет строку <small><kbd class="inova-custom-kbd nowrap">I am user bandit23</kbd></small> команде <small><kbd class="inova-custom-kbd nowrap">md5sum</kbd></small>, которая хеширует строку, а затем передает эту информацию команде <small><kbd class="inova-custom-kbd nowrap">cut</kbd></small>, которая вставляет выходную строку в 1-ю часть, которая является фактическим хэшем. </p>
		<hr>
		<p>После завершения этой части хэш сохраняется в переменной с именем <small><kbd class="inova-custom-kbd nowrap">mytarget</kbd></small>, хэш имеет вид <small><kbd class="inova-custom-kbd nowrap">8ca319486bfbbc3663ea0fbe81326349</kbd></small>. Следующая часть скрипта заключается в том, что он копирует пароль для <small><kbd class="inova-custom-kbd nowrap">bandit23</kbd></small> в папку <small><kbd class="inova-custom-kbd nowrap">/tmp/</kbd></small> в файл <small><kbd class="inova-custom-kbd nowrap">mytarget</kbd></small>. Затем я <small><kbd class="inova-custom-kbd nowrap">cat /tmp/8ca319486bfbbc3663ea0fbe81326349</kbd></small>, который возвращает пароль на следующий уровень.</p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit23</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> jc1udXuA1tiHqjIsL8yaapX5XIAI6i0n</small></p>
			</div>
		</div>
		<p></p>
		<p></p>
	</small>

</div>