<div>
	<small>
		<p>Пароль для следующего уровня хранится в файле <small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small> рядом со словом <small><kbd class="inova-custom-kbd nowrap">millionth</kbd></small>.</p>
		<p>Когда я вошел в профиль, я увидел файл <small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small>, и когда я его прочитал, появилось множество строк, и казалось, что все строки имеют одинаковую структуру. Это было слово, за которым следовало несколько пробелов, а затем возможный пароль. Подсказка заключалась в том, что пароль находится рядом со словом <small><kbd class="inova-custom-kbd nowrap">millionth</kbd></small>, поэтому я использовал приведенную ниже команду, чтобы прочитать файл, а затем выполнить поиск слова <small><kbd class="inova-custom-kbd nowrap">millionth</kbd></small>.</p>
		<p><small><kbd class="inova-custom-kbd nowrap">cat data.txt | grep millionth</kbd></small></p>
		<p>Команда возвращает только 1 строку и содержит пароль: <small><kbd class="inova-custom-kbd nowrap">millionth cvX2JJa4CFALtqS87jk27qwqGhBM9plV</kbd></small></p>
	</small>

</div>