<div>
	<small>
		<p>Ну так как я сделал это на предыдущем уровне. Я запустил <small><kbd class="inova-custom-kbd nowrap">diff password.new passwords.old</kbd></small> и получил следующий вывод:</p>
		<p>
			<ul>
				<li><small><kbd class="inova-custom-kbd nowrap">&lt; kfBf3eYk5BPBRzwjqutbbfE887SVc5Yd</kbd></small></li>
				<li><small><kbd class="inova-custom-kbd nowrap">&gt; BS8bqB1kqkinKJjuxL6k072Qq9NRwQpR</kbd></small></li>
			</ul>
		</p>
		<p>Я попытался войти с обоими паролями, но сработал только первый, и, как и говорилось в подсказке, я получил сообщение <i>«Bye!»</i> вывод, и меня выгнали.</p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit18</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> kfBf3eYk5BPBRzwjqutbbfE887SVc5Yd</small></p>
			</div>
		</div>
		<p></p>
		<p></p>
		<p></p>
	</small>

</div>