<div>
	<small>
		<p>Как сказано в задаче я должен был клонировать репозиторий, для этого я прочитал про <small><kbd class="inova-custom-kbd nowrap">git</kbd></small> и нашел команду <small><kbd class="inova-custom-kbd nowrap">git clone</kbd></small>. И пробовал его использовать <small><kbd class="inova-custom-kbd nowrap">git clone ssh://bandit27-git@localhost/home/bandit27-git/repo</kbd></small>.</p>
		<p>Так как у меня нету разрешение на текущую папку мне выдало <small><kbd class="inova-custom-kbd nowrap">permission denied</kbd></small>, после этого я сделал <small><kbd class="inova-custom-kbd nowrap">cd</kbd></small> на <small><kbd class="inova-custom-kbd nowrap">tmp</kbd></small> и создал папку <small><kbd class="inova-custom-kbd nowrap">newgit</kbd></small> и там сделал. Все получилось и мы прочитаем <i>README</i>.</p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit28</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> 0ef186ac70e04ea33b4c1853d2526fa2</small></p>
			</div>
		</div>
		<p></p>
		<p></p>
		<p></p>
		<p></p>
	</small>

</div>