<div>
	<small>
		<p>Сначала нам нужно создать папку в каталоге <small><kbd class="inova-custom-kbd nowrap">tmp</kbd></small>, для этого запустим <small><kbd class="inova-custom-kbd nowrap">mkdir /tmp/idk</kbd></small>. Это даст нам ошибку разрешения, которую можно обойти, добавив параметр <small><kbd class="inova-custom-kbd nowrap">-p</kbd></small>, который создаст необходимые родительские каталоги для создания папки, как описано на странице руководства <small><kbd class="inova-custom-kbd nowrap">mkdir</kbd></small>. После создания папки я скопировал файл <small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small> в папку с <small><kbd class="inova-custom-kbd nowrap">cp data.txt/tmp/idk</kbd></small>. Чтобы расшифровать шестнадцатеричный дамп файла, я запустил <small><kbd class="inova-custom-kbd nowrap">xxd -r data.txt > bandit</kbd></small>, который переворачивает шестнадцатеричный дамп и сохраняет его в файл с именем <small><kbd class="inova-custom-kbd nowrap">bandit</kbd></small>. В подсказке говорилось, что файл был сжат несколько раз, поэтому я запустил <small><kbd class="inova-custom-kbd nowrap">file bandit</kbd></small>, чтобы посмотреть, может ли он определить используемый метод сжатия. Вывод для команды был:</p>
		<hr>
		<p><pre><kbd class="inova-custom-kbd nowrap">bandit: gzip compressed data, was "data2.bin", from Unix, last modified: Fri Nov 14 10:32:20 2014, max compression</kbd></pre></p>
		<hr>
		<p>В выводе говорится, что он был сжат с помощью <b>gzip</b>, поэтому мы можем добавить к файлу расширение <small><kbd class="inova-custom-kbd nowrap">.gz</kbd></small>, чтобы увидеть, что внутри. Для этого мы запускаем <small><kbd class="inova-custom-kbd nowrap">mv bandit bandit.gz</kbd></small>, это создаст файл, и для его распаковки я запустил <small><kbd class="inova-custom-kbd nowrap">gunzip bandit.gz</kbd></small>, который дал нам файл с именем <small><kbd class="inova-custom-kbd nowrap">bandit</kbd></small>. Я попытался прочитать файл с помощью <small><kbd class="inova-custom-kbd nowrap">cat</kbd></small>, но заметил, что он по-прежнему отображает двоичные данные. Я снова запустил <small><kbd class="inova-custom-kbd nowrap">file bandit</kbd></small>, чтобы посмотреть, что они использовали для сжатия файла. Вывод ниже:</p>
		<hr>
		<p><pre><kbd class="inova-custom-kbd nowrap">bandit: bzip2 compressed data, block size = 900k</kbd></pre></p>
		<hr>
		<p>В нем говорится, что сжатие было выполнено с помощью <small><kbd class="inova-custom-kbd nowrap">bzip2</kbd></small>, поэтому я добавил расширение <small><kbd class="inova-custom-kbd nowrap">bzip2</kbd></small> с <small><kbd class="inova-custom-kbd nowrap">mv bandit bandit.bz2</kbd></small> и разархивировал файл с помощью команды <small><kbd class="inova-custom-kbd nowrap">bzip2 -d bandit.bzip2</kbd></small>, что дало нам еще один бандитский файл. Я запустил <small><kbd class="inova-custom-kbd nowrap">file bandit</kbd></small>, и результат ниже:</p>
		<hr>
		<p><pre><kbd class="inova-custom-kbd nowrap">bandit: gzip compressed data, was "data4.bin", from Unix, last modified: Fri Nov 14 10:32:20 2014, max compression</kbd></pre></p>
		<hr>
		<p><pre><kbd class="inova-custom-kbd nowrap">bandit: POSIX tar archive (GNU)</kbd></pre></p>
		<hr>
		<p>Следующее сжатие было выполнено с помощью <small><kbd class="inova-custom-kbd nowrap">tar</kbd></small>, поэтому мы должны добавить расширение <small><kbd class="inova-custom-kbd nowrap">tar</kbd></small>. к файлу с помощью <small><kbd class="inova-custom-kbd nowrap">mv bandit bandit.tar</kbd></small>, чтобы распаковать его, я запустил <small><kbd class="inova-custom-kbd nowrap">tar -xf bandit.tar</kbd></small>, чтобы извлечь все файлы. Команда дала нам файл с именем <small><kbd class="inova-custom-kbd nowrap">data5.bin</kbd></small>, я запустил <small><kbd class="inova-custom-kbd nowrap">file data5.bin</kbd></small> и получил следующий вывод:</p>
		<hr>
		<p><pre><kbd class="inova-custom-kbd nowrap">data5.bin: tar-архив POSIX (GNU)</kbd></pre></p>
		<hr>
		<p>Файл все еще был сжат с помощью <small><kbd class="inova-custom-kbd nowrap">tar</kbd></small>, поэтому я добавил, изменил расширение <small><kbd class="inova-custom-kbd nowrap">.bin</kbd></small> на расширение <small><kbd class="inova-custom-kbd nowrap">.tar</kbd></small> и распаковал файл, и мы получили новый файл с именем <small><kbd class="inova-custom-kbd nowrap">data6.bin</kbd></small>. Я запустил <small><kbd class="inova-custom-kbd nowrap">file data6.bin</kbd></small>, и результат был следующим:</p>
		<hr>
		<p><pre><kbd class="inova-custom-kbd nowrap">data6.bin: bzip2 compressed data, block size = 900k</kbd></pre></p>
		<hr>
		<p>Файл был снова сжат с помощью <small><kbd class="inova-custom-kbd nowrap">bzip2</kbd></small>, поэтому я изменил расширение <small><kbd class="inova-custom-kbd nowrap">.bin</kbd></small> на расширение <small><kbd class="inova-custom-kbd nowrap">.bz2</kbd></small> и разархивировал файл, что дало нам файл с именем <small><kbd class="inova-custom-kbd nowrap">data6</kbd></small>. Я запустил <small><kbd class="inova-custom-kbd nowrap">file data6</kbd></small>, и результат был таким:</p>
		<hr>
		<p><pre><kbd class="inova-custom-kbd nowrap">data6: POSIX tar archive (GNU)</kbd></pre></p>
		<hr>
		<p>Файл все еще не полностью распакован, потому что они сжали его с помощью <small><kbd class="inova-custom-kbd nowrap">tar</kbd></small>. Я добавил расширение <small><kbd class="inova-custom-kbd nowrap"><.tar/kbd></small> и извлек данные, которые дали нам файл с именем <small><kbd class="inova-custom-kbd nowrap">data8.bin</kbd></small>. После запуска <small><kbd class="inova-custom-kbd nowrap">file data8.bin</kbd></small> я увидел следующий вывод:</p>
		<hr>
		<p><pre><kbd class="inova-custom-kbd nowrap">data8.bin: gzip compressed data, was "data9.bin", from Unix, last modified: Fri Nov 14 10:32:20 2014, max compression</kbd></pre></p>
		<hr>
		<p>Файл был сжат с помощью <small><kbd class="inova-custom-kbd nowrap">gzip</kbd></small>, поэтому я изменил расширение, а затем разархивировал файл. Я получил новый файл с именем <small><kbd class="inova-custom-kbd nowrap">data8</kbd></small>, и когда я запустил <small><kbd class="inova-custom-kbd nowrap">file data8</kbd></small>, он сказал, что данные содержат текст ASCII, означающий, что мы, наконец, достигли конца уровней сжатия. Я запустил <small><kbd class="inova-custom-kbd nowrap">cat data8</kbd></small> и получил следующий пароль:</p>
		<hr>
		<br>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit13</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> 8ZjyCRiBWFYkneahHwxCv3wb2a1ORpYL</small></p>
			</div>
		</div>
	
	</small>

</div>