<div>
	<small>
		<p>Для этого уровня я создал скрипт, который запускает цикл <small><kbd class="inova-custom-kbd nowrap">for</kbd></small>, который создает все возможные комбинации из 4 цифр, а затем сохраняет вывод в текстовый файл с именем <small><kbd class="inova-custom-kbd nowrap">test.txt</kbd></small>. Каждая строка сохраняется с паролем для <small><kbd class="inova-custom-kbd nowrap">bandit24</kbd></small> впереди, за которым следует пробел и 4-значный код. Скрипт, который я написал, приведен ниже:</p>
		<hr>
		<div class="inova-custom-kbd">
				<small>
					<pre>
  
  bandit24@bandit:/tmp/24$ cat script.sh
					
  #!/bin/bash
  for i in {1..10000} 
  do
    echo "UoMYTrfrBFHyQXmg6gzctqAwOmw1IohZ $i" >> ./test.txt
  done
					</pre>
				</small>
		</div>
		<hr>
		<p>Чтобы запустить скрипт, я запустил <small><kbd class="inova-custom-kbd nowrap">bash script.sh</kbd></small>, и это создало выходной файл со всеми комбинациями. Затем я прочитал файл с <small><kbd class="inova-custom-kbd nowrap">cat</kbd></small>, чтобы убедиться, что он работает и работает. Затем я приступил к отправке информации сетевому демону. Для этого я запустил <small><kbd class="inova-custom-kbd nowrap">cat output.txt | nc localhost 30002</kbd></small>. Эта команда отправляет каждую строку на порт <b>30002</b>, используя <small><kbd class="inova-custom-kbd nowrap">nc</kbd></small>, а вывод результата будет сохранен в файле с именем <small><kbd class="inova-custom-kbd nowrap">password.txt</kbd></small>.</p>
		<p>Этот файл был заполнен дубликатами, говорящими: <i>«Неправильно! Пожалуйста, введите правильный пин-код. Попробуйте еще раз»</i>, поэтому я запустил команду <small><kbd class="inova-custom-kbd nowrap">sort -u password.txt</kbd></small>, которая дала мне следующий вывод, а также пароль для</p>
		<hr>
			<div class="d-flex align-items-center flex-column">
				<div>
					<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit25</small></p>
					<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> uNG9O58gUE7snukf3bvZ0rxhtnjzSGzG</small></p>
				</div>
			</div>
		<p></p>
		<p></p>
	</small>

</div>