<div>
	<small>
		<p>Пароль для следующего уровня хранится в <small><kbd class="inova-custom-kbd nowrap">/etc/bandit_pass/bandit14</kbd></small> и может быть прочитан только пользователем <small><kbd class="inova-custom-kbd nowrap">bandit14</kbd></small>. Для этого уровня вы не получаете следующий пароль, но получаете закрытый <b>SSH-ключ</b>, который можно использовать для входа на следующий уровень. Примечание: <small><kbd class="inova-custom-kbd nowrap">localhost</kbd></small> — это имя хоста, относящееся к машине, на которой вы работаете.</p>
		<p>Когда я вошел в систему и запустил <small><kbd class="inova-custom-kbd nowrap">ls</kbd></small>, я увидел файл с именем <small><kbd class="inova-custom-kbd nowrap">sshkey.private</kbd></small>, который должен быть закрытым ключом SSH, о котором говорила подсказка. Чтобы войти в профиль пользователя <small><kbd class="inova-custom-kbd nowrap">bandit14</kbd></small>, я ввел <small><kbd class="inova-custom-kbd nowrap">ssh -i sshkey.private bandit14@localhost</kbd></small>.</p>
		<p>Параметр <small><kbd class="inova-custom-kbd nowrap">-i</kbd></small> означает, что я использую идентификационный файл для входа в систему <small><kbd class="inova-custom-kbd nowrap">bandit14</kbd></small> на сервере, поскольку все пользователи <i>bandit</i> находятся на одной машине. После входа в <i>bandit14</i> я запустил <small><kbd class="inova-custom-kbd nowrap">cd /etc/bandit_pass/</kbd></small>, как указано в подсказке, а затем я прочитал файл <small><kbd class="inova-custom-kbd nowrap">bandit14</kbd></small>, который дал нам следующий пароль: <small><kbd class="inova-custom-kbd nowrap">4wcYUJFw0k0XLSHlDzztnTBHiqxU3b3e</kbd></small></p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit14</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> 4wcYUJFw0k0XLSHlDzztnTBHiqxU3b3e</small></p>
			</div>
		</div>
	</small>

</div>