<div>
	<small>
		<p>Я попытался подключиться к порту <b>30001</b> с помощью приведенной ниже команды, которая, похоже, сработала, и я смог ввести пароль <i>bandit15</i>.</p>
		<p><pre><kbd class="inova-custom-kbd nowrap">openssl s_client -connect localhost:30001</kbd></pre></p>
		<p>После того, как я ввел пароль, я получил следующее сообщение:</p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<small>
			<div>
				<p>BfMYroe26WYalil77FoDi9qh59eK5xNr</p>
				<p>HEARTBEATING</p>
				<p>read R BLOCK</p>
				<p>read:errno=0</p>
			</div>
			</small>
		</div>
		<hr>
		<p>Это сообщение об ошибке, о котором говорила подсказка. Прочитав справочную страницу <i>openssl</i>, я попытался найти шаблон - <small><kbd class="inova-custom-kbd nowrap">ign_eof</kbd></small>, нажав клавишу <small><kbd class="inova-custom-kbd nowrap">/</kbd></small> и набрав строку. Однако мне ничего не удалось найти по этому поводу. Затем я попытался посмотреть, какие параметры доступны для <small><kbd class="inova-custom-kbd nowrap">s_client</kbd></small>, запустив <small><kbd class="inova-custom-kbd nowrap">openssl s_client -h</kbd></small>, что не было допустимой командой, но я получил все параметры для <small><kbd class="inova-custom-kbd nowrap">s_client</kbd></small>.</p> 
		<p>Затем я смог найти опцию <small><kbd class="inova-custom-kbd nowrap">-ign_eof</kbd></small>, о которой говорила подсказка. Как объясняется в руководстве, <small><kbd class="inova-custom-kbd nowrap">-ign_eof</kbd></small> игнорирует ввод <small><kbd class="inova-custom-kbd nowrap">eof</kbd></small>. Когда мы запустим команду ниже, и я набрал пароль для <i>bandit15</i>, я получил новый пароль.</p>
		<p><pre><kbd class="inova-custom-kbd nowrap">openssl s_client -ign_eof -connect localhost:30001</kbd></pre></p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit16</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> cluFn7wTiGryunymYOu4RcffSxQluehd</small></p>
			</div>
		</div>
		<hr>
	</small>

</div>