<div>
	<small>
		<p>Согласно подсказке, в <small><kbd class="inova-custom-kbd nowrap">/etc/cron.d/</kbd></small> есть конфигурация для задания <small><kbd class="inova-custom-kbd nowrap">cron</kbd></small>, которая поможет нам пройти этот уровень. <i>Cron</i> — это программа, которая запускает определенную команду или сценарий в определенное время или через определенные промежутки времени. Когда я перешел в папку <small><kbd class="inova-custom-kbd nowrap">/etc/cron.d/</kbd></small> и запустил <small><kbd class="inova-custom-kbd nowrap">ls</kbd></small>, я увидел несколько файлов, но предположил, что нам нужно посмотреть файл с именем <small><kbd class="inova-custom-kbd nowrap">cronjob_bandit22</kbd></small>, так как мне нужно получить <small><kbd class="inova-custom-kbd nowrap">bandit22</kbd></small>. с пароль. Я использовал <small><kbd class="inova-custom-kbd nowrap">cat cronjob_bandit22</kbd></small>, чтобы увидеть, что делает задание <small><kbd class="inova-custom-kbd nowrap">cron</kbd></small>. Я увидел, что он выполняет сценарий <small><kbd class="inova-custom-kbd nowrap">bash</kbd></small> каждую минуту каждого часа, как было объяснено звездами в начале.</p>
		<hr>
		<p>Синтаксис <small><kbd class="inova-custom-kbd nowrap">cron</kbd></small> указывает, что числа будут указывать время запуска скрипта. Синтаксис будет искать минуты, часы, дни месяцев, месяцы и дни недели. Так как есть все <b>*</b> то скрипт запускается каждую минуту. Узнав, когда скрипт будет выполнен, я должен выяснить, что делает скрипт. Я перехожу в папку <small><kbd class="inova-custom-kbd nowrap">/usr/bin/</kbd></small> и читаю файл <small><kbd class="inova-custom-kbd nowrap">bash</kbd></small>, используя <small><kbd class="inova-custom-kbd nowrap">cat</kbd></small>, чтобы посмотреть, что он делает.</p>
		<hr>
		<p>Сценарий, по-видимому, назначает текст в файле паролей <small><kbd class="inova-custom-kbd nowrap">bandit22</kbd></small> как содержимое файла <small><kbd class="inova-custom-kbd nowrap">t7O6lds9S0RqQh9aMcz6ShpAoZKF7fgv</kbd></small> внутри папки <small><kbd class="inova-custom-kbd nowrap">/tmp</kbd></small>. Я выполнил команду <small><kbd class="inova-custom-kbd nowrap">cat /tmp/t7O6lds9S0RqQh9aMcz6ShpAoZKF7fgv</kbd></small> и получил пароль для следующего уровня.</p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit22</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> Yk7owGAcWjwMVRwrTesJEwB7WVOiILLI</small></p>
			</div>
		</div>
	</small>

</div>