<div>
	<small>
		<p>В этом уровне клонируем репозиторий как  и в предыдущем.</p>
		<p>В файле <small><kbd class="inova-custom-kbd nowrap">README</kbd></small> нет пароля. Теперь мы проверяем зафиксированную историю этого репо с помощью <small><kbd class="inova-custom-kbd nowrap">git log</kbd></small>.</p>
		<p>Очевидно, утечка пароля была устранена. Используйте команду <small><kbd class="inova-custom-kbd nowrap"></kbd></small>git log с опцией <small><kbd class="inova-custom-kbd nowrap">-p</kbd></small>, которая показывает разницу, представленную в каждой фиксации. Мы также можем использовать опцию <small><kbd class="inova-custom-kbd nowrap">-1</kbd></small>, которая ограничивает вывод только последней записью.</p>
		<hr>
		<div class="inova-custom-kbd">
				<small>
					<pre>
  
 bandit28@bandit:/tmp/secttp/repo$ git log -p -1
 commit 073c27c130e6ee407e12faad1dd3848a110c4f95
 Author: Morla Porla <morla@overthewire.org>
 Date:   Tue Oct 16 14:00:39 2018 +0200
 fix info leak
 diff --git a/README.md b/README.md
 index 3f7cee8..5c6457b 100644
 --- a/README.md
 +++ b/README.md
 @@ -4,5 +4,5 @@ Some notes for level29 of bandit.
 ## credentials- 
 username: bandit29
 -- password: bbc96594b4e001778eee9975372716b2
 +- password: xxxxxxxxxx
					</pre>
				</small>
		</div>
		<p></p>
		<p></p>
		<p></p>
	</small>

</div>