<div>
	<small>
		<p>Этот уровень похож на два предыдущих. Конфигурация задания cron находится в <small><kbd class="inova-custom-kbd nowrap">etc/cron.d/</kbd></small>, а имя файла — <small><kbd class="inova-custom-kbd nowrap">cronjob_bandit24</kbd></small>. Задание <small><kbd class="inova-custom-kbd nowrap">cron</kbd></small> запускает скрипт с именем <small><kbd class="inova-custom-kbd nowrap">cronjob_bandit24</kbd></small> в каталоге <small><kbd class="inova-custom-kbd nowrap">/usr/bin/</kbd></small>. Перейдя в этот каталог и прочитав скрипт, я вижу, что скрипт запускается, а затем удаляет все скрипты в папке <small><kbd class="inova-custom-kbd nowrap">/var/spool/bandi24</kbd></small>. Во второй подсказке они заявляют, что я должен написать свой собственный скрипт и поместить его в эту папку, когда он будет выполняться.</p>
		<p>Затем я <small><kbd class="inova-custom-kbd nowrap">cd</kbd></small> в папку <small><kbd class="inova-custom-kbd nowrap">/var/spool/bandit24</kbd></small> и создал скрипт с именем <small><kbd class="inova-custom-kbd nowrap">bandit24test.sh</kbd></small> и внутри я написал следующие команды:</p>
		<hr>
		<div class="inova-custom-kbd">
				<small>
				<pre>

 #!/bin/bash
 cat /etc/bandit_pass/bandit24 > /tmp/pleasework
				</pre>
				</small>
		</div>
		<hr>
		<p>После сохранения сценария я использовал <small><kbd class="inova-custom-kbd nowrap">chmod</kbd></small>, чтобы настроить разрешения, чтобы любой мог его выполнить. Для этого я запустил <small><kbd class="inova-custom-kbd nowrap">chmod 777 bandit24test.sh</kbd></small> и дождался, пока часы дойдут до следующей минуты.</p>
		<p>Как только я увидел, что скрипта больше нет, я понял, что задание cron было выполнено, и затем я запустил <small><kbd class="inova-custom-kbd nowrap">cat /tmp/pleasework</kbd></small> и получил пароль для <i>bandit24</i>:</p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit24</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> UoMYTrfrBFHyQXmg6gzctqAwOmw1IohZ</small></p>
			</div>
		</div>
	</small>

</div>