<div>
	<small>
		<p>Пароль для следующего уровня можно получить, отправив пароль текущего уровня на порт <b>30000</b> на локальном хосте.</p>
		<p>Согласно подсказке, мы должны подключиться к порту <b>30000</b> на локальном хосте и отправить строку, содержащую текущий пароль. Для этого я запустил <small><kbd class="inova-custom-kbd nowrap">nc localhost 30000</kbd></small>, и как только я увидел, что я подключен, я вставил пароль для <small><kbd class="inova-custom-kbd nowrap">bandit14</kbd></small>, а затем получил следующий вывод: <i>Correct!</i></p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> BfMYroe26WYalil77FoDi9qh59eK5xNr</small></p>
			</div>
		</div>
		<p></p>
		<p></p>
	</small>

</div>