<div><small>
	<p>Для начала я «перешел» в папку <small><kbd class="inova-custom-kbd nowrap">inhere</kbd></small> и запустил <small><kbd class="inova-custom-kbd nowrap">ls</kbd></small>, чтобы увидеть файлы и папки, и заметил, что там была куча папок и внутри этих папок пара файлов.</p>
	<p>Я соединил их вместе с заданными свойствами и запустил команду <small><kbd class="inova-custom-kbd nowrap">find</kbd></small> ниже:</p>
	<p><small><kbd class="inova-custom-kbd nowrap">find -type f -size 1033c ! -executable</kbd></small></p>
	<p>Он ищет файл размером <b>1033 байта</b>, и он не является исполняемым. Вывод был <small><kbd class="inova-custom-kbd nowrap">./maybehere07/.file2</kbd></small>, а затем я прочитал файл и увидел, что пароль: <small><kbd class="inova-custom-kbd nowrap">DXjZPULLxYr17uwoI01bNLQbtFemEgo7</kbd></small>.</p>
</small></div>