<div>
	<small>
		<p>Чтобы получить доступ к следующему уровню, вы должны использовать двоичный файл <small><kbd class="inova-custom-kbd nowrap">setuid</kbd></small> в домашнем каталоге. Выполните его без аргументов, чтобы узнать, как его использовать. Пароль для этого уровня можно найти в обычном месте (<small><kbd class="inova-custom-kbd nowrap">/etc/bandit_pass</kbd></small>) после того, как вы использовали бинарный файл <small><kbd class="inova-custom-kbd nowrap">setuid</kbd></small>.</p>
		<hr>
		<p>После входа в профиль <small><kbd class="inova-custom-kbd nowrap">bandit19</kbd></small> я запустил <small><kbd class="inova-custom-kbd nowrap">ls</kbd></small> и увидел двоичный файл с именем <small><kbd class="inova-custom-kbd nowrap">bandit20-do</kbd></small>. В подсказке говорилось, что мне нужно выполнить файл, поэтому я сделал это с помощью команды <small><kbd class="inova-custom-kbd nowrap">./bandit20-do</kbd></small>.</p>
		<hr>
		<p>В выводе говорилось: <i>«Выполните команду от имени другого пользователя. Пример: <small><kbd class="inova-custom-kbd nowrap">./bandit20-do id</kbd></small>. Затем я запустил <small><kbd class="inova-custom-kbd nowrap">./bandit20-do id</kbd></small> и смог увидеть информацию об идентификаторе <small><kbd class="inova-custom-kbd nowrap">bandit20</kbd></small></i>.</p>
		<hr>
		<p>Сценарий, кажется, делает то, что он сказал: <i>«запустите команду от имени другого пользователя»</i>. Поскольку пароль для <small><kbd class="inova-custom-kbd nowrap">bandit20</kbd></small> находится в <small><kbd class="inova-custom-kbd nowrap">/etc/bandit_pass/</kbd></small>, я решил запустить <small><kbd class="inova-custom-kbd nowrap">./bandit20-do cat /etc/bandit_pass/bandit20</kbd></small>, так как только <small><kbd class="inova-custom-kbd nowrap">bandit20</kbd></small> может прочитать файл.</p>
		<hr>
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> bandit20</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> GbKksEFF4yrVs6il55v6gwY5aVje5f0j</small></p>
			</div>
		</div>
		<p></p>
		<p></p>
		<p></p>
	</small>

</div>