
<footer th:fragment="footer">

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.min.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.min.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script> -->
  
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
	
  <!-- Template Main JS File -->
  <script src="/assets/js/js-cookie.min.js"></script>
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/ui.js"></script>
  
</footer>