<aside th:fragment="sidebar" id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link" id="nav-link-main" href="/">
          <i class="bi bi-grid"></i>
          <span>Главное меню</span>
        </a>
      </li><!-- End Main Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" id="nav-link-theory" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>Теория</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="/module1">
              <i class="bi bi-circle"></i><span>Модуль 1</span>
            </a>
          </li>
          <li>
            <a href="/module2">
              <i class="bi bi-circle"></i><span>Модуль 2</span>
            </a>
          </li>
          <li>
            <a href="/module3">
              <i class="bi bi-circle"></i><span>Модуль 3</span>
            </a>
          </li>
          <li>
            <a href="module4">
              <i class="bi bi-circle"></i><span>Модуль 4</span>
            </a>
          </li>
          <li>
            <a href="/module5">
              <i class="bi bi-circle"></i><span>Модуль 5</span>
            </a>
          </li>
        </ul>
      </li><!-- End Lab Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" id="nav-link-cheatsheet" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Шпаргалка</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="forms-elements.html">
              <i class="bi bi-circle"></i><span>Linux</span>
            </a>
          </li>
          <li>
            <a href="forms-layouts.html">
              <i class="bi bi-circle"></i><span>Windows</span>
            </a>
          </li>
        </ul>
      </li><!-- End Shpargalka Nav -->
      
      <li class="nav-item">
        
        <a class="nav-link collapsed" id="nav-link-linux-essentials"  href="/linux-essentials">
        	<i class="bi bi-journal-text"></i><span>Основы Linux</span>
        </a>
        <ul id="progress-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        </ul>
      </li><!-- End Progress Nav -->


      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="users-profile.html">
          <i class="bi bi-person"></i>
          <span>Профайл</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>F.A.Q</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Выйти</span>
        </a>
      </li><!-- End Login Page Nav -->

      

    </ul>

  </aside><!-- End Sidebar-->