<div class="me-3" class="me-3 module-1-page-2">

	 <h5 class="card-title custom-title-for-change"><b>6. Настроить новое сканирование – By Module</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Давайте посмотрим на вкладку <small><kbd class="inova-custom-kbd nowrap">By Module</kbd></small>, где мы можем выбрать, какие модули должны запускаться SpiderFoot. Модули можно описать как источники данных, используемые SpiderFoot для выполнения своего анализа. Не торопитесь, чтобы просмотреть различные источники данных, это довольно внушительный список. Обратите внимание, что для некоторых из них требуется ключ API <i>(обозначен маленьким значком «замок»)</i>.</p>
			<p class="ms-3">Некоторые из доступных модулей включают:</p>
			<p class="ms-3">
			<small>
				<ul>
					<li class="mt-1">Поисковые системы, такие как Bing и DuckDuckGo</li>
					<li class="mt-1">Сайты с информацией об угрозах, такие как AlienVault OTX</li>
					<li class="mt-1">Архивная версия веб-сайтов с archive.org</li>
				</ul>
			</small>
			</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-14-ss-6.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>7. Запустите пассивное сканирование для XYZ</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Вы могли заметить, что один из модулей даже включает в себя сканер портов TCP. Поэтому рекомендуется действовать осторожно при запуске полного сканирования цели <i>(убедитесь, что у вас есть разрешение)</i>.</p>
			<p class="ms-3">Вернемся на вкладку <small><kbd class="inova-custom-kbd nowrap">By Use Case</kbd></small> и запустим пассивное сканирование для XYZ, которое будет запрашивать информацию о ресурсе в онлайн-источниках данных, фактически не касаясь самой цели. Учтите, что «<b>полное</b>» сканирование может занять довольно много времени. Настройте SpiderFoot и нажмите <small><kbd class="inova-custom-kbd nowrap">Run Scan</kbd></small></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>8. Сканирование запущено</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Как только вы нажмете кнопку <small><kbd class="inova-custom-kbd nowrap">run scan</kbd></small>, SpiderFoot начнет сбор данных. Вам будет представлен экран, аналогичный показанному на скриншоте. По мере поступления результатов вы будете видеть их в режиме реального времени. Вы также можете четко видеть, что сканирование все еще находится в «запущенном» состоянии.</p>
	  		<hr>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-14-ss-8.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>9. Просмотр результатов</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пока сканирование продолжается, можете щелкать вкладку <small><kbd class="inova-custom-kbd nowrap">Browse</kbd></small>, где вы можете увидеть список всех идентифицированных элементов. Просмотрите подробности, чтобы получить дополнительную информацию.</p>
			<p class="ms-3">Пассивное сканирование будет полагаться на общедоступные данные <i>(например, информацию поисковой системы)</i>, для которых не нужно напрямую взаимодействовать с целью.</p>
			<hr class="ms-3">
			<p class="ms-3"><u>SpiderFoot</u> также включает «График», в котором он пытается показать взаимосвязи между различными фрагментами информации, которые он идентифицировал.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-14-ss-9.png">
	  <hr>
	  
	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title custom-title-for-change"><b>10. Экспорт данных</b></h5>
      <div class="inova-custom-border">
			<p class="ms-3">После завершения сканирования мы можем легко извлечь его в виде файла CSV для хранения или дальнейшего анализа. На вкладке <small><kbd class="inova-custom-kbd nowrap">Browse</kbd></small> щелкните зеленый значок <small><kbd class="inova-custom-kbd nowrap">Download</kbd></small> справа. Вам будет представлен файл CSV, который можно сохранить для последующего анализа.</p>
	  </div>
	  <hr>
	
	<h5 class="card-title custom-title-for-change"><b>11. Заключение лаборатории - <span class="text-success"><b><i class="bi bi-flag" style="font-size: 19px"></i></b></span></b></h5>
	 <div class="inova-custom-border">
		<p class="ms-3">Поздравляем, вы успешно прошли лабораторную работу! Целью лаборатории было внедрение автоматизированной системы разведки <i>(SpiderFoot)</i>. Это может быть использовано для определения того, какие данные организации доступны в Интернете. Если у вас есть разрешение от вашей собственной компании, рекомендуется периодически запускать полное сканирование, чтобы отслеживать, какая информация публикуется в Интернете.</p>
	 </div>
	<hr>
	  
    <!-- End Default Card -->
</div>