
 <div class="me-3" class="me-3 module-1-page-1">
 
 	<h5 class="card-title custom-title-for-change"><b>Автоматическая разведка с использованием SpiderFoot</b></h5>
    <hr>
    <h3 class="card-title custom-title-for-change "><b>Задача</b></h3>
    <div class="inova-custom-border">
   		<p class="ms-3">Задача лаборатории - провести разведку организации с использованием автоматизированного инструмента, такого как <b>SpiderFoot</b>.</p>
    </div>
    <hr>
	
	 <h5 class="card-title custom-title-for-change"><b>Сценарий</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">
					<ul>
						<li class="mt-1">Настройка и запуск SpiderFoot</li>
						<li class="mt-1">Запуск SpiderFoot против целевой компании</li>
						<li class="mt-1">Анализ результатов</li>
					</ul>
			</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>1. Аутентифицироваться в Kali Linux</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">В этой лабораторной работе вы снова возьмете на себя роль злоумышленника и попытаетесь провести разведку против целевой компании. Поскольку <b>KAZLABS</b> — это вымышленная фирма без большого присутствия в Интернете, мы будем использовать другую, реальную, компанию для нашей работы.</p>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>2. Откройте терминал и запустите SpiderFoot</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">После открытия терминала выполните следующие команды для запуска SpiderFoot:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="sudo spiderfoot -l 127.0.0.1:5001" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">sudo spiderfoot -l 127.0.0.1:5001</small></kbd></div>
			<p class="ms-3 mt-3">Пароль:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Awesomesauce123" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">Awesomesauce123</small></kbd></div>
			<p class="ms-3 mt-3">SpiderFoot запустится и сообщит вам, что запустил свой веб-интерфейс на порту 5001 <i>(localhost)</i>.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-14-ss-2.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>3. Откройте браузер и получите доступ к SpiderFoot</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Оставьте окно терминала открытым и запустите браузер Firefox из меню слева. После открытия браузерa перейдите по следующему URL-адресу:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="http://127.0.0.1:5001" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">http://127.0.0.1:5001</small></kbd></div>
			<p class="ms-3 mt-3">Вы попадете на главную страницу SpiderFoot, которая предложит вам создать новое сканирование. Нажмите кнопку <small><kbd class="inova-custom-kbd nowrap">New Scan</kbd></small>. Если вы его не видите, увеличьте размер окна браузера.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-14-ss-3.png">
	  <hr>
	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title custom-title-for-change"><b>4. Настройте новое сканирование</b><i>- дамп паролей</i></h5>
      <div class="inova-custom-border">
			<p class="ms-3">В следующем окне мы теперь можем настроить новое сканирование. Во-первых, можно выбрать 4 различных варианта использования:</p>
			<p class="ms-3">
				<small>
					<ul>
						<li class="mt-1">All</li>
						<li class="mt-1">Footprint</li>
						<li class="mt-1">Investigate</li>
						<li class="mt-1">Passive</li>
					</ul>
				</small>
			</p>
			<p class="ms-3">В зависимости от ваших целей вы можете выбрать наиболее подходящий вариант для вашего анализа. Далее перейдем на вкладку <small><kbd class="inova-custom-kbd nowrap">By Required Data</kbd></small>, это еще один способ настройки сканирования.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-14-ss-4.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>5. Настроить новое сканирование – By Required Data</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Давайте подробнее рассмотрим окно конфигурации сканирования. Далее идет конфигурация <small><kbd class="inova-custom-kbd nowrap">By Required Data</kbd></small>, где мы можем выбрать, какой тип данных следует собирать. Некоторые из данных, которые может собирать SpiderFoot, включают:</p>
			<p class="ms-3">
				<small>
					<ul>
						<li class="mt-1">Информация Whois</li>
						<li class="mt-1">Информация BGP и AS</li>
						<li class="mt-1">Аккаунты в  социальных сетях</li>
						<li class="mt-1">Адреса электронной почты и номера телефонов</li>
						<li class="mt-1">Сайты, занесенные в  черный список</li>
					</ul>
				</small>
			</p>
			<hr class="ms-3">
			<p class="ms-3"><i>Пожалуйста, уделите время изучению, обратите внимание, что каждый из этих параметров данных может быть включен или отключен индивидуально.</i></p>
	  </div>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-14-ss-5.png">
	  <hr>
	  
	  
    <!-- End Default Card -->
</div>