<div th:fragment="right" id="right-content" class="col-lg-4">

  <!-- Recent Activity -->
	<div id="exercise-number" class="card">
            <div class="card-body">
              <h5 class="card-title"><b>Упражнений</b></h5>
              <!-- List group with Links and buttons -->
              <div class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true" id="lab-21">
                  Упражнение 2.1
                </button>
                <button type="button" class="list-group-item list-group-item-action" id="lab-22">Упражнение 2.2</button>
                <button type="button" class="list-group-item list-group-item-action" id="lab-23">Упражнение 2.3</button>
                <button type="button" class="list-group-item list-group-item-action" id="lab-24">Упражнение 2.4</button>
                <button type="button" class="list-group-item list-group-item-action" id="lab-25">Упражнение 2.5</button>
                <button type="button" class="list-group-item list-group-item-action" id="lab-26">Упражнение 2.6</button>
              </div><!-- End List group with Links and buttons -->
           </div>
      </div>
   <!-- End Of Recent Activity -->
   
   <!-- <div id="start-btn" class="wrapper">
		  <div class="link_wrapper">
		    <a class="col-8" href="/day1/split">Начать лабораторию</a>
		  </div>
   </div> -->
   <div class="site-wrapper-1 mt-5" id="start-menu"> <!-- style="border:2px solid #717ff5;" -->
                    <div class="container">
                        			<div class="row mt-5 mb-5">
	                            		<div class="hexagon-menu clear d-flex justify-content-center" id="day1-start-btn">
		                                    <div class="hexagon-item">
		                                        <div class="hex-item">
		                                            <div></div>
		                                            <div></div>
		                                            <div></div>
		                                        </div>
		                                        <div class="hex-item">
		                                            <div></div>
		                                            <div></div>
		                                            <div></div>
		                                        </div>
		                                        <a  class="hex-content">
		                                            <span class="hex-content-inner">
		                                                <span class="icon-hex">
		                                                    <i class="bi bi-pc-display"></i>
		                                                </span>
		                                              <span class="title"><b>Начать</b></span>
		                                            </span>
		                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#FFFFFF"></path></svg>
		                                        </a>
		                                    </div>
	                            		</div>
                        			</div>
                    </div>
                </div>
                
                <div class="overflow-hidden" id="matrix-anime">
    				<canvas id="canv-right"></canvas>
  				</div>
  				
                <script>
                function matrix(){
	              const canvas = document.getElementById('canv-right');
	          	  const ctx = canvas.getContext('2d');
	          	
	          	  let mh = document.querySelector('#main-content');
	          	  let progress = document.querySelector('#exercise-number');
	          	  let hm = document.querySelector('#start-menu');
	          	  

	          	  
	          	  const combinedHeight = progress.offsetHeight + hm.offsetHeight;
	          	  
	          	  if(combinedHeight > mh.offsetHeight){ return;}

	          	  const w = canvas.width = 1000;
	          	  const h = canvas.height = mh.offsetHeight - combinedHeight;
	
	            	// Setting the width and height of the canvas
	
	            	// Setting up the letters
	            	var letters = 'ПОЛИГОНДЕНЬ1ДЕНЬ2ДЕНЬ3ДЕНЬ4ДЕНЬ5DEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZ';
	            	letters = letters.split('');
	
	            	// Setting up the columns
	            	var fontSize = 10,
	            	    columns = canvas.width / fontSize;
	
	            	// Setting up the drops
	            	var drops = [];
	            	for (var i = 0; i < columns; i++) {
	            	  drops[i] = 1;
	            	}
	
	            	// Setting up the draw function
	            	function draw() {
	            	  ctx.fillStyle = 'rgba(246, 249, 255, .45)';
	            	  ctx.fillRect(0, 0, canvas.width, canvas.height);
	            	  for (var i = 0; i < drops.length; i++) {
	            	    var text = letters[Math.floor(Math.random() * letters.length)];
	            	    ctx.fillStyle = '#717ff5';
	            	    ctx.fillText(text, i * fontSize, drops[i] * fontSize);
	            	    drops[i]++;
	            	    if (drops[i] * fontSize > canvas.height && Math.random() > .95) {
	            	      drops[i] = 0;
	            	    }
	            	  }
	            	}
	
	            	// Loop the animation
	            	setInterval(draw, 33);
                }
                
                matrix();
	            	
                </script>

</div><!-- End Right side columns -->