
<div th:fragment="left" class="col-lg-8" id="main-left-column">
  <!-- Default Card -->
  <div class="card" id="main-left">
  	<div class="container">
  	<div class="row mb-3">
    <div class="card-body" >
      <h5 class="card-title"><b>Чему вы научитесь?</b></h5>
      <div class="mb-5" style="border-left: 2px solid #575a89">
      	<p class="ms-3 mt-3">
	      Наше путешествие, состоящее из пяти частей, начнется с анализа недавних атак с помощью углубленных тематических исследований. 
	      Мы объясним, какие типы атак происходят, и представим формальные описания поведения противника, такие как цепочка <b>Kill Chains и  MITRE ATT&CK фреймворк</b>. 
	      Чтобы понять, как работают атаки, вы также скомпрометируете нашу виртуальную организацию <b>"KAZLABS</b>" в упражнениях первого раздела.<br><br>
	      Во втором, третьем, четвертом и пятом разделах мы обсудим, как можно внедрить эффективные средства контроля безопасности для предотвращения, обнаружения и реагирования на кибератаки.
	    </p>
      <br><br>
      </div>
      <hr>
      
      
        </div>
       </div>
       
       <div class="row">
              		
          <h5 class="card-title ms-3 mb-3"><b>Кому следует посетить?</b></h5>
       
       	<div class="col-5">
       		
       		
       		<div class="course-goals ms-2 me-3 w-100 mb-3 d-flex flex-column justify-content-evenly" style="border-right: 2px solid #575a89;height:90%">
       			<p class="ms-3 me-3"><i class="bi bi-caret-right" style="color:#717ff5"></i> <small>Аналитики SOC</small></p>
       			<p class="ms-3 me-3"><i class="bi bi-caret-right" style="color:#717ff5"></i> <small>Пентестеры</small></p>
       			<p class="ms-3 me-3"><i class="bi bi-caret-right" style="color:#717ff5"></i> <small>Специалисты ИБ</small></p>
       			<p class="ms-3 me-3"><i class="bi bi-caret-right" style="color:#717ff5"></i> <small>Сисадмины</small></p>
       		</div>
       		
       	</div>
       	<div class="col-7">
       		<div class="d-flex flex-column justify-content-center align-items-center" style="height:400px">
       			<img class="img-responsive w-100 h-100 ms-4" src="/icons/main-page/undraw_hacker.svg" >
       		</div>
       	</div>
       
       </div>
       
       <br>
       <hr>
       <!-- Accordion without outline borders -->
     <!--  <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <h5 class="card-title"><b>Контенты курса</b></h5>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
             <ul >
           <li><i>Использование <b>MITRE ATT&CK</b> в качестве "общего языка" в организации</i></li><br>
           <li><i>Создание собственного решения <b>Cuckoo sandbox</b> для анализа полезных нагрузок</i></li><br>
           <li><i>Разработка эффективных групповых политик для улучшения выполнения сценариев (включая PowerShell, Windows Script Host, VBA, HTA и т.д.)</i></li><br>
           <li><i>Выделение ключевых стратегий обхода для элементов управления сценариями (неуправляемый Powershell, обход AMSI и т.д.)</i></li><br>
           <li><i>Остановка <b>0-day</b> эксплойтов с помощью защиты от эксплойтов и занесения приложений в белый список</i></li><br>
           <li><i>Выделение ключевых стратегий обхода в белом списке приложений (сосредоточьтесь на AppLocker)</i></li><br>
           <li><i>Обнаружение и предотвращение сохранения вредоносных программ</i></li><br>
           <li><i>Использование эластичного стека в качестве центрального решения для анализа журналов</i></li><br>
           <li><i>Обнаружение и предотвращение бокового перемещения с помощью Sysmon, мониторинга событий Windows и групповых политик</i></li><br>
           <li><i>Блокирование и обнаружение команд и управления с помощью анализа сетевого трафика</i></li><br>
           <li><i>Использование информации об угрозах для улучшения вашей системы безопасности</i></li><br>
       		</ul>End Clean list group
            </div>
          </div>
        </div>
       
        </div> Accordion without outline borders -->
       
       <!-- <div class="row mb-3">
       	<div class="col-4">
       		<div class="d-flex flex-column justify-content-center align-items-center" style="height:400px">
       			<img class="img-responsive w-100 h-100" src="/icons/main-page/undraw_hacker.svg" >
       		</div>
       	</div>
       	<div class="col-12">
       		
       		<h5 class="card-title mb-3 ms-2"><b>Кому следует посетить?</b></h5>
       		
       		<div class="course-goals ms-2 w-100 mb-3 d-flex flex-column justify-content-evenly" style="border-left: 2px solid #575a89;height:90%;overflow:hidden">
       			<p><i class="bi bi-caret-right ms-4" style="color:#717ff5"></i> Аналитики SOC</p>
       			<p><i class="bi bi-caret-right ms-4" style="color:#717ff5"></i> Пентестеры</p>
       			<p><i class="bi bi-caret-right ms-4" style="color:#717ff5"></i> Специалисты ИБ</p>
       			<p><i class="bi bi-caret-right ms-4" style="color:#717ff5"></i> Сетевые администраторы</p>
       		</div>
       	</div>
       </div>
       
       <br>
       <br>
       <br>
       <hr>
       <br> -->
       
        
       
    </div>
  </div><!-- End Default Card -->
  
  
  
  
  
</div><!-- End Left side columns -->