
<footer th:fragment="footer">

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- <script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/assets/vendor/chart.js/chart.min.js"></script>
  <script src="/assets/vendor/echarts/echarts.min.js"></script>
  <script src="/assets/vendor/quill/quill.min.js"></script>
  <script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script> -->
  
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
	
  <!-- Template Main JS File -->
  <script src="/assets/js/js-cookie.min.js"></script>
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/ui.js"></script>
  <script src="/assets/js/mainpage.js"></script>
  
  
 <script>
	  
  	
 // Initialising the canvas
 	 //$("body").addClass("toggle-sidebar");

 	/* $( document ).ready(function() {
 		

	  	 
 		  const canvas = document.getElementById('canv-right');
 		  const ctx = canvas.getContext('2d');
 		
 		  let mh = document.querySelector('#section-main-left');
 		  //let mh = $(window).height();
 		  let progress = document.querySelector('#progress-of-day');
 		  let hm = document.querySelector('#hex-menus');
 		  
 		  //const combinedHeight = progress.offsetHeight + hm.offsetHeight;
 		  const combinedHeight = $("#progress-of-day").outerHeight(true) + $("#hex-menus").outerHeight(true);

 	  	  const w = canvas.width = 1000;
 		  //const h = canvas.height = mh.offsetHeight - combinedHeight;
		  //const h = canvas.height = $("#main-left-column").outerHeight(true) - combinedHeight;

 	  	// Setting the width and height of the canvas

 	  	// Setting up the letters
 	  	var letters = 'ПОЛИГОНДЕНЬ1ДЕНЬ2ДЕНЬ3ДЕНЬ4ДЕНЬ5DEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZABCDEFGHIJKLMNOPQRSTUVXYZ';
 	  	letters = letters.split('');

 	  	// Setting up the columns
 	  	var fontSize = 10,
 	  	    columns = canvas.width / fontSize;

 	  	// Setting up the drops
 	  	var drops = [];
 	  	for (var i = 0; i < columns; i++) {
 	  	  drops[i] = 1;
 	  	}

 	  	// Setting up the draw function
 	  	function draw() {
 	  	  ctx.fillStyle = 'rgba(246, 249, 255, .45)';
 	  	  ctx.fillRect(0, 0, canvas.width, canvas.height);
 	  	  for (var i = 0; i < drops.length; i++) {
 	  	    var text = letters[Math.floor(Math.random() * letters.length)];
 	  	    ctx.fillStyle = '#717ff5';
 	  	    ctx.fillText(text, i * fontSize, drops[i] * fontSize);
 	  	    drops[i]++;
 	  	    if (drops[i] * fontSize > canvas.height && Math.random() > .95) {
 	  	      drops[i] = 0;
 	  	    }
 	  	  }
 	  	}
 	  	


 	  	// Loop the animation
 	  	setInterval(draw, 33);
 	  	
 	  	
	});	   */
 	  
  
  </script>
  
 <!--  <script type="text/javascript" src="data:text/javascript;base64,dmFyIG9uY2U9ITA7ITA9PT1vbmNlJiYoJCgiYm9keSIpLmFkZENsYXNzKCJ0b2dnbGUtc2lkZWJh
	ciIpLG9uY2U9ITEpO2NvbnN0IGNhbnZhcz1kb2N1bWVudC5nZXRFbGVtZW50QnlJZCgiY2Fudi1y
	aWdodCIpLGN0eD1jYW52YXMuZ2V0Q29udGV4dCgiMmQiKTtsZXQgbWg9ZG9jdW1lbnQucXVlcnlT
	ZWxlY3RvcigiI21haW4tbGVmdCIpLHByb2dyZXNzPWRvY3VtZW50LnF1ZXJ5U2VsZWN0b3IoIiNw
	cm9ncmVzcy1vZi1kYXkiKSxobT1kb2N1bWVudC5xdWVyeVNlbGVjdG9yKCIjaGV4LW1lbnVzIik7
	Y29uc3QgY29tYmluZWRIZWlnaHQ9cHJvZ3Jlc3Mub2Zmc2V0SGVpZ2h0K2htLm9mZnNldEhlaWdo
	dCx3PWNhbnZhcy53aWR0aD1obS5vZmZzZXRXaWR0aCxoPWNhbnZhcy5oZWlnaHQ9bWgub2Zmc2V0
	SGVpZ2h0LWNvbWJpbmVkSGVpZ2h0O3ZhciBsZXR0ZXJzPSLQn9Ce0JvQmNCT0J7QndCU0JXQndCs
	MdCU0JXQndCsMtCU0JXQndCsM9CU0JXQndCsNNCU0JXQndCsNURFRkdISUpLTE1OT1BRUlNUVVZY
	WVpBQkNERUZHSElKS0xNTk9QUVJTVFVWWFlaQUJDREVGR0hJSktMTU5PUFFSU1RVVlhZWkFCQ0RF
	RkdISUpLTE1OT1BRUlNUVVZYWVpBQkNERUZHSElKS0xNTk9QUVJTVFVWWFlaIjtsZXR0ZXJzPWxl
	dHRlcnMuc3BsaXQoIiIpO2Zvcih2YXIgZm9udFNpemU9MTAsY29sdW1ucz1jYW52YXMud2lkdGgv
	Zm9udFNpemUsZHJvcHM9W10saT0wO2k8Y29sdW1ucztpKyspZHJvcHNbaV09MTtmdW5jdGlvbiBk
	cmF3KCl7Y3R4LmZpbGxTdHlsZT0icmdiYSgyNDYsIDI0OSwgMjU1LCAuNDUpIixjdHguZmlsbFJl
	Y3QoMCwwLGNhbnZhcy53aWR0aCxjYW52YXMuaGVpZ2h0KTtmb3IodmFyIGU9MDtlPGRyb3BzLmxl
	bmd0aDtlKyspe3ZhciB0PWxldHRlcnNbTWF0aC5mbG9vcihNYXRoLnJhbmRvbSgpKmxldHRlcnMu
	bGVuZ3RoKV07Y3R4LmZpbGxTdHlsZT0iIzcxN2ZmNSIsY3R4LmZpbGxUZXh0KHQsZSpmb250U2l6
	ZSxkcm9wc1tlXSpmb250U2l6ZSksZHJvcHNbZV0rKyxkcm9wc1tlXSpmb250U2l6ZT5jYW52YXMu
	aGVpZ2h0JiZNYXRoLnJhbmRvbSgpPi45NSYmKGRyb3BzW2VdPTApfX1zZXRJbnRlcnZhbChkcmF3
	LDMzKTsK"> 
  </script> -->
  
</footer>