
<main th:fragment="main" id="main" class="main">

	<div class="pagetitle">
	      <h1 class="breadcrumb-for-page">Главное меню</h1>
	      <nav>
	        <ol class="breadcrumb">
	          <li class="breadcrumb-item"><a href="index.html">Главное меню</a></li>
	        </ol>
	      </nav>
	</div><!-- End Page Title -->

	<section  class="section dashboard" id="section-main-left">
	
	      <div class="row">
	
	        <!-- Left side columns -->
	        <div th:replace="/layout/navpages/main/left :: left">
	        </div><!-- End Left side columns -->
	
	        <!-- Right side columns -->
	       	<div th:replace="/layout/navpages/main/right :: right"></div>
	       </div>
	       	
	</section>
</main>