<div th:fragment="right" class="col-lg-4" id="main-right-menu-cards">

  <!-- Recent Activity -->
	<div class="card" id="progress-of-day">
	  <div class="card-body">
	    <h5 class="card-title">Статус</h5>
	
	    <div class="activity">
	
		      <div class="activity-item d-flex">
		        <div class="activite-label">День 1</div>
		        <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
		        <div class="activity-content">
		          Пройден
		        </div>
		      </div><!-- End activity item-->
	
		    <div class="activity-item d-flex">
		      <div class="activite-label">День 2</div>
		      <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
		      <div class="activity-content">
		        Не пройден
		      </div>
		    </div><!-- End activity item-->
		
		    <div class="activity-item d-flex">
		      <div class="activite-label">День 3</div>
		      <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
		      <div class="activity-content">
		        Не пройден
		      </div>
		    </div><!-- End activity item-->
		
		    <div class="activity-item d-flex">
		      <div class="activite-label">День 4</div>
		      <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
		      <div class="activity-content">
		        Не пройден
		      </div>
		    </div><!-- End activity item-->
		
		    <div class="activity-item d-flex">
		      <div class="activite-label">День 5</div>
		      <i class='bi bi-circle-fill activity-badge text-danger align-self-start'></i>
		      <div class="activity-content">
		        Не пройден
		      </div>
		    </div><!-- End activity item-->
	    </div>
	
	  </div>
	</div><!-- End Recent Activity -->

	<!-- Porgress Bar -->
	<!-- <div>
	 <div class="progress mb-3">
	      <div class="progress-bar progress-bar-striped bg-success progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
	        </div>
		<div class="wrapper">
		  <div class="link_wrapper">
		    <a class="col-8" href="#">Продолжить курс</a>
		  </div>
		</div>
	</div>End Of Porgress Bar -->
	
	
	<div class="site-wrapper-1 mt-5" id="hex-menus"> <!-- style="border:2px solid #717ff5;" -->
                    <div class="container">
                    	<div class="row mb-5">
								<div class="hexagon-menu clear d-flex justify-content-center mt-5">
	                                    <div class="hexagon-item">
	                                        <div class="hex-item">
	                                            <div></div>
	                                            <div></div>
	                                            <div></div>
	                                        </div>
	                                        <div class="hex-item">
	                                            <div></div>
	                                            <div></div>
	                                            <div></div>
	                                        </div>
	                                        <a  class="hex-content">
	                                            <span class="hex-content-inner">
	                                                <span class="icon-hex">
	                                                    <i class="bi bi-book"></i>
	                                                </span>
	                                              <span class="title"><b>Теория</b></span>
	                                            </span>
	                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#FFFFFF"></path></svg>
	                                        </a>
	                            		</div>
                            		</div>
                            		</div>
                            		
                            		<div class="row mt-5 mb-5">
	                            		<div class="hexagon-menu clear d-flex justify-content-center">
		                                    <div class="hexagon-item">
		                                        <div class="hex-item">
		                                            <div></div>
		                                            <div></div>
		                                            <div></div>
		                                        </div>
		                                        <div class="hex-item">
		                                            <div></div>
		                                            <div></div>
		                                            <div></div>
		                                        </div>
		                                        <a  class="hex-content" href="/videocourse">
		                                            <span class="hex-content-inner">
		                                                <span class="icon-hex">
		                                                    <i class="bi bi-play-btn"></i>
		                                                </span>
		                                              <span class="title"><b>Видеокурс</b></span>
		                                            </span>
		                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#FFFFFF"></path></svg>
		                                        </a>
		                                    </div>
	                            		</div>
                        			</div>
                        			<div class="row mt-5 mb-5">
	                            		<div class="hexagon-menu clear d-flex justify-content-center">
		                                    <div class="hexagon-item">
		                                        <div class="hex-item">
		                                            <div></div>
		                                            <div></div>
		                                            <div></div>
		                                        </div>
		                                        <div class="hex-item">
		                                            <div></div>
		                                            <div></div>
		                                            <div></div>
		                                        </div>
		                                        <a  class="hex-content">
		                                            <span class="hex-content-inner">
		                                                <span class="icon-hex">
		                                                    <i class="bi bi-pc-display-horizontal"></i>
		                                                </span>
		                                              <span class="title"><b>Лаборатория</b></span>
		                                            </span>
		                                            <svg viewBox="0 0 173.20508075688772 200" height="200" width="174" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M86.60254037844386 0L173.20508075688772 50L173.20508075688772 150L86.60254037844386 200L0 150L0 50Z" fill="#FFFFFF"></path></svg>
		                                        </a>
		                                    </div>
	                            		</div>
                        			</div>
                    </div>
                </div>
<!--             </div>
  </div> -->
  <!-- Matrix Animation -->
<!--   <div class="overflow-hidden" id="matrix-anime">
   <canvas id="canv-right"></canvas>
  </div> -->
  
</div><!-- End Right side columns -->