<div class="me-3" class="me-3 module-1-page-2">

	 <h5 class="card-title custom-title-for-change"><b>6. Просмотрите конфигурацию пересылки журналов PfSense</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">В качестве следующего шага давайте проанализируем нашу конфигурацию <b>PfSense</b>. Откройте браузер Chrome и щелкните в избранных <kbd class="inova-custom-kbd nowrap">PfSense Firewall</kbd> <i>(в папке закладок <u>«Administration»</u>)</i>. Вы можете пройти аутентификацию в <b>PfSense</b>, используя следующие учетные данные</p>
			<hr class="ms-3">
			<div class="d-flex align-items-center flex-column mt-3">
				<div class="mt-3">
					<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> admin</small></p>
					<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> Awesomesauce123</small></p>
				</div>
			</div>
			<hr class="ms-3">
			<p class="ms-3">В главном интерфейсе PfSense выберите <kbd class="inova-custom-kbd nowrap">Status</kbd> в верхнем меню и перейдите в <kbd class="inova-custom-kbd nowrap">System Logs</kbd>. В следующем окне перейдите в раздел <kbd class="inova-custom-kbd nowrap">Settings</kbd> <i>(который находится справа)</i>.</p>
			<p class="ms-3">В разделе <kbd class="inova-custom-kbd nowrap">Settings</kbd> прокрутите вниз, пока не увидите раздел, в котором настроена пересылка журнала <i>(«Remote Logging options»)</i>. Вы должны увидеть, что все события системного журнала перенаправляются на 192.168.30.16 <i>(порт 5140)</i>.</p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-6.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>7. Откройте Kibana для просмотра журналов</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Теперь, когда мы рассмотрели все конфигурации Logstash, давайте посмотрим на визуализацию. Для этого мы откроем <b>Kibana</b> в нашем браузере. <b>Kibana</b> — это слой визуализации стека Elastic, который можно использовать для создания поисковых запросов, визуализаций и информационных панелей, которые могут быть просмотрены аналитиками.</p>
			<p class="ms-3">Мы уже подготовили для вас несколько базовых дашбордов, которыми будем пользоваться.</p>
			<p class="ms-3">Откройте Chrome и щелкните закладку <b>«Kibana»</b>. Вам потребуются следующие учетные данные:</p>
			<div class="d-flex align-items-center flex-column mt-3">
				<div class="mt-3">
					<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> alanmarshall</small></p>
					<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> Awesomesauce123</small></p>
				</div>
			</div>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-7.png">
	  <hr>
	    
	  <h5 class="card-title custom-title-for-change"><b>8. Откройте дэшборды Kibana</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">В Kibana щелкните пункт меню <kbd class="inova-custom-kbd nowrap">Dashboards</kbd>. Вы заметите, что некоторые панели мониторинга уже созданы:</p>
			<p class="ms-4">
			 <small>
				<ul class="ms-2">
					<li class="mt-1">PfSense</li>
					<li class="mt-1">Squid</li>
					<li class="mt-1">Suricata</li>
					<li class="mt-1">Windows event logs</li>
					<li class="mt-1">Sysmon - Process execution</li>
					<li class="mt-1">Powershell Script Block Logging</li>
				</ul>
			  </small>
			</p>
			<p class="ms-3"><i>Дэшборд в Kibana</i> — это не более чем набор визуализаций. На этой неделе мы создадим несколько визуализаций и информационных панелей. На этих панелях мониторинга очень легко создавать фильтры для детализации интересующих нас данных</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-8.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>9. Временной диапазон Kibana</b></i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Откройте панель - <kbd class="inova-custom-kbd nowrap">Squid</kbd>. Основным параметром инструментальных панелей Kibana является <i>«переключатель временного диапазона»</i> в верхней правой части экрана. Значение по умолчанию - <i>«Last 15 minutes»</i>. Вы можете выбрать специфический временной диапазон:</p>
			<p class="ms-3">
			 	<small>
					<ul>
						<li class="mt-1">Это может быть например <i>«Сегодня»</i>, <i>«На этой неделе»</i>, ...</li>
						<li class="mt-1">Это может быть относительный термин, например <i>"От 15 минут тому назад до 15 минут вперед"</i>.</li>
					</ul>
				</small>
			</p>
			<p class="ms-3">Для нашей лабораторной работы давайте просто выберем временной фильтр <i>«Today»</i>.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-9.png">
	  <hr>
	  
	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title custom-title-for-change"><b>10. Создать, изменить фильтр</b></h5>
      <div class="inova-custom-border">
			<p class="ms-3">Давайте поиграемся с этими дэшбордами. <i>Kibana</i> позволяет легко фильтровать и детализировать журналы. Давайте проанализируем, как это работает, создав фильтр. В правой части панели управления вы увидите визуализацию <i>«Top HTTP Methods»</i>.</p>
			<p class="ms-3">Мы можем фильтровать HTTP-запросы «GET», щелкнув раздел <small><kbd class="inova-custom-kbd nowrap">GET</kbd></small> на круговой диаграмме. Кроме того, вы можете щелкнуть запись <small><kbd class="inova-custom-kbd nowrap">GET</kbd></small> в легенде и щелкнуть лупу со значком <small><kbd class="inova-custom-kbd nowrap">+</kbd></small> в нем.  Это создаст фильтр, который фильтрует панель мониторинга для HTTP-запросов, использующих GET в качестве метода. Можно изменять фильтры так же легко. Если фильтр больше не нужен, его можно удалить.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-10.png">
	  <hr>

	  
    <!-- End Default Card -->
</div>