<div class="me-3" class="me-3 module-1-page-4">

	 <h5 class="card-title custom-title-for-change"><b>16. Запуск тестов FlightSim</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Давайте теперь попробуем запустить тесты <i>FlightSim</i>. В качестве теста мы просто попробуем запустить модули:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="flightsim-windows-amd64.exe run" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">flightsim-windows-amd64.exe run</small></kbd></div>
			<p class="ms-3 mt-3">Это должно запустить тесты. Пожалуйста, обратитесь к приложенному скриншоту, чтобы увидеть ожидаемый результат. Снимок экрана не будет точно соответствовать вашему выводу, поскольку большинство модулей <i>FlightSim</i> рандомизируют поведение, которое они показывают <i>(например, случайный выбор известных доменов C2)</i>.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-16.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>17. Обзор дэшборда - Kibana Suricata</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Давайте посмотрим на панель <i>Suricata</i> в Kibana, чтобы увидеть, было ли это вредоносное поведение обнаружено нашей <b>IDS (Suricata)</b>. Для этого вы можете вернуться к вкладке <b>Kibana</b>, которую вы использовали ранее. Если вы закрыли вкладку, пожалуйста, откройте вкладку Kibana еще раз (она в вашем избранном). Напоминаем, что учетные данные были:</p>
			<hr class="ms-3">
			<div class="d-flex align-items-center flex-column">
				<div>
					<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> alanmarshall</small></p>
					<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> Awesomesauce123</small></p>
				</div>
			</div>
			<hr>
			<p class="ms-3">Пожалуйста, откройте меню дэшборд и выберите панель <small><kbd class="inova-custom-kbd nowrap">Suricata</kbd></small>. Возможно, сработали несколько правил IDS <i>(а возможно и нет)</i>. Опять же, ваш результат может отличаться в зависимости от модулей <b>FlightSim</b>, которые затронули IDS. В моем случае сработали следующие сигнатуры:</p>
			<hr class="ms-3">
				<small>
					<ul>
						<li class="mt-1">ET INFO DNS Query for Suspicious .ml domain</li>
						<li class="mt-1">Suricata HTTP request field missing colon</li>
						<li class="mt-1">ET DNS Query to a *.top domain - Likely Hostile</li>
						<li class="mt-1">ET INFO DNS Query for Suspicious .gq domain</li>
					</ul>
				</small>
			<hr class="ms-3">
			</p>
			<p class="ms-3">Хотя это разумный результат, но он далеко не исчерпывающий, и есть несколько методов, которые не использовались <i>(например, алгоритм DGA)</i>.</p>
			<p class="ms-3">Более того, некоторые из обнаружений были основаны на «простой логике» <i>(например, подозрительные Top Level Domains)</i>. Мы будем обсуждать методы, как это улучшить в течение недели.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-17.png">
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>18. Оценка MITRE ATT&CK</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Давайте теперь оценим этот результат в <b>MITRE ATT&CK</b>. Это немного сложно для классификации атак <i>FlightStim</i>, но мы просто хотим продемонстрировать механизм подсчета баллов <b>MITRE ATT&CK</b>. Давайте предположим, что этот тип трафика <i>C&C</i> является частью техники <i>«Web Service»</i> в рамках тактики <i>Command & Control</i>.</p>
			<p class="ms-3">Откройте ранее созданный слой <i>«APT-29»</i> и прокрутите страницу вниз. Затем прокрутите вправо, чтобы стала видна техника <i>«Web Service»</i> в разделе <i>Command & Control</i>.</p>
			<p class="ms-3">После выборa, снова прокрутите вверх и в разделе <i>«technique control»</i> щелкните значок <i>«score»</i> (выглядит как гистограмма). Давайте, например введем оценку <b>50</b> <i>(если у вас не было никаких совпадений в правилах IDS, пожалуйста, введите «0», так как это будет справедливо 😊)</i>. Теперь техника будет окрашена в желтый цвет для среднего <i>(или красный, если вы ввели <b>0</b>)</i>. Хорошая оценка будет зеленой, а плохая - красной.</p>
			<p class="ms-3">Цель здесь - предоставить удобную панель управления, которую можно использовать для визуализации того, насколько хорошо организация выполняет обнаружение или предотвращение.</p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>19. В заключении лаборатории - <span class="text-success"><b><i class="bi bi-flag" style="font-size: 19px"></i></b></span></b></h5>
		 <div class="inova-custom-border">
			<p class="ms-3">Поздравляем, вы успешно прошли лабораторную работу! Целью лаборатории было представить базовую инфраструктуру обнаружения и то, как можно использовать <b>MITRE ATT&CK</b> в качестве основы для оценки зрелости обнаружения в организации</p>
		 </div>
	  <hr>
	<!-- End Default Card -->  
</div>