<div class="me-3" class="me-3 module-1-page-3">

	 <h5 class="card-title custom-title-for-change"><b>11. Искать в строке</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Наконец, давайте попытаемся найти значения на этих информационных панелях. Мы можем сделать это, введя, например, строку в поле <small><kbd class="inova-custom-kbd nowrap">Search...</kbd></small>.</p>
			<p class="ms-3">Попробуем поискать строку <b>"Mozilla"</b></p>
			<p class="ms-3">Вы можете сделать это, введя строку «Mozilla» в поле <small><kbd class="inova-custom-kbd nowrap">Search</kbd></small>, после чего вы можете нажать <small><kbd class="inova-custom-kbd nowrap">ENTER</kbd></small>. Панель управления загрузит все значения, соответствующие вашей строке <i>(которая будет включать только записи, где есть Mozilla)</i>.</p>
			<p class="ms-3">Это был очень простой пример. Обратите внимание, что функция поиска использует синтаксис запросов <i>Apache Lucene</i>.</p>
	  		<p class="ms-3">Если вы разработали серию фильтров, вы также можете легко сохранить их в панели.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-11.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>12. Знакомство с MITRЕ ATT&CK Navigator</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Итак, это было «быстрое» введение в <i>Kibana</i>, и оно должно дать вам первоначальное представление о том, как выглядят возможности мониторинга в <i>KAZLABS</i>. Давайте теперь посмотрим на <b>MITRE ATT&CK Navigator</b>.</p>
			<p class="ms-3">Откройте новую вкладку <i>(оставьте вкладку Kibana открытой, мы будем использовать ее позже)</i> и щелкните закладку <small><kbd class="inova-custom-kbd nowrap">ATT&CK Navigator</kbd></small> на вкладке закладок Chrome.</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-12.png">
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>13. Посмотреть методы, используемые APT-29</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Как мы указывали ранее, <i>MITRE ATT&CK></i> — это огромное хранилище информации о злоумышленниках и их техник, тактик и процедур. Навигатор позволяет организациям поддерживать централизованную настраиваемую информационную панель о том, как они защищаются от типичных TTP. Давайте изучим <i>MITRЕ ATT&CK Navigator</i>.</p>
			<p class="ms-3">Допустим, мы являемся государственным учреждением, которое является вероятной целью <b>APT-29</b>. Давайте посмотрим, какие методы наиболее актуальны для <b>APT-29</b>, и выделим их в навигаторе <b>ATT&CK</b>. Мы можем сделать это следующим образом:</p>
			<p class="ms-3">
				<small>
					<ul>
						<li class="mt-1">Щелкните значок <small><kbd class="inova-custom-kbd nowrap">Multi-Select</kbd></small> на панели инструментов</li>
						<li class="mt-1">В панели справа введите в поиск <b>«APT29»</b></li>
						<li class="mt-1">Под категорией <small><kbd class="inova-custom-kbd nowrap">Threat Groups</kbd></small> щелкните <small><kbd class="inova-custom-kbd nowrap">Select</kbd></small> рядом с записью <b>APT-29</b></li>
						<li class="mt-1">Закрыть всплывающего окна <small><kbd class="inova-custom-kbd nowrap">Multi-Select</kbd></small> повторным щелчком значка на панели инструментов</li>
						<li class="mt-1">Назовите слой <b>APT-29-Prevention</b></li>
					</ul>
				</small>
			</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-13.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>14. Создание второго слоя</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Теперь мы создадим второй слой, основанный на существующем слое, который мы только что настроили. Для этого выполните следующие действия:</p>
			<p class="ms-3">
				<small>
					<ul>
						<li class="mt-1">Нажмите <small><kbd class="inova-custom-kbd nowrap">+</kbd></small> в верхнем левом углу <i>(рядом с «APT-29 - Prevention»)</i>.</li>
						<li class="mt-1">В новом окне выберите <small><kbd class="inova-custom-kbd nowrap">Create new Layer</kbd></small>.</li>
						<li class="mt-1">Подобно тому, что мы делали ранее, переименуйте новый слой в <i>«APT-29 - Detection»</i></li>
						<li class="mt-1">Опять же, аналогично тому, что мы делали раньше, используйте инструмент <small><kbd class="inova-custom-kbd nowrap">Multi-Select</kbd></small> на новом слое, чтобы выбрать методы APT-29. </li>
					</ul>
				</small>
			</p>
			<p class="ms-3">Ожидаемый конечный результат можно увидеть на прилагаемом скриншоте.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-14.png">
	  <hr>
	  
	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title custom-title-for-change"><b>15. Откройте AlphaSoc FlightSim</b></h5>
      <div class="inova-custom-border">
			<p class="ms-3">Пожалуйста, оставьте навигатор открытым в Chrome. Давайте теперь попробуем смоделировать вредоносный сетевой трафик, чтобы оценить, насколько хорошо мы можем его обнаружить. Откройте командную строку Windows <i>(щелкнув логотип терминала)</i> и перейдите в каталог <small><kbd class="inova-custom-kbd nowrap">FlightSim</kbd></small> на рабочем столе:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="cd 'Desktop/Red Team'" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">cd 'Desktop/Red Team'</small></kbd></div>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="flightsim-windows-amd64.exe help run" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">flightsim-windows-amd64.exe help run</small></kbd></div>
			<p class="ms-3 mt-3">Это выдаст меню для FlightSim, тем самым раскрывая доступные модули:</p>
			<p class="ms-3">
				<small>
					<ul>
						<li class="mt-1">C2-DNS</li>
						<li class="mt-1">C2-IP</li>
						<li class="mt-1">DGA (Domain Generation Algorithm)</li>
						<li class="mt-1">...</li>
					</ul>
				</small>
			</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-15.png">
	  <hr>
	    
    <!-- End Default Card -->
</div>