<div class="me-3" class="me-3 module-1-page-1">


	  <h5 class="card-title custom-title-for-change"><b>Kibana, ATT&CK Navigator и FlightSim</b></h5>
      <hr>
      <h3 class="card-title custom-title-for-change "><b>Задача</b></h3>
      <div class="inova-custom-border">
      	<p class="ms-3">
      		<ul>
      			<li class="mt-1">Знакомство с Elastic <i>( он уже настроен для вас )</i></li>
      			<li class="mt-1">Знакомство с <b>MITRЕ ATT&CK Navigator</b></li>
      			<li class="mt-1">Использовать <b>FlightSim</b> для имитации вредоносного сетевого трафика.</li>
      			<li class="mt-1">Знакомство со «стандартными» возможностями обнаружения <b>IDS</b>.</li>
      		</ul>
      	</p>
      </div>
      <hr>
   
  
	  <h5 class="card-title custom-title-for-change"><b>1. Обзор Elastic Stack</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Мы предварительно сконфигурировали Logstash парсеры и панели, которые могут быть дополнительно донастроены. Давайте посмотрим.</p>
			<p class="ms-3">Сначала нужно переключиться на машину <kbd class="inova-custom-kbd">UBUNTU03</kbd>.</p>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>2. Просмотрите каталог <kbd class="inova-custom-kbd">/etc/logstash/conf.d</kbd></b></i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Одним из важнейших компонентов стека <samp>Elastic</samp> является <samp>Logstash</samp>. <samp>Logstash</samp> – используется для анализа различных типов журналов и последующего сохранения их в движке <samp>Elastic</samp>. Мы можем открыть каталог конфигурации Logstash, используя следующую команду:</p>
			<div class="ms-3 me-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="cd /etc/logstash/conf.d/" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">cd /etc/logstash/conf.d/</small></kbd></div>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>3. Просмотрите файлы конфигурации Logstash</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">В каталоге конфигурации Logstash вы увидите разные файлы <i>(вы можете просмотреть их с помощью команды <kbd class="inova-custom-kbd">ls</kbd></i>):</p>
			<p class="ms-3">
				<div class="ms-3 me-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title=" 01-inputs.conf" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">01-inputs.conf</small></kbd></div>
			</p>
			<p class="ms-3">Этот файл определяет, как Logstash должен получать журналы. Обычно это несколько «слушателей», которые ждут пересылки журналов через сетевой порт. Вы можете просмотреть содержимое файла, выполнив следующую команду:</p>
			<div class="ms-3 me-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="cat 01-inputs.conf" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">cat 01-inputs.conf</small></kbd></div>
			<p class="ms-3 mt-3">Вы заметите, что мы используем несколько разных сетевых портов для получения журналов <i>(для Syslog, журналов событий Windows и OSQuery)</i>.</p>
	  		<p class="ms-3">
	  			<ul class="">
	  				<li class="mt-1"><kbd class="inova-custom-kbd mt-2">10-syslog.conf</kbd></li>
	  				<li class="mt-1"><kbd class="inova-custom-kbd mt-2">11-pfsense.conf</li>
	  				<li class="mt-1"><kbd class="inova-custom-kbd mt-2">12-winevents.conf</li>
	  				<li class="mt-1"><kbd class="inova-custom-kbd mt-2">13-osquery.conf</kbd></li>
	  			</ul>
	  		</p>
	  		<p class="ms-3">
	  			Затем у нас есть несколько файлов конфигурации, которые указывают, как следует анализировать журналы.
	  		</p>
	  		<p class="ms-3">
	  			Вы можете просмотреть файлы, выполнив следующие команды:
	  		</p>
			<div class="ms-3 me-3 mt-1" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="cat 10-syslog.conf" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">cat 10-syslog.conf</small></kbd></div>
			<div class="ms-3 me-3 mt-1" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="cat 11-pfsense.conf" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">cat 11-pfsense.conf</small></kbd></div>
			<div class="ms-3 me-3 mt-1" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="cat 12-winevents.conf" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">cat 12-winevents.conf</small></kbd></div>
			<div class="ms-3 me-3 mt-1" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="cat 13-osquery.conf" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">cat 13-osquery.conf</small></kbd></div>
			<p class="ms-3 me-3 mt-3">
				Наконец, результаты парсеров Logstash нужно где-то записать. Это настраивается с помощью файла <kbd class="inova-custom-kbd">30-outputs.conf</kbd>. В этом файле вы заметите, что мы записываем все данные в локальный движок Elasticsearch. 
			</p>
			<div class="ms-3 me-3 mt-1" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="cat 30-outputs.conf" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">cat 30-outputs.conf</small></kbd></div>
			<p class="ms-3 mt-3">
				Обратите внимание, что <u>Logstash</u> проанализирует все файлы конфигурации, расположенные в каталоге <kbd class="inova-custom-kbd">conf.d</kbd>, поэтому вы можете создавать имена файлов конфигурации с любым именем. Мы решили использовать имена файлов, которые имеют смысл, чтобы облегчить поиск и устранение неисправностей! 
			</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-3.png">
	  <hr>
	  
	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title custom-title-for-change"><b>4. Запуск Logstash</b></h5>
      <div class="inova-custom-border">
			<p class="ms-3">Давайте запустим Logstash, чтобы мы могли начать получать логи:</p>
			<div class="ms-3 me-3 mt-1" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="sudo service logstash start" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">sudo service logstash start</small></kbd></div>
			<p class="ms-3 mt-3">Пароль:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Awesomesauce123" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">Awesomesauce123</small></kbd></div>
			<p class="ms-3 mt-3">Также запустите сервер nginx:</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  <h5 class="card-title custom-title-for-change"><b>5. Просмотрите файл конфигурации NXlog</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Итак, как наша конфигурация Logstash получает журналы? Есть несколько систем, которые передают информацию в Logstash:</p>
			<p class="ms-3">
				<ul>
					<li class="mt-1">На рабочих станциях Windows и контроллере домена для пересылки журналов событий Windows настроен <b>NXLog</b></li>
					<li class="mt-1">Брандмауэр <b>PfSense</b> настроен для пересылки журналов <i>(включая Squid и Suricata)</i></li>
					<li class="mt-1"><b>Kolide Fleet</b> и <b>OSQuery</b> хранят журналы централизованно и пересылаются с помощью <b>Filebeat</b></li>
				</ul>
			</p>
			<p class="ms-3">Давайте проанализируем первый элемент настройки и рассмотрим файл конфигурации <b>NXLog</b> на нашей рабочей станции Windows. Вы можете открыть следующий файл:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="C:\Program Files (x86)\nxlog\conf\nxlog.conf" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">C:\Program Files (x86)\nxlog\conf\nxlog.conf</small></kbd></div>
			<p class="ms-3 mt-3">Он настроен для пересылки журналов <u>Application</u>, <u>System</u> и <u>Security</u> на <kbd class="inova-custom-kbd">192.168.30.16</kbd> <i>(порт 5141)</i>. Кроме того, он будет отправлять эти журналы в формате JSON, который является предпочтительным форматом для Logstash.</p>
			<p class="ms-3"></p>
	  </div>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-5.png">
	  <hr>
	  
	  
    <!-- End Default Card -->
</div>