<div th:fragment="content" id="bandit-content"  class="me-3">
	<nav class="mt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item active">Основы Linux</li>
	    <li class="breadcrumb-item active">Bandit	</li>
	  </ol>
	</nav>
	
	<div id="page-container">
	</div>
	
	<div id="page-navigation-items">
	</div>   
    <!-- End Default Card -->
</div>

<div th:fragment="walkthrough-content" id="walkthrough-content"  class="me-3">
		  
		  <div class="accordion" id="accordion-1">
			  <div class="accordion-item">
			    <h2 class="accordion-header" id="heading-1">
			      <button class="accordion-button" id="walkcontEvent-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
			        <b>Уровень - <span id="lvl-num">1</span></b>
			      </button>
			    </h2>
			    <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1" data-bs-parent="#accordion-1">
			      <div class="accordion-body" id="walkcont-1"></div>
			    </div>
			  </div>
			
			</div>
			<br>
			<br>
    <!-- End Default Card -->
</div>