
<div  id="main-content" th:fragment="left" class="col-lg-8">
  <!-- Default Card -->
   <div class="card">
    <div class="card-body">
      <h5 class="card-title"><b>The Bandit</b></h5>
      <hr>
      <div>The Bandit — это варгейм для тех, кто только начинает работать в среде Linux/UNIX и сталкивается с проблемами при изучении использования команд Linux в реальной среде. Игра научит вас основам Linux и позволит вам играть даже в другие варгеймы. Эта игра в основном предоставляет вам среду, похожую на реальную среду, с файлами, имеющими данные, такие же, как и в реальной среде. По сути, игра начинается с уровня 0.</div><br>
      <hr>      
    </div>
  </div><!-- End Default Card -->
  
  <div th:replace="/layout/elements/modals :: switch-lab-alert-modal"></div>
  
</div><!-- End Left side columns -->