<main th:fragment="main" id="main" class="main">


	<section  class="section dashboard">
	
	      <div class="row">
	
	        <!-- Left side columns -->
	        <div th:replace="/layout/navpages/linux-essentials/left :: left">
	        </div><!-- End Left side columns -->
	
	        <!-- Right side columns -->
	       	<div th:replace="/layout/navpages/linux-essentials/right :: right"></div>
	       </div>
	       	
	</section>
</main>