
<footer th:fragment="footer">

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
  <script src="/assets/js/js-cookie.min.js"></script>
  <script src="/assets/js/jquery.js"></script>
  <script src="/guacamole/guaclient.js"></script>
  <script src="/assets/js/jquery-ui.min.js"></script>
  <script src="/assets/js/bandit.js"></script>
  
  
</footer>