<div class="me-3" class="me-3 module-1-page-2">

	  <h5 class="card-title custom-title-for-change"><b>6. Сравните текущую конфигурацию с файлом правил</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Давайте теперь сравним нашу текущую конфигурацию контроллера домена с базовыми показателями, предоставленными Microsoft. Для этого выберите <kbd class="inova-custom-kbd">Compare local registry</kbd> и <kbd class="inova-custom-kbd">Local policy</kbd> вверху окна.</p>
			<p class="ms-3">После этого выберите в главном окне <kbd class="inova-custom-kbd">Win10_1607_Server2016</kbd>. После этого нажмите кнопку <kbd class="inova-custom-kbd">View / Compare</kbd> справа.</p>
			<p class="ms-3">Подтвердите <kbd class="inova-custom-kbd">Run</kbd> несколько раз.</p>
	  </div>
	  <hr>
	
	  <h5 class="card-title custom-title-for-change"><b>7. Анализ результатов сравнения</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">В новом созданном окне <kbd class="inova-custom-kbd nowrap">Policy Viewer</kbd> рассмотрим различные настройки. Вы заметите, что  многие параметры не настроены Microsoft в стандартной конфигурации. Мы можем искать различия и отсутствующие значения, используя <kbd class="inova-custom-kbd nowrap">View -> Show only conflicts</kbd> или <kbd class="inova-custom-kbd">Show only Differences</kbd>.</p>
			<p class="ms-3">Поскольку эта «базовая» конфигурация мало что  нам говорит, давайте вместо этого взглянем на другой разработанный STIG.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-12-ss-7.png">
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>8. Импортировать шаблон STIG DC</b></i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Закройте <kbd class="inova-custom-kbd nowrap">Policy Viewer</kbd> и импортируйте <kbd class="inova-custom-kbd nowrap">STIG GPO</kbd>. В главном окне <kbd class="inova-custom-kbd nowrap">Policy Analyzer</kbd> вы заметите, что была создана запись <kbd class="inova-custom-kbd nowrap">LocalyPolicy_DC...</kbd>, это результаты политики, которые были прочитаны при анализе только что. Это полезно для определения базовых показателей и отслеживания прогресса.</p>
			<p class="ms-3">Повторим те же шаги, чтобы добавить STIG GPO:</p>
			<p class="ms-3">
				<ul class="ms-2">
					<li class="mt-1"><small><kbd class="inova-custom-kbd">Add..</kbd></small></li>
					<li class="mt-1"><small>В окне Policy File Importer, кликните <kbd class="inova-custom-kbd">File -> Add files from GPO(s)...</kbd></small></li>
					<li class="mt-1"><small>Перейти в папку <kbd class="inova-custom-kbd nowrap">C:\Users\Administrator\Desktop\STIG\GPO\DoD Windows Server 2016 and DC v1r6</kbd></small></li>
					<li class="mt-1"><small>Выберите <kbd class="inova-custom-kbd nowrap">Select Folder</kbd></small></li>
					<li class="mt-1"><small>В <kbd class="inova-custom-kbd nowrap">Policy File Importer</kbd>, теперь выберем две записи:</small></li>
					<li class="ms-2 mt-2"><small><kbd class="inova-custom-kbd nowrap">DoD Windows Server 2016 Domain Controller STIG Computer v1r6 (Policy Type: Computer)</kbd></small></li>
					<li class="ms-2 mt-2"><small><kbd class="inova-custom-kbd nowrap">DoD Windows Server 2016 Domain Controller STIG User v1r6 (Policy Type: User)</kbd></small></li>
				</ul>
			</p>
			<p class="ms-3">Затем нажать <kbd class="inova-custom-kbd nowrap">Import...</kbd>. Мы можем сохранить правило политики как: </p>
	 		<div class="ms-3 me-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="STIG_DC2016.PolicyRules" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">STIG_DC2016.PolicyRules</small></kbd></div>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-12-ss-8.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>9. Сравните текущую конфигурацию с STIG</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Теперь сравните наш текущий домен контроллер. Чтобы  сделать это, выберите <kbd class="inova-custom-kbd nowrap">Compare local registry</kbd> и <kbd class="inova-custom-kbd nowrap">Local Policy</kbd> в верхней части окна.</p>
			<p class="ms-3">После этого выберите в главном окне запись <kbd class="inova-custom-kbd nowrap">STIG_DC2016</kbd>. После этого нажмите кнопку <kbd class="inova-custom-kbd nowrap">View/Compare</kbd>.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-12-ss-9.png">
	  <hr>
	  

	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title custom-title-for-change"><b>10. Анализ результатов сравнения</b></h5>
      <div class="inova-custom-border">
			<p class="ms-3">В новом созданном окне <kbd class="inova-custom-kbd nowrap">Policy Viewer</kbd> рассмотрим различные настройки. На этот раз вы заметите много «желтого», указывающего на конфликтующие конфигурации. Как и раньше, мы можем искать различия и отсутствующие значения, используя <kbd class="inova-custom-kbd nowrap">View -> Show only Conflicts</kbd> или <kbd class="inova-custom-kbd nowrap">Show only Differences</kbd>.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-12-ss-10.png">
	  <hr> 
    <!-- End Default Card -->
</div>