<div class="me-3" class="me-3 module-1-page-1">

	  <h5 class="card-title custom-title-for-change"><b>Усиление защиты нашего домена с помощью SCT и STIG</b></h5>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Задача</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Задача лабораторной работы - укрепить нашу доменную среду с помощью <b>Microsoft Security Compliance Toolkit</b>. Мы рассмотрим существующие объекты групповой политики и внедрим передовые методы, рекомендованные Microsoft. Тем не менее, будьте осторожны при внедрении в производственной среде!</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	
	  <h5 class="card-title custom-title-for-change"><b>Сценарий</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">
				<ul>
					<li class="mt-1">Запустим <b>PolicyAnalyzer</b>, чтобы получить первоначальный обзор параметров политики.</li>
					<li class="mt-1">Ознакомимся с <b>Security Compliance Toolkit</b>.</li>
					<li class="mt-1">Укрепим среду в соответствии с передовыми практиками.</li>
					<li class="mt-1">Запустим <b>PingCastle</b> и проверим оценку безопасности</li>
				</ul>
			</p>
	  </div>
	  <hr>
  
    
	  
	  <h5 class="card-title custom-title-for-change"><b>1. Подключение к контроллеру домена</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Подключитесь к контроллеру домена, нажав на машину - <u>DC</u></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>2. Откройте Policy Analyzer</b> </h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Давайте откроем <b>Microsoft SCT</b> (<i>Security Compliance Toolkit</i>), который был загружен на рабочий стол контроллерa домена. В его состав входят следующие компоненты:</p>
			<ul class="ms-3">
				<li>Папка <samp>«PolicyAnalyzer»</samp>: включает в себя анализатор политик, который можно использовать для анализa  текущих настроенных доменных и локальных политик.</li>
				<li class="mt-1">Инструменты защиты для разных версий Windows 10 и Windows Server 2016 </li>
			</ul>
			<p class="ms-3">Давайте откроем инструмент Policy Analyzer, который находится в папке <samp>"PolicyAnalyzer"</samp> и называется <kbd class="inova-custom-kbd">PolicyAnalyzer.exe</kbd></p>
			
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-12-ss-2.png">
	  <hr>
	  

	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title custom-title-for-change"><b>3. Добавить объекты групповой политики в Policy Analyzer</b></h5>
      <div class="inova-custom-border">
			<p class="ms-3">Давайте сравним нашу текущую конфигурацию с объектами групповой политики, включенными в SCT от Microsoft. В качестве первого шага нам нужно импортировать загруженные нами объекты групповой политики. Вы можете сделать это, нажав:</p>
			<p class="ms-3">
				<ul>
					<li>Add..</li>
					<li class="mt-1">В новом окне нажмите <kbd class="inova-custom-kbd">File -> Add Files from GPO(s)</kbd></li>
				</ul>
			</p>
			<p class="ms-3">В новом окне «Проводника» убедитесь, что вы находитесь в следующем месте:</p>
			<p class="ms-3"><kbd class="inova-custom-kbd">C:\Users\Administrator\Desktop\Microsoft SCT\Windows 10 Version 1607 and Windows Server 2016 Security Baseline\Windows-10-RS1-and-Server-2016-Security-Baseline\GPOs</kbd></p>
			<p class="ms-3">Вы увидите типичную структура папок для объектов групповой политики. Теперь вы можете нажать <kbd class="inova-custom-kbd" style="white-space: nowrap">Select Folder</kbd>. Результат должен быть похож на приложенный скриншот.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-12-ss-3.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>4. Сохранить правила политики</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Теперь давайте нажмем большую кнопку <kbd class="inova-custom-kbd">Import...</kbd> чтобы импортировать объекты групповой политики и сохранить их в файле <samp>"Policy Rule"</samp>, который мы также можем использовать для сравнения.</p>
			<p class="ms-3">В новом открывшемся окне сохраните файл правила политики в папке:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="C:\Users\Administrator\Desktop\Microsoft SCT\" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">C:\Users\Administrator\Desktop\Microsoft SCT\</small></kbd></div>
			<p class="ms-3 mt-3">Имя файла:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Win10_1607_Server2016.PolicyRules" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">Win10_1607_Server2016.PolicyRules</small></kbd></div>
			<p class="ms-3 mt-3">После того, как вы нажмете кнопку «Save», нажмите «Run», и подтвердите.</p>
			<p class="ms-3"></p>
			
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-12-ss-4.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>5. Изменить расположение правила политик (Policy Rule) </b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">В главном окне Policy Analyzer, выберите файл Policy Rule, который мы только что создали. Мы можем сделать это, щелкнув расположение <kbd class="inova-custom-kbd nowrap">Policy Rule sets in:</kbd> (который в настоящее время установлен в <kbd class="inova-custom-kbd nowrap">C:\Users\Administrator\Documents\PolicyAnalyzer</kbd>).</p>
			<p class="ms-3">Щелкните его и выберите следующее расположение:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="C:\Users\Administrator\Desktop\Microsoft SCT\" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">C:\Users\Administrator\Desktop\Microsoft SCT\</small></kbd></div>
			<p class="ms-3 mt-3">Как только это будет сделано, вы увидите новую запись в главном окне Policy Analyzer:</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-12-ss-5.png">
	  <hr>
	  
    <!-- End Default Card -->
</div>