<div class="me-3" class="me-3 module-1-page-3">

	 <h5 class="card-title custom-title-for-change"><b>11. Открыть управление групповой политикой (Group Policy Management)</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Давайте начнем укреплять/применять эти GPO. Теперь откроем редактор групповой политики:</p>
			<p class="ms-3">
				<ul>
					<li>Щелкнув <kbd class="inova-custom-kbd">Server Manager</kbd> на панели задач. </li>
					<li>В окне Server Manager, нажмите <kbd class="inova-custom-kbd">Tools -> Group Policy Management</kbd></li>
				</ul>
			</p>
	  </div>
	  <hr>
	  <img class="img-fluid"  src="/assets/img/modules/1/ex-12-ss-11.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>12. Создайте STIG GPO</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Теперь давайте импортируем настройки <u>STIG GPO</u>. Мы можем сделать это, сначала создав новую <u>Group Policy Object</u>. Этого можно cделать, щелкнув правой кнопкой мыши <kbd class="inova-custom-kbd">Group Policy Objects</kbd> в левой части окна и выбрав <kbd class="inova-custom-kbd">New</kbd>. В качестве имени используйте:</p>
		  	<div class="ms-3 me-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="STIG - Computer Policy" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">STIG - Computer Policy</small></kbd></div>
	  </div>
	  <hr>
	  <img class="img-fluid"  src="/assets/img/modules/1/ex-12-ss-12.png">
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>13. Импортируйте настройки STIG</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Теперь, когда запись STIG GPO создана, мы можем импортировать различные настройки из пакета STIG:</p>
			<p class="ms-3">
			  <small>
				<ul>
					<li>Щелкните правой кнопкой мыши объект групповой политики <kbd class="inova-custom-kbd">STIG – Computer Policy</kbd></li>
					<li class="mt-2">Щелкните <kbd class="inova-custom-kbd">Import Settings...</kbd></li>
					<li class="mt-2">Wizard</li>
					<ul class="mt-2 ms-1">
						<li class="mt-1">В первом окне нажмите <small><kbd class="inova-custom-kbd">Next</kbd></small></li>
						<li class="mt-1">Во втором окне просто нажмите <small><kbd class="inova-custom-kbd">Next</kbd></small> (мы не хотим создавать резервную копию  существующей конфигурации, поскольку она пуста)</li>
						<li class="mt-1">В третьем окне перейдите к папке резервных копий:<pre class="mt-1"><kbd class="inova-custom-kbd">C:\Users\Administrator\Desktop\STIG\GPO\DoD Windows Server 2016 MS and DC v1r6\GPOs</kbd></pre></li>
						<li class="mt-1">В четвертом окне будут перечислены все резервные копии GPO. Мы импортируем <small><kbd class="inova-custom-kbd">DoD Windows Server 2016 Domain Controller STIG Computer v1r6</kbd></small></li>
						<li class="mt-1">Как только <small><kbd class="inova-custom-kbd">Scan Results</kbd></small> будут завершены, снова на жмите <small><kbd class="inova-custom-kbd">Next</kbd></small></li>
						<li class="mt-1">В следующем  окне выберите <small><kbd class="inova-custom-kbd">Copying them identically from the source</kbd></small>. В сложной производственной среде вам может потребоваться дополнительное сопоставление, но для наших целей подойдет прямая копия.</li>
						<li class="mt-1">Нажмите <small><kbd class="inova-custom-kbd">Finish</kbd></small></li> 										
					</ul>
				</ul>
			  </small>
			</p>
	  </div>
	  <hr>
	  <img class="img-fluid"  src="/assets/img/modules/1/ex-12-ss-13.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>14. Просмотрите настройки STIG</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Мы можем выбрать групповую политику «STIG» слева, после которой мы можем выбрать вкладку «Settings» в правом окне. Можете изучить эти настройки, чтобы понять, какие элементы управления применяются в этих STIG. Например, вы можете легко определить настройки сложности пароля в разделе: </p>
			<p class="ms-3"><pre class="ms-3"><kbd class="inova-custom-kbd">Computer Configuration (Enabled) -> Policies -> Windows Settings -> Security Settings -> Account Policies/Password Policy</kbd></pre></p>
			<p class="ms-3">Здесь вы можете найти типичные настройки, включая максимальный срок действия пароля, минимальный срок действия пароля, минимальную длину пароля итд.</p>
			<p class="ms-3">Вы заметите, что многие настройки STIG также направлены на улучшение настроек ведения журнала и мониторинга. В производственной среде теперь мы можем дополнительно настраивать эти настройки.</p>
	  </div>
	  <hr>
	  <img class="img-fluid"  src="/assets/img/modules/1/ex-12-ss-14.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>15. Применить настройки STIG к контроллерам домена</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Теперь применим наш объект групповой политики STIG к контроллерам домена. Это легко сделать, щелкнув правой кнопкой мыши контейнер <kbd class="inova-custom-kbd">Domain Controllers</kbd> в левой части окна и выбрав <kbd class="inova-custom-kbd">Link an Existing GPO…</kbd>. В следующем окне выберите <kbd class="inova-custom-kbd">STIG Computer Policy</kbd> и нажмите ОК.</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-12-ss-15.png">
	  <hr>
	  
    <!-- End Default Card -->
</div>