<div class="me-3" class="me-3 module-1-page-4">

	 <h5 class="card-title custom-title-for-change"><b>16. Обновить групповую политику контроллера домена</b></i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">После того, как объект групповой политики STIG был связан, давайте попробуем обновить политики контроллера домена. Мы можем сделать это, открыв командную строку Windows и запустив:</p>
		  	<div class="ms-3 me-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="gpupdate" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">gpupdate</small></kbd></div>
			<p class="ms-3 mt-3">Вы получите сообщение об ошибке при применении GPO. Этого следовало ожидать, поскольку мы еще не адаптировали объекты групповой политики к нашей среде. Например, STIG требует, чтобы вы вручную добавляли имена администраторов вашего домена в некоторые настройки! В производственной среде нужно будем дополнительно  настраивать и устранять неполадки. </p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  <img class="img-fluid"  src="/assets/img/modules/1/ex-12-ss-16.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>17. Переключитесь на машину Windows02</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Теперь давайте перейдем в Windows02.</p>
      	 	<div class="d-flex align-items-center flex-column mt-4">
	      		 <div>
	               <p><i class="bi bi-clipboard text-primary" id="clipper"></i> <small class="to-be-clipped-parent"><b>Имя пользователя:</b> <i class="to-be-clipped">alan.marshall</i></small></i></p>
	               <p><i class="bi bi-clipboard text-primary" id="clipper"></i> <small class="to-be-clipped-parent"><b>Пароль:</b> <i class="to-be-clipped">Awesomesauce123</i></small></i></p>
	              </div>
     	 	</div>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>18. Запустить PingCastle</b></i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Теперь мы хотели бы подойти к настройке <b>AD</b> с другой <i>(читай: наступательной)</i> точки зрения. Мы будем использовать <u>PingCastle</u>, инструмент, который выполняет «быструю» проверку <b>AD</b> среды.</p>
			<p class="ms-3">Мы его скачали и разместили на рабочем столе. Как указано, <u>PingCastle</u> не является полноценным инструментом аудита <i>(как например, <u>Security Compliance Toolkit</u>)</i>, но он дает «быструю» оценку среды AD <i>(в зависимости от того, как происходят типичные атаки)</i>, что может помочь в качестве ориентира и определить быстрые победы.</p>
			<p class="ms-3">Вы можете открыть <u>PingCastle</u>, открыв папку <small><kbd class="inova-custom-kbd">Blue Team</kbd></small> на рабочем столе, просмотрев подпапку <small><kbd class="inova-custom-kbd">PingCastle</kbd></small> и дважды щелкнув <small><kbd class="inova-custom-kbd">PingCastle.exe</kbd></small>.</p>
	  </div>
	  <hr>
	  <img class="img-fluid"  src="/assets/img/modules/1/ex-12-ss-18.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>19. Запустите PingCastle в режиме по умолчанию</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">На следующем экране <u>PingCastle</u> задаст вам несколько вопросов:</p>
			<p class="ms-3">
				<ul>
					<li class="mt-1">Что вы хотите сделать?</li>
					<li class="mt-1">Имя домена, который будет проверяться</li>
				</ul>
			</p>
			<p class="ms-3">Для обоих этих значений мы можем сохранить настройку по умолчанию <i>(что означает выполнение проверки работоспособности в домене <u>kazlabs.kz</u>)</i>. Чтобы оставить эти настройки по умолчанию, нажмите <small><kbd class="inova-custom-kbd">ENTER</kbd></small>, и <u>PingCastle</u> сможет продолжить.</p>
			<p class="ms-3">Вы заметите, как эффективен <u>PingCastle</u> и как быстро собирает данные и генерирует отчет.</p>
			<p class="ms-3">Полезно отметить, что все проверки, выполняемые <u>PingCastle</u> при проверке работоспособности, могут быть выполнены с использованием только обычной учетной записи пользователя домена.</p>
	  </div>
	  <hr>
	  <img class="img-fluid"  src="/assets/img/modules/1/ex-12-ss-19.png">
	  <hr>
	  
	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title custom-title-for-change"><b>20. Открыть отчет</b></h5>
      <div class="inova-custom-border">
			<p class="ms-3"><u>PingCastle</u> создает отчет в каталоге, из которого он был запущен <i>(то есть в папке Desktop, Blue Team, PingCastle)</i>, имена файлов должны быть <kbd class="inova-custom-kbd">ad_hc_kazlabs.kz.html</kbd> и <kbd class="inova-custom-kbd">ad_hc_kazlabs.kz.xml</kbd>.</p>
			<p class="ms-3">После открытия отчета вы получите оценку по 100-балльной шкале.</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  <h5 class="card-title custom-title-for-change"><b>21. Проанализировать отчет</b>></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Итак... Давайте посмотрим на ситуацию с нашим доменом <b>kazlabs.kz</b>. Вы заметите, что некоторые элементы настроены неправильно:</p>
			<p class="ms-3">
				<ul>
					<li class="mt-1">Нет недавней резервной копии AD</li>
					<li class="mt-1">Параметры сложности пароля не всегда применяются должным образом</li>
					<li class="mt-1">LAPS (решение для пароля   локального администратора) не установлено</li>
				</ul>
			</p>
			<p class="ms-3">Мы обсудим эти темы <i>(и многое другое!)</i>, когда пройдем через остальные лабораторные работы во время курса. Цель лабораторной работы заключалась в том, чтобы дать вам «быстрое» введение в то, как работают групповые политики и как можно использовать онлайн-шаблоны для получения начальной базовой конфигурации безопасности. </p>
	  </div>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-12-ss-21.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>22. В заключении лаборатории - <span class="text-success"><b><i class="bi bi-flag" style="font-size: 19px"></i></b></span></b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Поздравляем, вы успешно прошли лабораторную работу! Задача лабораторной работы заключалась в том, чтобы дать представление о том, как работают типичные инструменты и фреймворки защиты/аудита, и какую пользу они могут принести вашей организации. В следующих разделах лабораторной работы мы рассмотрим конкретные элементы управления усилением защиты.</p>
	  </div>
	  <hr>
	  
	  
    <!-- End Default Card -->
</div>