<div th:fragment="content" id="theory-content" module-number="1" class="me-3">
	<nav class="mt-3" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item active">Модуль-1</li>
	    <li class="breadcrumb-item active">Упражнение <span id="exercise-number">1.1</span></li>
	  </ol>
	</nav>
	<div id="page-container">
	</div>
	
	<div id="page-navigation-items">
	</div>   
    <!-- End Default Card -->
</div>

<div th:fragment="machines" id="machine-container">

<div class="card mb-2" id="machine-1">
	  <div class="row g-0">
	    <div class="col-md-4" id="switch-machine-1" style="cursor: pointer">
			<div class="card shadow p-0 bg-body rounded h-100">
				<div class="card-body d-flex align-items-center">
						<div class="w-100" id="machine-1-image" >
						<img src="/icons/machines/kali-linux.svg" class="w-100" style="height:90px">
						</div>
				</div>
			</div>
	    </div>
	    <div class="col-md-8" >
	      <div class="card-body">
	        <h5 class="card-title" >KALI</h5>
	        <hr>
	        	<div id="kali-button-group">
			        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#kaliCreds">
		  					<i class="bi bi-info-circle"></i>
					</button>
					
					<button type="button" class="btn btn-secondary" id="kaliReconnect">
							<i class="bi bi-arrow-clockwise"></i>
					</button>
					
					<button type="button" class="btn btn-warning" id="kaliExit">
							<i class="bi bi-box-arrow-left"></i>
					</button>
				</div>
					
					<div class="modal fade" id="kaliCreds" tabindex="-1" aria-labelledby="kaliCredsLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Учетные данные</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">
					        ...
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
					      </div>
					    </div>
					  </div>
					</div>
					<!-- Modal -->
			      	</div>
			     </div>
			  </div>
	</div>
	
	<div class="card mb-2" id="machine-2">
	  <div class="row g-0">
	    <div class="col-md-4 " id="switch-machine-2" style="cursor: pointer">
			<div class="card shadow p-0 bg-body rounded h-100">
				<div class="card-body d-flex align-items-center ">
					<div class="w-100" id="machine-2-image">
						<img src="/icons/machines/windows-icon.svg" class="w-100" style="height:90px">
					</div>
				</div>
			</div>
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title" >WINDOWS01</h5>
	        <hr>
	        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#windows01Creds">
	  			<i class="bi bi-info-circle"></i>
			</button>
			<button type="button" class="btn btn-secondary" id="windows01Reconnect">
				<i class="bi bi-arrow-clockwise"></i>
			</button>
			<button type="button" class="btn btn-warning" id="windows01Exit">
				<i class="bi bi-box-arrow-left"></i>
			</button>
	      </div>
		   	<div class="modal fade" id="windows01Creds" tabindex="-1" aria-labelledby="windows01CredsLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Учетные данные</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
			      </div>
			    </div>
			  </div>
			</div>
	    </div>
	  </div>
	</div>
	<div class="card mb-2" id="machine-3">
	  <div class="row g-0">
	    <div class="col-md-4 " id="switch-machine-3" style="cursor: pointer">
			<div class="card shadow p-0 bg-body rounded h-100">
				<div class="card-body d-flex align-items-center ">
					<div class="w-100" id="machine-3-image">
						<img src="/icons/machines/windows-icon.svg" class="w-100" style="height:90px">
					</div>
				</div>
			</div>
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title" >WINDOWS02</h5>
	        <hr>
	        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#windows02Creds">
	  			<i class="bi bi-info-circle"></i>
			</button>
			<button type="button" class="btn btn-secondary" id="windows02Reconnect">
				<i class="bi bi-arrow-clockwise"></i>
			</button>
			<button type="button" class="btn btn-warning" id="windows02Exit">
				<i class="bi bi-box-arrow-left"></i>
			</button>
	      </div>
		   	<div class="modal fade" id="windows02Creds" tabindex="-1" aria-labelledby="windows02CredsLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Учетные данные</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
			      </div>
			    </div>
			  </div>
			</div>
	    </div>
	  </div>
	</div>
	<div class="card mb-2" id="machine-4">
	  <div class="row g-0">
	    <div class="col-md-4 " id="switch-machine-4" style="cursor: pointer">
			<div class="card shadow p-0 bg-body rounded h-100">
				<div class="card-body d-flex align-items-center ">
					<div class="w-100" id="machine-4-image" style="display:block">
						<img src="/icons/machines/linux-icon.svg" class="w-100" style="height:90px">
					</div>
				</div>
			</div>
			
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title" >UBUNTU01</h5>
	        <hr>
	        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#ubuntu01Creds">
	  					<i class="bi bi-info-circle"></i>
			</button>
			<button type="button" class="btn btn-secondary" id="ubuntu01Reconnect">
					<i class="bi bi-arrow-clockwise"></i>
			</button>
			<button type="button" class="btn btn-warning" id="ubuntu01Exit">
						<i class="bi bi-box-arrow-left"></i>
			</button>
	      </div>
	      <div class="modal fade" id="ubuntu01Creds" tabindex="-1" aria-labelledby="ubuntu01CredsLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Учетные данные</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
			      </div>
			    </div>
			  </div>
			</div>
	      
	    </div>
	  </div>
	</div>
	
	<div class="card mb-2" id="machine-5">
	  <div class="row g-0">
	    <div class="col-md-4 " id="switch-machine-5" style="cursor: pointer">
			<div class="card shadow p-0 bg-body rounded h-100">
				<div class="card-body d-flex align-items-center ">
					<div class="w-100" id="machine-5-image" style="display:block">
						<img src="/icons/machines/linux-icon.svg" class="w-100" style="height:90px">
					</div>
				</div>
			</div>
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title" >UBUNTU02</h5>
	        <hr>
	        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#ubuntu02Creds">
	  					<i class="bi bi-info-circle"></i>
			</button>
			<button type="button" class="btn btn-secondary" id="ubuntu02Reconnect">
					<i class="bi bi-arrow-clockwise"></i>
			</button>
			<button type="button" class="btn btn-warning" id="ubuntu02Exit">
						<i class="bi bi-box-arrow-left"></i>
			</button>
	      </div>
	      <div class="modal fade" id="ubuntu02Creds" tabindex="-1" aria-labelledby="ubuntu02CredsLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Учетные данные</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
			      </div>
			    </div>
			  </div>
			</div>
	    </div>
	  </div>
	</div>
	
	<div class="card mb-2" id="machine-6">
	  <div class="row g-0">
	    <div class="col-md-4 " id="switch-machine-6" style="cursor: pointer">
			<div class="card shadow p-0 bg-body rounded h-100">
				<div class="card-body d-flex align-items-center ">
					<div class="w-100" id="machine-6-image" style="display:block">
						<img src="/icons/machines/linux-icon.svg" class="w-100" style="height:90px">
					</div>
				</div>
			</div>
			
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title" >UBUNTU03</h5>
	        <hr>
	        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#ubuntu03Creds">
	  					<i class="bi bi-info-circle"></i>
			</button>
			<button type="button" class="btn btn-secondary" id="ubuntu03Reconnect">
					<i class="bi bi-arrow-clockwise"></i>
			</button>
			<button type="button" class="btn btn-warning" id="ubuntu03Exit">
						<i class="bi bi-box-arrow-left"></i>
			</button>
	      </div>
	      <div class="modal fade" id="ubuntu03Creds" tabindex="-1" aria-labelledby="ubuntu03CredsLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Учетные данные</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
			      </div>
			    </div>
			  </div>
			</div>
	      
	    </div>
	  </div>
	</div>
	
	<div class="card mb-2" id="machine-7">
	  <div class="row g-0">
	    <div class="col-md-4 " id="switch-machine-7" style="cursor: pointer">
			<div class="card shadow p-0 bg-body rounded h-100">
				<div class="card-body d-flex align-items-center ">
					<div class="w-100" id="machine-7-image">
						<img src="/icons/machines/dc-icon.svg" class="w-100" style="height:90px">
					</div>
				</div>
			</div>
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title">DC</h5>
	        <hr>
		        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#DCreds">
		  			<i class="bi bi-info-circle"></i>
				</button>
				<button type="button" class="btn btn-secondary" id="DCReconnect">
					<i class="bi bi-arrow-clockwise"></i>
				</button>
				<button type="button" class="btn btn-warning" id="DCExit">
					<i class="bi bi-box-arrow-left"></i>
				</button>
	      </div>
	      <div class="modal fade" id="DCreds" tabindex="-1" aria-labelledby="DCredsLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Учетные данные</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
			      </div>
			    </div>
			  </div>
			</div>
	    </div>
	  </div>
	</div>
</div>

<div th:fragment="machines" id="split-machine-container">
</div>
