<div th:fragment="lab-scheme" class="h-100" id="network-schematics">
	
	<div class="card">
	
		
		<div class="card-body">
		
			<h5 class="card-title"><b>Топология сети</b></h5>
			<hr>
			<div  id="machine-4-image">
				<img src="/icons/lab-scheme/new-scheme.svg" >
			</div>
		
		</div>
		
	
	</div>

</div>