<div th:fragment="content" id="theory-content">
	  <h5 class="card-title"><b>Упражнение 1.1</b></h5>
      <hr>
      <h3 class="card-title"><b>Задача</b></h3>
      <div>Цель этой наступательной лаборатории - получить глубокое понимание того, как атаки типа <b>APT</b> запускаются против организаций. Вы увидите окружающую среду глазами противника, что в дальнейшем будет иметь решающее значение для реализации правильной защиты!</div><br>
      <hr>
      <h3 class="card-title"><b>Сценарий</b></h3>
      <div>Один клик это все, что требуется - Для начала, надо оценить, насколько плохо все на самом деле. В этой лаборатории вы будете выполнять роль злоумышленника, который хочет получить доступ администратора домена.
		   Для начала неплохо было бы заглянуть на сайт <a href="#" >www.kazlabs.kz</a>.
	  </div>
      <hr>
      
	<!-- End Default Card -->
  
    
      <h5 class="card-title"><b>1. Начало работы </b> - <i>Kali Linux</i></h5>
      <hr>
	 
	  <p>
			В качестве первого шага давайте аутентифицируемся на нашей машине Kali linux, которую мы можем использовать для нашего теста и роли атакующего.
			Вы можете использовать следующие учетные данные:
			
	  </p>
	  <hr>
      <div class="alert alert-primary alert-dismissible fade show" role="alert">
               <p>Имя пользователя: root </p>
               <p>Пароль: Awesomesauce123</p>
      </div>
	  <hr>
	  <h5 class="card-title"><b>2. Разведка</b> - <i>Откройте браузер</i></h5>
	  
	  <div>
	  Как только рабочий стол Kali загрузится, запустим прилагаемый браузер Firefox! Ярлык браузера Firefox можно найти в левой части экрана в верхней части строки меню.
	  </div>
	  <hr>
	  <h5 class="card-title"><b>3. Разведка</b> - <i>www.kazlabs.kz</i> </h5>
	  <div>
	  	<p>Итак, давайте посмотрим на корпоративный сайт нашей цели: <i>www.kazalabs.kz</i>. В браузере Firefox добавленa закладка для сайта.</p>
	  	<p>Можете ли вы найти какую-нибудь интересную информацию, которую мы можем использовать для атаки KAZLABS?</p>
	  	<hr>
	  	<p><i>Когда вы исследуете корпоративный веб-сайт, выясняется, что он является довольно секретным и не передает никакой контактной информации. Однако мы можем определить адрес в исходном коде веб-сайта (<mark>dwight.schrute@kazlabs.kz</mark>). Вы можете получить доступ к исходному коду веб-сайта, щелкнув правой кнопкой мыши в любом месте веб-страницы и выбрав <b>«View Page Source»</b>.</i></p>
	  	<hr>
	  </div>
	  
	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title"><b>4. Разведка</b><i>- дамп паролей</i></h5>
      <hr>
      <p>Итак, теперь у нас есть адрес электронной почты, который можно использовать для нацеливания на KAZLABS (<mark>dwight.schrute@kazlabs.kz</mark>). Но KAZLABS вложила значительные средства в обеспечение безопасности, и пользователи не нажимают ни на какие URL-адреса с внешних почтовых адресов!</p>
	  <p>Однако во время вашего исследования вы обнаружили интересную запись <mark>pastebin</mark>, которая была загружена на рабочий стол (<mark>to_investigate_pastebin</mark>). Утечки данных, связанные с корпоративными учетными записями, в наши дни стали серьезным явлением!</p>
	  <p>Можете ли вы открыть его (двойной щелчок) и найти соответствующую запись?</p>
	  </br>
	  </br>
	  <hr>
	  
    <!-- End Default Card -->
</div>

<div th:fragment="machines" id="machine-container">

<div class="card mb-2" id="machine-1">
	  <div class="row g-0">
	    <div class="col-md-4" id="switch-machine-1" style="cursor: pointer">
			<div class="card shadow p-0 bg-body rounded h-100">
				<div class="card-body d-flex align-items-center">
						<div class="w-100" id="machine-1-image" >
						<img src="/icons/machines/kali-linux.svg" class="w-100" style="height:90px">
						</div>
				</div>
			</div>
	    </div>
	    <div class="col-md-8" >
	      <div class="card-body">
	        <h5 class="card-title" >KALI</h5>
	        <hr>
	        	<div id="kali-button-group">
			        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#kaliCreds">
		  					<i class="bi bi-info-circle"></i>
					</button>
					
					<button type="button" class="btn btn-secondary" id="kaliReconnect">
							<i class="bi bi-arrow-clockwise"></i>
					</button>
					
					<button type="button" class="btn btn-warning" id="kaliExit">
							<i class="bi bi-box-arrow-left"></i>
					</button>
				</div>
					
					<div class="modal fade" id="kaliCreds" tabindex="-1" aria-labelledby="kaliCredsLabel" aria-hidden="true">
					  <div class="modal-dialog">
					    <div class="modal-content">
					      <div class="modal-header">
					        <h5 class="modal-title" id="exampleModalLabel">Учетные данные</h5>
					        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					      </div>
					      <div class="modal-body">
					        ...
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
					      </div>
					    </div>
					  </div>
					</div>
					<!-- Modal -->
			      	</div>
			     </div>
			  </div>
	</div>
	
	<div class="card mb-2" id="machine-2">
	  <div class="row g-0">
	    <div class="col-md-4 " id="switch-machine-2" style="cursor: pointer">
			<div class="card shadow p-0 bg-body rounded h-100">
				<div class="card-body d-flex align-items-center ">
					<div class="w-100" id="machine-2-image">
						<img src="/icons/machines/windows-icon.svg" class="w-100" style="height:90px">
					</div>
				</div>
			</div>
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title" >WINDOWS01</h5>
	        <hr>
	        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#windows01Creds">
	  			<i class="bi bi-info-circle"></i>
			</button>
			<button type="button" class="btn btn-secondary" id="windows01Reconnect">
				<i class="bi bi-arrow-clockwise"></i>
			</button>
			<button type="button" class="btn btn-warning" id="windows01Exit">
				<i class="bi bi-box-arrow-left"></i>
			</button>
	      </div>
		   	<div class="modal fade" id="windows01Creds" tabindex="-1" aria-labelledby="windows01CredsLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Учетные данные</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
			      </div>
			    </div>
			  </div>
			</div>
	    </div>
	  </div>
	</div>
	<div class="card mb-2" id="machine-3">
	  <div class="row g-0">
	    <div class="col-md-4 " id="switch-machine-3" style="cursor: pointer">
			<div class="card shadow p-0 bg-body rounded h-100">
				<div class="card-body d-flex align-items-center ">
					<div class="w-100" id="machine-3-image">
						<img src="/icons/machines/windows-icon.svg" class="w-100" style="height:90px">
					</div>
				</div>
			</div>
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title" >WINDOWS02</h5>
	        <hr>
	        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#windows02Creds">
	  			<i class="bi bi-info-circle"></i>
			</button>
			<button type="button" class="btn btn-secondary" id="windows02Reconnect">
				<i class="bi bi-arrow-clockwise"></i>
			</button>
			<button type="button" class="btn btn-warning" id="windows02Exit">
				<i class="bi bi-box-arrow-left"></i>
			</button>
	      </div>
		   	<div class="modal fade" id="windows02Creds" tabindex="-1" aria-labelledby="windows02CredsLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Учетные данные</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
			      </div>
			    </div>
			  </div>
			</div>
	    </div>
	  </div>
	</div>
	<div class="card mb-2" id="machine-4">
	  <div class="row g-0">
	    <div class="col-md-4 " id="switch-machine-4" style="cursor: pointer">
			<div class="card shadow p-0 bg-body rounded h-100">
				<div class="card-body d-flex align-items-center ">
					<div class="w-100" id="machine-4-image" style="display:block">
						<img src="/icons/machines/linux-icon.svg" class="w-100" style="height:90px">
					</div>
				</div>
			</div>
			
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title" >UBUNTU01</h5>
	        <hr>
	        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#ubuntu01Creds">
	  					<i class="bi bi-info-circle"></i>
			</button>
			<button type="button" class="btn btn-secondary" id="ubuntu01Reconnect">
					<i class="bi bi-arrow-clockwise"></i>
			</button>
			<button type="button" class="btn btn-warning" id="ubuntu01Exit">
						<i class="bi bi-box-arrow-left"></i>
			</button>
	      </div>
	      <div class="modal fade" id="ubuntu01Creds" tabindex="-1" aria-labelledby="ubuntu01CredsLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Учетные данные</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
			      </div>
			    </div>
			  </div>
			</div>
	      
	    </div>
	  </div>
	</div>
	
	<div class="card mb-2" id="machine-5">
	  <div class="row g-0">
	    <div class="col-md-4 " id="switch-machine-5" style="cursor: pointer">
			<div class="card shadow p-0 bg-body rounded h-100">
				<div class="card-body d-flex align-items-center ">
					<div class="w-100" id="machine-5-image" style="display:block">
						<img src="/icons/machines/linux-icon.svg" class="w-100" style="height:90px">
					</div>
				</div>
			</div>
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title" >UBUNTU02</h5>
	        <hr>
	        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#ubuntu02Creds">
	  					<i class="bi bi-info-circle"></i>
			</button>
			<button type="button" class="btn btn-secondary" id="ubuntu02Reconnect">
					<i class="bi bi-arrow-clockwise"></i>
			</button>
			<button type="button" class="btn btn-warning" id="ubuntu02Exit">
						<i class="bi bi-box-arrow-left"></i>
			</button>
	      </div>
	      <div class="modal fade" id="ubuntu02Creds" tabindex="-1" aria-labelledby="ubuntu02CredsLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Учетные данные</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
			      </div>
			    </div>
			  </div>
			</div>
	    </div>
	  </div>
	</div>
	
	<div class="card mb-2" id="machine-6">
	  <div class="row g-0">
	    <div class="col-md-4 " id="switch-machine-6" style="cursor: pointer">
			<div class="card shadow p-0 bg-body rounded h-100">
				<div class="card-body d-flex align-items-center ">
					<div class="w-100" id="machine-6-image" style="display:block">
						<img src="/icons/machines/linux-icon.svg" class="w-100" style="height:90px">
					</div>
				</div>
			</div>
			
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title" >UBUNTU03</h5>
	        <hr>
	        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#ubuntu03Creds">
	  					<i class="bi bi-info-circle"></i>
			</button>
			<button type="button" class="btn btn-secondary" id="ubuntu03Reconnect">
					<i class="bi bi-arrow-clockwise"></i>
			</button>
			<button type="button" class="btn btn-warning" id="ubuntu03Exit">
						<i class="bi bi-box-arrow-left"></i>
			</button>
	      </div>
	      <div class="modal fade" id="ubuntu03Creds" tabindex="-1" aria-labelledby="ubuntu03CredsLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Учетные данные</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
			      </div>
			    </div>
			  </div>
			</div>
	      
	    </div>
	  </div>
	</div>
	
	<div class="card mb-2" id="machine-7">
	  <div class="row g-0">
	    <div class="col-md-4 " id="switch-machine-7" style="cursor: pointer">
			<div class="card shadow p-0 bg-body rounded h-100">
				<div class="card-body d-flex align-items-center ">
					<div class="w-100" id="machine-7-image">
						<img src="/icons/machines/dc-icon.svg" class="w-100" style="height:90px">
					</div>
				</div>
			</div>
	    </div>
	    <div class="col-md-8">
	      <div class="card-body">
	        <h5 class="card-title">DC</h5>
	        <hr>
		        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#DCreds">
		  			<i class="bi bi-info-circle"></i>
				</button>
				<button type="button" class="btn btn-secondary" id="DCReconnect">
					<i class="bi bi-arrow-clockwise"></i>
				</button>
				<button type="button" class="btn btn-warning" id="DCExit">
					<i class="bi bi-box-arrow-left"></i>
				</button>
	      </div>
	      <div class="modal fade" id="DCreds" tabindex="-1" aria-labelledby="DCredsLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title" id="exampleModalLabel">Учетные данные</h5>
			        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			      </div>
			      <div class="modal-body">
			        ...
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
			      </div>
			    </div>
			  </div>
			</div>
	    </div>
	  </div>
	</div>
</div>

<div th:fragment="machines" id="split-machine-container">
</div>
