
<div  id="main-content" th:fragment="left" class="col-lg-8">
  <!-- Default Card -->
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><b>Модуль 3</b></h5>
      <hr>
      <h3 class="card-title"><b>Задача</b></h3>
      <div>Цель этой наступательной лаборатории - получить глубокое понимание того, как атаки типа <b>APT</b> запускаются против организаций. Вы увидите окружающую среду глазами противника, что в дальнейшем будет иметь решающее значение для реализации правильной защиты!</div><br>
      <hr>
      <h3 class="card-title"><b>Сценарий</b></h3>
      <div>Один клик это все, что требуется - Для начала, надо оценить, насколько плохо все на самом деле. В этой лаборатории вы будете выполнять роль злоумышленника, который хочет получить доступ администратора домена.
		   
	  </div>
      <hr>
	  
    </div>
  </div><!-- End Default Card -->
  
  <div th:replace="/layout/elements/modals :: switch-lab-alert-modal"></div>

    
  
</div><!-- End Left side columns -->