<main th:fragment="main" id="main" class="main">

	<div class="pagetitle">
	      <h1 class="breadcrumb-for-page">Теория</h1>
	      <nav>
	        <ol class="breadcrumb">
	          <li class="breadcrumb-item"><a href="/day3">Модуль 3</a></li>
	          
	        </ol>
	      </nav>
	</div><!-- End Page Title -->

	<section  class="section dashboard">
	
	      <div class="row">
	
	        <!-- Left side columns -->
	        <div th:replace="/layout/navpages/labs/day_3/left :: left">
	        </div><!-- End Left side columns -->
	
	        <!-- Right side columns -->
	       	<div th:replace="/layout/navpages/labs/day_3/right :: right"></div>
	       </div>
	       	
	</section>
</main>