
<div th:fragment="switch-lab-alert-modal" id="switch-alert-modal">
	<div class="modal fade " id="switchLabModal" tabindex="-1" aria-labelledby="switchLabModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content ">
	      <div class="modal-body">
	      	<p class="text-center fs-1 text-warning"><i class="bi bi-exclamation-octagon"></i></p>
	        <p class="text-center" id="switch-lab-content">Вы действительно хотите сменить текущую лабораторную среду?</p>
	      </div>
	      <div class="modal-footer ">
	        <button type="button" class="btn btn-secondary inova-custom" data-bs-dismiss="modal" id="cancleSwitchBtn">Нет</button>
	        <button type="button" class="btn btn-primary inova-custom" id="procedeSwitchBtn">Да</button>
	      </div>
	    </div>
	  </div>
	</div>
</div>