<div th:fragment="video_list" class="h-100" id="video_list" style="border-left: 1px solid #ececec;position:sticky">

	<div class="row overflow-auto h-100 ms-2">
		
		<div class="h-100">
		
			<div class="card-title ms-3" style="border-bottom: 1px solid #ececec">
				<h4>Контенты курса</h4>
				<!-- <br>
				<hr> -->
			</div>
			
				<div class="accordion accordion-flush ms-3" id="videoContents" >
		                <div class="accordion-item">
		                  <h2 class="accordion-header" id="flush-headingOne">
		                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
		                      <p><b>Модуль 1:</b> Введение и разведка</p>
		                    </button>
		                  </h2>
		                  <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#videoContents" style="">
		                    <div class="accordion-body">
		                    	<ul class="list-group list-group-flush">
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 1. План курса и ознакомление с лабораторной средой</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 2. Цели курса и лабораторная среда</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 3. Нашумевшие кейсы кибератак</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 4. Практическое упражнение: ломай меня полностью…</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 5. Фреймворк MITRE ATT&CK</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 6. Ключевые средства предотвращения и обнаружения</li>
									<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 7. Практическое упражнение: усиление защиты вашего домена</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 8. Построение систем обнаружения</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 9. Практическое упражнение: Визуализация атак, MITRE ATT&CK Navigator</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 10. Разведка - Знакомство с целью</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 11. Практическое упражнение: автоматизация разведки – SpiderFoot</li>
								</ul>
		                    </div>
		                  </div>
		                </div>
		                <div class="accordion-item">
		                  <h2 class="accordion-header" id="flush-headingTwo">
		                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
							  <p><b>Модуль 2:</b> Доставка и выполнение зловредного кода</p>                    
							 </button>
		                  </h2>
		                  <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#videoContents" style="">
		                    <div class="accordion-body">
		                    	<ul class="list-group list-group-flush">
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 1. Доставка и выполнение зловредного кода</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 2. Общие механизмы доставки зловредного кода</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 3. Как препятствовать доставке зловредного кода?</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 4. Съемные носители и сетевое управление</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 5. Практическое упражнение: Oстановка NTLMv2-атак в Windows</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 6. Список разрешенных приложений (whitelisting)</li>
									<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 7. Практическое упражнение: настройка AppLocker</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 8. Управление почтой, веб-прокси и песочница для вредоносных программ</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 9. YARA</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 10. Предотвращение выполнения зловредного кода/программы</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 12. Выполнение скриптов HTA, PowerShell и др</li>
									<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 13. Практическое упражнение: контроль выполнения скриптов внутри организации</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 14. Как обнаружить выполнение зловредного кода?</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 15. Практическое упражнение: написание правил обнаружения</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 16. Знакомство с ProcFilter</li>
							  		<li class="list-group-item overflow-hidden" style="white-space: nowrap" data-bs-toggle="tooltip" data-bs-placement="left" title="Практическое упражнение: предотвращение выполнения зловредного кода с помощью ProcFilter"><i class="bi bi-collection me-1 text-primary"></i><span>17. Практическое упражнение: предотвращение выполнения зловредного кода с помощью ProcFilter</span></li>
								</ul>
		                    </div>
		                  </div>
		                </div>
		                <div class="accordion-item">
		                  <h2 class="accordion-header" id="flush-headingThree">
		                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
		                      <p><b>Модуль 3:</b> Эксплуатация, укрепление в среде и C2 Patch Management</p>
		                    </button>
		                  </h2>
		                  <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#videoContents">
		                    <div class="accordion-body">
		                    	<ul class="list-group list-group-flush">
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 1. План курса и ознакомление с лабораторной средой</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 2. Цели курса и лабораторная среда</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 3. Нашумевшие кейсы кибератак</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 4. Практическое упражнение: ломай меня полностью…</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 5. Фреймворк MITRE ATT&CK</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 6. Ключевые средства предотвращения и обнаружения</li>
									<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 7. Практическое упражнение: усиление защиты вашего домена</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 8. Построение систем обнаружения</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 9. Практическое упражнение: Визуализация атак, MITRE ATT&CK Navigator</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 10. Разведка - Знакомство с целью</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 11. Практическое упражнение: автоматизация разведки – SpiderFoot</li>
								</ul>
		                    </div>
		                  </div>
		                </div>
		                 <div class="accordion-item">
		                  <h2 class="accordion-header" id="flush-headingFour">
		                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
		                      <p><b>Модуль 4:</b> Перемещение атакующих в сети</p>
		                    </button>
		                  </h2>
		                  <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#videoContents">
		                    <div class="accordion-body">
		                    	<ul class="list-group list-group-flush">
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 1. План курса и ознакомление с лабораторной средой</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 2. Цели курса и лабораторная среда</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 3. Нашумевшие кейсы кибератак</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 4. Практическое упражнение: ломай меня полностью…</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 5. Фреймворк MITRE ATT&CK</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 6. Ключевые средства предотвращения и обнаружения</li>
									<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 7. Практическое упражнение: усиление защиты вашего домена</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 8. Построение систем обнаружения</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 9. Практическое упражнение: Визуализация атак, MITRE ATT&CK Navigator</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 10. Разведка - Знакомство с целью</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 11. Практическое упражнение: автоматизация разведки – SpiderFoot</li>
								</ul>
		                    </div>
		                  </div>
		                </div>
		                <div class="accordion-item">
		                  <h2 class="accordion-header" id="flush-headingFive">
		                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
		                      <p><b>Модуль 5:</b> Поиск угроз и реагирование на инциденты</p>
		                    </button>
		                  </h2>
		                  <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#videoContents">
		                    <div class="accordion-body">
		                    	<ul class="list-group list-group-flush">
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 1. План курса и ознакомление с лабораторной средой</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 2. Цели курса и лабораторная среда</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 3. Нашумевшие кейсы кибератак</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 4. Практическое упражнение: ломай меня полностью…</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 5. Фреймворк MITRE ATT&CK</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 6. Ключевые средства предотвращения и обнаружения</li>
									<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 7. Практическое упражнение: усиление защиты вашего домена</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 8. Построение систем обнаружения</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 9. Практическое упражнение: Визуализация атак, MITRE ATT&CK Navigator</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 10. Разведка - Знакомство с целью</li>
							  		<li class="list-group-item"><i class="bi bi-collection me-1 text-primary"></i> 11. Практическое упражнение: автоматизация разведки – SpiderFoot</li>
								</ul>
		                    </div>
		                  </div>
		                </div>
		              </div>
    		</div>
	</div>

</div>
