
<main th:fragment="video_main" id="video_main" class="container-fluid h-100">

	
	      <div class="row h-100">
	
	
	        <div class="col-7 h-100">
	       		<div th:replace="/layout/videocourse/video_left :: video_left"></div>
	       	</div>
	       	
	       <div class="col-5 h-100 ">
		        <!-- Left side columns -->
		        <div th:replace="/layout/videocourse/video_list :: video_list">
		        </div><!-- End Left side columns -->
	        </div>
	        
	       
	      </div>
	        
	       	
</main>