<div th:fragment="video_left" id="video_left" class="h-100">

	<div class="row" style="background-color:white">

		<h3 class="card-title ms-3" id="current-video-title"><b>Модуль 1: Введение и разведка</b></h3>
	</div>
	<div class="row mb-5" style="height:55%">

		<iframe id="Geeks3" width="100%" height="100%" src="https://www.youtube.com/embed/RTDiPjE3CJ8"  frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
		
	
	</div>
	<hr>
	<div class="row mt-3" style="height:40%;border-left: 1px solid #ececec">
		
		<div class="row ms-2">
			<div class="col-4">
				<p><b>Использованные комманды</b></p>
			</div>
			<div class="col-4">
				<p class="col-4"><b>Теоретическое основание</b></p>
			</div>
			<div class="col-4">
				<p class="col-4"><b>Лабораторная среда</b></p>
			</div>
			<hr>
		</div>
		<div class="row ms-3 mt-4">
			<h5 class="col-3 card-title"><b>Цель видео</b></h5>
			<p class="col-9">Цель этой наступательной лаборатории - получить глубокое понимание того, как атаки типа APT запускаются против организаций. Вы увидите окружающую среду глазами противника, что в дальнейшем будет иметь решающее значение для реализации правильной защиты!</p>
		</div>
	
	</div>
		

</div>
