<head th:fragment="head">

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Полигон</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/inova.jpg" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet"> 

</head>
<body>

	
	<canvas id="canv" width="500" height="200"></canvas>
	<footer th:fragment="footer">
		  
	  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	  
	</footer>
	
	<script>
		const canvas = document.getElementById('canv');
		const ctx = canvas.getContext('2d');
	
		const w = canvas.width = document.body.offsetWidth;
		const h = canvas.height = document.body.offsetHeight;
		const cols = Math.floor(w / 20) + 1;
		const ypos = Array(cols).fill(0);
	
		ctx.fillStyle = '#f6f9ff';
		ctx.fillRect(0, 0, w, h);
	
		function matrix () {
		  ctx.fillStyle = '#f6f9ff';
		  ctx.fillRect(0, 0, w, h);
		  
		  ctx.fillStyle = '#0f0';
		  ctx.font = '15pt monospace';
		  
		  ypos.forEach((y, ind) => {
		    const text = String.fromCharCode(Math.random() * 128);
		    const x = ind * 20;
		    ctx.fillText(text, x, y);
		    if (y > 100 + Math.random() * 10000) ypos[ind] = 0;
		    else ypos[ind] = y + 20;
		  });
		}
	
		setInterval(matrix, 50);
		
		
	
	</script>

</body>

