<div class="d-flex justify-content-center">
	  <nav aria-label="Page navigation modules">
			  <ul class="pagination pagination-sm" id="pagination-items" module-number="1">
			    <li class="page-item">
			      <a class="page-link" href="#" aria-label="Previous">
			        <span aria-hidden="true">&laquo;</span>
			      </a>
			    </li>
			    <li class="page-item active" id="module-1-page-1"><a class="page-link" href="#">1</a></li>
			    <li class="page-item" id="module-1-page-2"><a class="page-link" href="#">2</a></li>
			    <li class="page-item" id="module-1-page-3"><a class="page-link" href="#">3</a></li>
			    <li class="page-item" id="module-1-page-4"><a class="page-link" href="#">4</a></li>
			    <li class="page-item" id="module-1-page-5"><a class="page-link" href="#">5</a></li>
			    <li class="page-item" id="module-1-page-6"><a class="page-link" href="#">6</a></li>
			    <li class="page-item">
			      <a class="page-link" href="#" aria-label="Next">
			        <span aria-hidden="true">&raquo;</span>
			      </a>
			    </li>
			  </ul>
		</nav>
  </div>