<div class="me-3" class="me-3 module-1-page-5">

	  <h5 class="card-title custom-title-for-change"><b>23. Доставка </b> - <i>переключитесь на рабочую станцию Дуайта</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Чтобы ускорить процесс, давайте на секунду сыграем роль Дуайта. Пожалуйста, переключитесь на рабочую станцию Дуайта ( Windows-01 <span class=""> ).</p>
			<p class="ms-3">Вы можете использовать следующие учетные данные для аутентификации:</p>
			<div class="d-flex justify-content-center">	
				<pre><code><b>Имя пользователя:</b> dwight.schrute</code><br><code><b>Пароль:</b> BattleSt4r </code><br></pre>
			</div>
	  </div>
	  <hr>
	
	  <h5 class="card-title custom-title-for-change"><b>24. Эксплуатация</b> - <i>открытие фишингового письма</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">На рабочей станции Дуайта, откройте <b>	Microsoft Mail Tool</b> (на панели задач, значок конверта). Если вы не получили никаких писем, пожалуйста, нажмите на <b>«Sync this view»</b>.</p>
			<p class="ms-3">Как только вы получите письмо, загрузите прилагаемую ссылку и запустите ее.</p>
			<p class="ms-3">Если вы получили предупреждение <b>«SmartScreen»</b> <i>( это служба Microsoft, основанная на репутации неизвестных исполняемых файлов )</i>, действуйте как обычный пользователь и нажмите <b>"More Info</b> -> <b>Run anyway"</b></p>
			<p class="ms-3">После того, как вы открыли исполняемый файл putty (<i> и вы увидите экран конфигурации Putty </i>), пожалуйста, переключитесь обратно на машину злоумышленника Kali.</p>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>25. Эксплуатация </b> - <i>взаимодействие с meterpreter</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">На машине Kali выведите окно Metasploit <i>( которое вы не должны были закрывать )</i> на передний план. Он должен иметь готовую строку:</p>
			<p class="ms-3"><kbd class="inova-custom-kbd">meterpreter>:</kbd></p>
			<p class="ms-3">Затем мы можем запустить команду: </p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="sysinfo" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">sysinfo</small></kbd></div>
			<p class="ms-3 mt-3">Команда предоставит некоторую информацию о системе</p>
			<p class="ms-3">Чтобы узнать больше о возможностях meterpreter, вы можете запустить команду <kbd class="inova-custom-kbd">help</kbd>. Опять же, мы будем использовать только некоторые базовые функции <b>meterpreter</b>, так как это не курс тестирования на проникновение.</p>
	  </div>
	  <hr>
	  	Здесь должна быть скриншот &#128530;
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>26. Эксплуатация </b> - <i>дальнейшее перечисление/разведка</i> </h5>
	  <div class="inova-custom-border">
			<p class="ms-3">После того, как meterpreter запущен, мы можем использовать различные команды для получения информации о нашей жертве:</p>
			<ul>
				<li>Команда <kbd class="inova-custom-kbd">getuid</kbd> сообщает нам, что в настоящее время мы работаем с привилегиями пользователя <u>dwight.schrute</u>, входящего в домен KAZLABS</li>
				<li class="mt-2"><kbd class="inova-custom-kbd">ipconfig</kbd> показывает, что наш внутренний IP-адрес - <u>192.168.10.15</u></li>
			</ul>
			<p class="ms-3">Опять же, обратите внимание, что это лишь очень небольшой набор модулей, которые можно использовать во время работы meterpreter.</p>
	  </div>
	  <hr>
	  

	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title custom-title-for-change"><b>27. Укрепление в инфраструктуре </b><i>- запуск скрипта Meterpreter</i></h5>
      <div class="inova-custom-border">
			<p class="ms-3">Теперь у нас есть рабочий сеанс Meterpreter для нашей машины-жертвы. Однако обратите внимание, что наша сессия непостоянна. Как только пользователь завершает процесс, в котором мы работаем <i>( например, когда он перезагружает машину )</i>, наш сеанс завершается и не запускается повторно.</p>
			<p class="ms-3">Однако мы можем использовать текущий сеанс Meterpreter, чтобы обеспечить постоянство на целевой машине. Metasploit имеет встроенный скрипт Meterpreter, который может сохраняться на цели различными способами <i>( например, как сервис, как приложение, которое запускается при запуске )</i>.</p>
			<p class="ms-3">Вы можете просмотреть различные параметры, выполнив следующую команду:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="run persistence" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">run persistence</small></kbd></div>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>28. Укрепление в инфраструктуре</b> - <i>Metasploit после эксплуатации</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Теперь у нас есть постоянный запущенный сеанс Meterpreter, который позволит нам начать использовать постэксплуатационные модули Metasploit. Постэксплуатационные модули Metasploit разделены на три основные  категории: сбор, управление, эскалация. </p>
			<p class="ms-3">Чтобы получить доступ к модулям после эксплуатации, мы должны сначала запустить сеанс meterpreter в фоновом режиме, который снова сбросит нас на предыдущую командную строку Metasploit:</p>
			<p class="ms-3"><kbd class="inova-custom-kbd">meterpreter > background</kbd></p>
			<p class="ms-3"><kbd class="inova-custom-kbd">msf6 exploit(multi/handler) > </kbd></p>
			<p class="ms-3">Модули после эксплуатации хранятся в разделе <kbd class="inova-custom-kbd">post/</kbd>. Мы изучим некоторые из модулей после эксплуатации в следующих нескольких шагах этой лабораторной работы.</p>
	  </div>
	  <hr>
	  
	  
    <!-- End Default Card -->
</div>