<div class="me-3 module-1-page-2">
  
	<!-- End Default Card -->
  
    
      <h5 class="card-title custom-title-for-change"><b>6. Разведка </b> - <i>скопировать запись в файл</i></h5>	 
	  <div class="inova-custom-border">
		  <p class="ms-3">
				Теперь мы извлечем хеш-запись, относящуюся к <mark>michael.scott@kazlabs.kz</mark>, и скопируем ее в новый файл. В открывшемся окне терминала выполните следующие команды: 
		  </p>
		  <div class="ms-3 me-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="cat Desktop/to_investigate_pastebin | grep kazlabs" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">cat Desktop/to_investigate_pastebin | grep kazlabs</small></kbd></div>
		  <p class="ms-3 mt-3">Вы можете проверить вывод своей команды, чтобы убедиться, что у вас есть только одна запись, после чего вы можете продолжить запись этой записи в файл: </p>
		  <div class="ms-3 me-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="cat Desktop/to_investigate_pastebin | grep kazlabs > Desktop/hashtocrack" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">cat Desktop/to_investigate_pastebin | grep kazlabs > Desktop/hashtocrack</small></kbd></div>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>7. Разведка</b> - <i>взлом хеша пароля</i></h5>
	  
	  <div class="inova-custom-border">
	  <p class="ms-3">Мы можем использовать такие инструменты, как <b>John</b> или <b>Hashcat</b>, чтобы попытаться взломать пароль.  Давайте начнем с John, который очень прост в использовании! Мы можем попытаться взломать пароль из файла, используя следующую командную строку: </p>
	  <div class="ms-3 me-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="john --format=raw-md5 Desktop/hashtocrack" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">john --format=raw-md5 Desktop/hashtocrack </small></kbd></div>
	  <p class="ms-3 mt-3">Вероятно, это не займет много времени &#128516;</p>
	  <p class="ms-3">Мы видим, что пароль для <mark>michael.scott@kazlabs.kz</mark> – <kbd style="background-color: #DCDCDC;color: black"><small>Password1</small></kbd></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>8. Разведка</b> - <i>подбор пароля</i> </h5>
	  <div class="inova-custom-border">
	  	<p class="ms-3">Вы могли заметить, что была еще одна закладка с надписью <b>«STC - Webmail»</b>. Давайте попробуем пройти аутентификацию в веб-почте, чтобы увидеть, использует ли Michael Scott повторно пароль  от утечки данных в корпоративной среде. Пожалуйста, сделайте следующие шаги:</p>
	  	<ul class="ms-4">
  		  <li>Откройте Firefox</li>
  		  <li>Откройте закладку <b>STC - Webmail</b></li>
  		  <li>Введите следующие учетные данные</li>
		</ul>
		<hr class="ms-3"> 
		<div class="d-flex align-items-center flex-column">
			<div>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> michael.scott@kazlabs.kz</small></p>
				<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> Password1</small></p>
			</div>
		</div>
	  	<hr class="ms-3">
	  	<p class="ms-3" ><i>Если все пойдет хорошо, аутентификация должна пройти успешно, и вы получите доступ к почтовому ящику Майкла Скотта. Теперь мы успешно взломали внутренний почтовый аккаунт KAZLABS, с которого мы можем отправлять фишинговые письма внутри! </i></p>
	  </div>
	  <hr>
	  

	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title custom-title-for-change"><b>9. Вооружение</b><i>- создание полезной нагрузки (Payload)</i></h5>
      <div class="inova-custom-border">
	      <p class="ms-3">Теперь мы создадим полезную нагрузку (payload), которую сможем отправить с <mark>michael.scott@kazlabs.kz</mark> на <mark>dwight.schrute@kazlabs.kz</mark>! Как указывалось ранее, пользователи <b>KAZLABS</b> не доверяют внешней почте, но, может быть, мы сможем обмануть их, отправив внутреннюю почту? </p>
		  <p class="ms-3">Мы могли бы использовать <b>msfvenom</b> <i>(часть инструментария <b>Metasploit</b>)</i> для генерации полезной нагрузки, но это, скорее всего, будет обнаружено антивирусом. </p>
		  <p class="ms-3">Интересный проект по уклонению от антивирусной защиты называется <b>«Shellter»</b>, который позволяет вам генерировать полезную нагрузку, уклоняющуюся от большинства антивирусов. Мы будем использовать его для создания полезной нагрузки! </p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>10. Вооружение </b> - <i>запуск Shellter</i></h5>
	  <div class="inova-custom-border">
	  	<p class="ms-3">В командной строке запустите Shellter:</p>
	  	<div class="ms-3 me-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="john --format=raw-md5 Desktop/hashtocrack" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">shellter</small></kbd></div>
	  	<p class="ms-3 mt-3">Появятся несколько подробных комментариев, после которых вам будет представлен основной интерфейс Shellter.  </p>
	  </div>
	  <hr>
	  <img class="img-fluid"  src="/assets/img/modules/1/ex-1-ss-10.jpg">
	  <hr>
	  
	  
	  
    <!-- End Default Card -->
</div>