<div class="me-3" class="me-3 module-1-page-1">

	  <h5 class="card-title custom-title-for-change"><b>Достаточно одного щелчка мышки</b></h5>
      <hr>
      <h3 class="card-title custom-title-for-change "><b>Задача</b></h3>
      <div class="inova-custom-border"><p class="ms-3">Цель этой наступательной лаборатории - получить глубокое понимание того, как атаки типа <b>APT</b> запускаются против организаций. Вы увидите окружающую среду глазами противника, что в дальнейшем будет иметь решающее значение для реализации правильной защиты!</p></div><br>
      <hr>
      <h3 class="card-title custom-title-for-change"><b>Сценарий</b></h3>
      <div class="inova-custom-border"><p class="ms-3">Один клик это все, что требуется - Для начала, надо оценить, насколько плохо все на самом деле. В этой лаборатории вы будете выполнять роль злоумышленника, который хочет получить доступ администратора домена.
		   Для начала неплохо было бы заглянуть на сайт <a href="#" >www.kazlabs.kz</a>.</p>
	  </div>
      <hr>
      
	<!-- End Default Card -->
  
    
      <h5 class="card-title custom-title-for-change"><b>1. Начало работы </b> - <i>Kali Linux</i></h5>	 
	  <div class="inova-custom-border">
		  <p class="ms-3">
				В качестве первого шага давайте аутентифицируемся на нашей машине Kali linux, которую мы можем использовать для нашего теста и роли атакующего.
				Вы можете использовать следующие учетные данные:
				
		  </p>
	  </div>
	  <hr>
      <div class="d-flex align-items-center flex-column">
      		 <div>
               <p><i class="bi bi-clipboard text-primary" id="clipper"></i> <small class="to-be-clipped-parent"><b>Имя пользователя:</b> <i class="to-be-clipped">root</i></small></i></p>
               <p><i class="bi bi-clipboard text-primary" id="clipper"></i> <small class="to-be-clipped-parent"><b>Пароль:</b> <i class="to-be-clipped">Awesomesauce123</i></small></i></p>
              </div>
      </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>2. Разведка</b> - <i>откройте браузер</i></h5>
	  
	  <div class="inova-custom-border">
	  <p class="ms-3">Как только рабочий стол Kali загрузится, запустим прилагаемый браузер Firefox! Ярлык браузера Firefox можно найти в левой части экрана в верхней части строки меню.</p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>3. Разведка</b> - <i>www.kazlabs.kz</i> </h5>
	  <div class="inova-custom-border">
	  	<p class="ms-3">Итак, давайте посмотрим на корпоративный сайт нашей цели: <i>www.kazalabs.kz</i>. В браузере Firefox добавленa закладка для сайта.</p>
	  	<p class="ms-3">Можете ли вы найти какую-нибудь интересную информацию, которую мы можем использовать для атаки KAZLABS?</p>
	  	<hr class="ms-3">
	  	<p class="ms-3"><i>Когда вы исследуете корпоративный веб-сайт, выясняется, что он является довольно секретным и не передает никакой контактной информации. Однако мы можем определить адрес в исходном коде веб-сайта (<mark>dwight.schrute@kazlabs.kz</mark>). Вы можете получить доступ к исходному коду веб-сайта, щелкнув правой кнопкой мыши в любом месте веб-страницы и выбрав <b>«View Page Source»</b>.</i></p>
	  </div>
	  <hr>
	  

	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title custom-title-for-change"><b>4. Разведка</b><i>- дамп паролей</i></h5>
      <div class="inova-custom-border">
	      <p class="ms-3">Итак, теперь у нас есть адрес электронной почты, который можно использовать для нацеливания на KAZLABS (<mark>dwight.schrute@kazlabs.kz</mark>). Но KAZLABS вложила значительные средства в обеспечение безопасности, и пользователи не нажимают ни на какие URL-адреса с внешних почтовых адресов!</p>
		  <p class="ms-3">Однако во время вашего исследования вы обнаружили интересную запись <mark>pastebin</mark>, которая была загружена на рабочий стол (<mark>to_investigate_pastebin</mark>). Утечки данных, связанные с корпоративными учетными записями, в наши дни стали серьезным явлением!</p>
		  <p class="ms-3">Можете ли вы открыть его (двойной щелчок) и найти соответствующую запись?</p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>5. Разведка</b> - <i>терминал в Linux</i></h5>
	  <div class="inova-custom-border">
	  	<p class="ms-3">В качестве первого шага давайте запустим терминал в Kali. щелкнув значок терминала в левой части экрана (третий значок в меню).</p>
	  	<p class="ms-3">Вы должны увидеть командную строку с черным фоном: </p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-1-ss-5.jpg">
	  <hr>
	  
	  
    <!-- End Default Card -->
</div>