<div class="me-3" class="me-3 module-1-page-1">

	  <h5 class="card-title custom-title-for-change"><b>29. Действия по достижению целей</b> - <i>перечисление системы</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Интересным постэксплуатационным модулем является модуль <kbd class="inova-custom-kbd">enum_applications</kbd>, который перечисляет версии установленных программ на зараженной машине. Мы можем выбрать его и просмотреть его параметры, используя следующий синтаксис:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="use post/windows/gather/enum_applications" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">use post/windows/gather/enum_applications</small></kbd></div>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="show options" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">show options</small></kbd></div>
			<p class="ms-3 mt-3">Как и в случае с большинством постэксплуатационных модулей, он требует настройки только  идентификатора <u>SESSION</u>.</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="set SESSION 1" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">set SESSION 1</small></kbd></div>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="exploit" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">exploit</small></kbd></div>
			<p class="ms-3 mt-3">Вывод команды <kbd class="inova-custom-kbd">enum_applications</kbd> предоставляет подробный список установленного программного обеспечения в системе жертвы. Этот обзор программного обеспечения может быть очень полезен для запуска дальнейших этапов атаки ( <i>например, уязвимости в установленном программном обеспечении, которые могут привести к локальному повышению привилегий</i> ).</p>
			<p class="ms-3">Не торопитесь и попробуйте еще один или два других модуля. Подсказка: </p>
			<p class="ms-3">
				<kbd class="inova-custom-kbd">&#128161; post/windows/gather/enum_ad_computers</kbd>
			</p>
	  </div>
	  <hr>
	
	  <h5 class="card-title custom-title-for-change"><b>30. Действия по достижению целей</b> - <i>кража файлов</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Давайте попробуем поискать на машине Дуайта интересные таблицы Excel (.xlsx). Типичный корпоративный компьютер содержит множество таблиц с интересными данными.</p>
			<p class="ms-3">Мы можем сделать это с помощью постэксплуатационного модуля <samp>windows/gather/enum_files</samp>.</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="use post/windows/gather/enum_files" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">use post/windows/gather/enum_files</small></kbd></div>
			<p class="ms-3 mt-3">Мы можем проанализировать доступные модули, запустив:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="show options" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">show options</small></kbd></div>
			<p class="ms-3 mt-3">Давайте попробуем просмотреть весь диск <kbd class="inova-custom-kbd">C:\</kbd> в поисках листов <kbd class="inova-custom-kbd">.xlsx</kbd>. Мы можем использовать следующую конфигурацию:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="set SESSION 1" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">set SESSION 1</small></kbd></div>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="set SEARCH_FROM C:\\" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">set SEARCH_FROM C:\\</small></kbd></div>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title='set FILE_GLOBS "*.xlsx"' style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">set FILE_GLOBS "*.xlsx"</small></kbd></div>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="exploit" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">exploit</small></kbd></div>
			<p class="ms-3 mt-3">Это может занять несколько минут, но в итоге мы должны увидеть файл <kbd class="inova-custom-kbd">Accounts.xlsx</kbd>, загружаемый с рабочего стола Дуайта!</p>
			<p class="ms-3">Как только вы закончите, попробуйте открыть это на своей машине Kali Linux и наслаждайтесь "трофеями".</p>
			<p class="ms-3">&#128161; СОВЕТ: переместите файл на рабочий стол и переименуйте расширение файла в <kbd class="inova-custom-kbd">.xlsx</kbd></p>
	  </div>
	  <hr>
  
    
	  
	  <h5 class="card-title custom-title-for-change"><b>31. Заключение лаборатории - <span class="text-success"><b><i class="bi bi-flag" style="font-size: 19px"></i></b></span></b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Поздравляем, вы успешно прошли практическую лабораторную работу! Целью лабораторной работы было проиллюстрировать, как работают типичные инструменты эмуляции злоумышленника и как быстро можно провести базовую атаку, чтобы получить доступ к своей цели. Мы будем развивать эти знания до конца недели.</p>
	  </div>
	  <hr>
	  
    <!-- End Default Card -->
</div>