<div class="me-3" class="me-3">

	 <h5 class="card-title custom-title-for-change"><b>Уровень - 1</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится в файле <small><kbd class="inova-custom-kbd nowrap">readme</kbd></small>, расположенном в домашнем каталоге. Используйте этот пароль для входа в <small><kbd class="inova-custom-kbd nowrap">bandit1</kbd></small> по <small><kbd class="inova-custom-kbd nowrap">SSH</kbd></small>. Всякий раз, когда вы найдете пароль для уровня, используйте <small><kbd class="inova-custom-kbd nowrap">SSH</kbd></small> <i>(на порту <u>2220</u>)</i>, чтобы войти на этот уровень и продолжить игру.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня:</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ls</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cd</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cat</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">du</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">find</kbd></small></li>
					</ul>
			</p>

	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 2</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится в файле с именем <small><kbd class="inova-custom-kbd nowrap">-</kbd></small>, расположенном в домашнем каталоге.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня:</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ls</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cd</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">file</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cat</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">du</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">find</kbd></small></li>
					</ul>
			</p>
			<hr class="ms-3">
			<p class="ms-3"><i>Полезные материалы - &#128214;</i></p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><a href="https://www.google.com/search?q=dashed+filename" target="_blank"><span><i>Google Search for “dashed filename”</i></span></a></li>
						<li class="mt-1"><a href="http://tldp.org/LDP/abs/html/special-chars.html" target="_blank"><span><i>Advanced Bash-scripting Guide - Chapter 3 - Special Characters</i></span></a></li>
					</ul>
			</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 3</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится в файле с именем <small><kbd class="inova-custom-kbd nowrap">spaces in this filename</kbd></small>, расположенном в домашнем каталоге.</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ls</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cd</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">file</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cat</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">du</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">find</kbd></small></li>
					</ul>
			</p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 4</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится в скрытом файле в папке <small><kbd class="inova-custom-kbd nowrap">inhere</kbd></small>.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ls</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cd</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">file</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cat</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">du</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">find</kbd></small></li>
					</ul>
			</p>
	  </div>
	  <hr>
	  
	<!-- End Default Card -->
  
    <!-- Default Card -->

	  <h5 class="card-title custom-title-for-change"><b>Уровень - 5</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится в единственном воспринимаемый человеком файле в папке <small><kbd class="inova-custom-kbd nowrap">inhere</kbd></small>.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня:</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ls</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cd</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">file</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cat</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">du</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">find</kbd></small></li>
					</ul>
			</p>
			<hr class="ms-3">
			<p class="ms-3"><i>Совет - &#128161;</i></p>
			<p class="ms-3"><i>Если ваш терминал запутался, попробуйте команду <small><kbd class="inova-custom-kbd nowrap">reset</kbd></small></i></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 6</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится в файле где-то в папке <small><kbd class="inova-custom-kbd nowrap">inhere</kbd></small> и имеет все следующие свойства:</p>
			<p class="ms-3">
				<ul>
						<i>
							<li class="mt-1">Читаемый</li>
							<li class="mt-1">Размер файла - <b>1033</b> байтов</li>
							<li class="mt-1">Не исполняемый</li>
						</i>
				</ul>
					
			</p>
			<p class="ms-3"></p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня:</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ls</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cd</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">file</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cat</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">du</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">find</kbd></small></li>
					</ul>
			</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 7</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится <b>где-то на сервере</b> и имеет все следующие свойства:</p>
			<p class="ms-3">
				<ul>
						<i>
							<li class="mt-1">Принадлежит пользователю <b>bandit7</b></li>
							<li class="mt-1">Принадлежит группе <b>bandit6</b></li>
							<li class="mt-1">Размер файла - <b>33</b> байтов</li>
						</i>
				</ul>
			</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня:</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ls</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cd</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">file</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cat</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">du</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">find</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">grep</kbd></small></li>
					</ul>
			</p>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 8</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится в файле <small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small> рядом со словом <small><kbd class="inova-custom-kbd nowrap">millionth</kbd></small>.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня:</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">grep</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">sort</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">uniq</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">strings</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">base64</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tr</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tar</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">gzip</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">bzip2</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">xxd</kbd></small></li>
					</ul>
			</p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 9</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится в файле <small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small> и представляет собой <b>единственную строку текста</b>, которая встречается только <b>один раз</b>.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня:</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">grep</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">sort</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">uniq</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">strings</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">base64</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tr</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tar</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">gzip</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">bzip2</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">xxd</kbd></small></li>
					</ul>
			</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 10</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится в файле <small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small> в одной из немногих воспринимаемые человеком строк, перед которыми стоит несколько символов <small><kbd class="inova-custom-kbd nowrap">=</kbd></small>.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня:</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">grep</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">sort</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">uniq</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">strings</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">base64</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tr</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tar</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">gzip</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">bzip2</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">xxd</kbd></small></li>
					</ul>
			</p>
	  </div>
	  <hr>
	  
    <!-- End Default Card -->
</div>