<div class="me-3" class="me-3">
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 27</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Молодец, получил оболочку! А теперь поторопитесь и заберите пароль для <b>bandit27</b>!</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня - <small><kbd class="inova-custom-kbd nowrap">ls</kbd></small></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 28</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Существует <small><kbd class="inova-custom-kbd nowrap">git</kbd></small>  репозиторий по адресу <small><kbd class="inova-custom-kbd nowrap">ssh://bandit27-git@localhost/home/bandit27-git/repo</kbd></small>. Пароль для пользователя <small><kbd class="inova-custom-kbd nowrap">bandit27-git</kbd></small> такой же, как и для пользователя <small><kbd class="inova-custom-kbd nowrap">bandit27</kbd></small>.</p>
			<p class="ms-3">Клонируйте репозиторий и найдите пароль для следующего уровня.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня - <small><kbd class="inova-custom-kbd nowrap">git</kbd></small></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 29</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Существует репозиторий <small><kbd class="inova-custom-kbd nowrap">git</kbd></small> по адресу <small><kbd class="inova-custom-kbd nowrap">ssh://bandit28-git@localhost/home/bandit28-git/repo</kbd></small>. Пароль для пользователя <small><kbd class="inova-custom-kbd nowrap">bandit28-git</kbd></small> такой же, как и для пользователя <small><kbd class="inova-custom-kbd nowrap">bandit28</kbd></small>.</p>
			<p class="ms-3">Клонируйте репозиторий и найдите пароль для следующего уровня.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня - <small><kbd class="inova-custom-kbd nowrap">git</kbd></small></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	<!-- End Default Card -->
  
    <!-- Default Card -->

	  <h5 class="card-title custom-title-for-change"><b>Уровень - 30</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Существует репозиторий <small><kbd class="inova-custom-kbd nowrap">git</kbd></small> по адресу <small><kbd class="inova-custom-kbd nowrap">ssh://bandit29-git@localhost/home/bandit29-git/repo</kbd></small>. Пароль для пользователя <small><kbd class="inova-custom-kbd nowrap">bandit29-git</kbd></small> такой же, как и для пользователя <small><kbd class="inova-custom-kbd nowrap">bandit29</kbd></small>.</p>
			<p class="ms-3">Клонируйте репозиторий и найдите пароль для следующего уровня.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня - <small><kbd class="inova-custom-kbd nowrap">git</kbd></small></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 31</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Существует репозиторий <small><kbd class="inova-custom-kbd nowrap">git</kbd></small> по адресу <small><kbd class="inova-custom-kbd nowrap">ssh://bandit30-git@localhost/home/bandit30-git/repo</kbd></small>. Пароль для пользователя <small><kbd class="inova-custom-kbd nowrap">bandit30-git</kbd></small> такой же, как и для пользователя <small><kbd class="inova-custom-kbd nowrap">bandit30</kbd></small>.</p>
			<p class="ms-3">Клонируйте репозиторий и найдите пароль для следующего уровня.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня - <small><kbd class="inova-custom-kbd nowrap">git</kbd></small></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 32</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Существует репозиторий <small><kbd class="inova-custom-kbd nowrap">git</kbd></small> по адресу <small><kbd class="inova-custom-kbd nowrap">ssh://bandit31-git@localhost/home/bandit31-git/repo</kbd></small>. Пароль для пользователя <small><kbd class="inova-custom-kbd nowrap">bandit31-git</kbd></small> такой же, как и для пользователя <small><kbd class="inova-custom-kbd nowrap">bandit31</kbd></small>.</p>
			<p class="ms-3">Клонируйте репозиторий и найдите пароль для следующего уровня.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня - <small><kbd class="inova-custom-kbd nowrap">git</kbd></small></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 33 <span class="text-success"><i class="bi bi-flag"></i></span></b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">После всего этого git пришло время для еще одного побега. Удачи!</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня:</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ssh</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">man</kbd></small></li>
					 </ul>
			</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
    <!-- End Default Card -->
</div>