<div class="me-3" class="me-3">

	
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень -</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>Уровень -</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень -</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	<!-- End Default Card -->
  
    <!-- Default Card -->

	  <h5 class="card-title custom-title-for-change"><b>Уровень -</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень -</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень -</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>Уровень -</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень -</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	<!-- End Default Card -->
  
    <!-- Default Card -->

	  <h5 class="card-title custom-title-for-change"><b>Уровень -</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень -</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  
    <!-- End Default Card -->
</div>