<div class="me-3" class="me-3">

	  <h5 class="card-title custom-title-for-change"><b>Уровень - 11</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится в файле <small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small>, который содержит данные в кодировке <small><kbd class="inova-custom-kbd nowrap">base64</kbd></small>.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня:</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">grep</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">sort</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">uniq</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">strings</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">base64</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tr</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tar</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">gzip</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">bzip2</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">xxd</kbd></small></li>
					</ul>
			</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 12</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится в файле <small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small>, где все строчные <i>(a-z)</i> и прописные <i>(A-Z)</i> буквы повернуты на <b>13</b> позиций.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня:</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">grep</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">sort</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">uniq</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">strings</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">base64</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tr</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tar</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">gzip</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">bzip2</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">xxd</kbd></small></li>
					</ul>
			</p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 13</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится в файле <small><kbd class="inova-custom-kbd nowrap">data.txt</kbd></small>, который представляет собой шестнадцатеричный дамп многократно сжатого файла. Для этого уровня может быть полезно создать папку в <small><kbd class="inova-custom-kbd nowrap">/tmp</kbd></small>, в котором вы можете работать с помощью <small><kbd class="inova-custom-kbd nowrap">mkdir</kbd></small>. Например: <small><kbd class="inova-custom-kbd nowrap">mkdir /tmp/myname123</kbd></small>. Затем скопируйте файл данных с помощью <small><kbd class="inova-custom-kbd nowrap">cp</kbd></small> и переименуйте его с помощью <small><kbd class="inova-custom-kbd nowrap">mv</kbd></small> <i>(прочитайте справочные страницы!)</i></p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня:</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">grep</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">sort</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">uniq</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">strings</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">base64</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tr</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tar</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">gzip</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">bzip2</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">xxd</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">mkdir</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cp</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">mv</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">file</kbd></small></li>

					</ul>
			</p>
			<hr class="ms-3">
			<p class="ms-3"><i>Полезный материал для чтения - <a href="https://en.wikipedia.org/wiki/Hex_dump" target="_blank">HEX-Дамп</a></i></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	<!-- End Default Card -->
  
    <!-- Default Card -->

	  <h5 class="card-title custom-title-for-change"><b>Уровень - 14</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится в <small><kbd class="inova-custom-kbd nowrap">/etc/bandit_pass/bandit14</kbd></small> и может быть прочитан только пользователем <small><kbd class="inova-custom-kbd nowrap">bandit14</kbd></small>. Для этого уровня вы не получаете следующий пароль, но вместо этого получаете закрытый <small><kbd class="inova-custom-kbd nowrap">SSH</kbd></small>-ключ, который можно использовать для входа на следующий уровень.</p>
			<p class="ms-3"><b>Примечание:</b> <small><kbd class="inova-custom-kbd nowrap">localhost</kbd></small> — <i>это имя хоста, относящееся к машине, на которой вы работаете</i>.</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ssh</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">telnet</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">nc</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">openssl</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">s_client</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">nmap</kbd></small></li>
					</ul>
			</p>
			<hr class="ms-3">
			<p class="ms-3"><i>Полезный материал для чтения - <a href="https://help.ubuntu.com/community/SSH/OpenSSH/Keys" target="_blank">SSH-ключи</a></i></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 15</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня можно получить, отправив пароль текущего уровня на порт <b>30000</b> на локальном хосте.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ssh</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">telnet</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">nc</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">openssl</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">s_client</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">nmap</kbd></small></li>
					</ul>
			</p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 16</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня можно получить, отправив пароль текущего уровня на порт <b>30001</b> на локальном хосте с использованием <b>SSL-шифрования</b>.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ssh</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">telnet</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">nc</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">openssl</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">s_client</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">nmap</kbd></small></li>
					</ul>
			</p>
			<hr class="ms-3">
			<p class="ms-3"><b>Примечание</b> <i class="bi bi-arrow-right text-primary"></i></p>
			<p class="ms-3"><i>Получаете <small><kbd class="inova-custom-kbd nowrap">HEARTBEATING</kbd></small> и <small><kbd class="inova-custom-kbd nowrap">Read R BLOCK</kbd></small>? Используйте - <small><kbd class="inova-custom-kbd nowrap">ign_eof</kbd></small> и прочитайте раздел  <small><kbd class="inova-custom-kbd nowrap">CONNECTED COMMANDS</kbd></small> на странице руководства <i>(manpage)</i>. Наряду с <small><kbd class="inova-custom-kbd nowrap">R</kbd></small> и <small><kbd class="inova-custom-kbd nowrap">Q</kbd></small>, команда <small><kbd class="inova-custom-kbd nowrap">B</kbd></small> также работает в этой версии команды…</i></p>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 17</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Учетные данные для следующего уровня можно получить, отправив пароль текущего уровня на порт на локальном хосте в диапазоне от <b>31000</b> до <b>32000</b>. Сначала выясните, какие из этих портов прослушиваются сервером. Затем выясните, какие из них используют <small><kbd class="inova-custom-kbd nowrap">SSL</kbd></small>, а какие нет. Есть только <b>1</b> сервер, который предоставит следующие учетные данные, остальные просто отправят вам обратно все, что вы ему отправите.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ssh</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">telnet</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">nc</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">openssl</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">s_client</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">nmap</kbd></small></li>
					</ul>
			</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 18</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">В домашнем папке есть 2 файла: <small><kbd class="inova-custom-kbd nowrap">passwords.old</kbd></small> и <small><kbd class="inova-custom-kbd nowrap">passwords.new</kbd></small>. Пароль для следующего уровня находится в файле <small><kbd class="inova-custom-kbd nowrap">passwords.new</kbd></small> и является единственной строкой, которая была изменена между <small><kbd class="inova-custom-kbd nowrap">passwords.old</kbd></small> и <small><kbd class="inova-custom-kbd nowrap">passwords.new</kbd></small>.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cat</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">grep</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ls</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">diff</kbd></small></li>
					</ul>
			</p>
			<hr class="ms-3">
			<p class="ms-3"><b>Примечание</b> <i class="bi bi-arrow-right text-primary"></i></p>
			<p class="ms-3"><i>Если вы прошли этот уровень и видите <small><kbd class="inova-custom-kbd nowrap">Byebye!</kbd></small> при попытке войти в <small><kbd class="inova-custom-kbd nowrap">bandit18</kbd></small>, это связано со следующим уровнем, <small><kbd class="inova-custom-kbd nowrap">bandit19</kbd></small></i>.</p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	<!-- End Default Card -->
  
    <!-- Default Card -->

	  <h5 class="card-title custom-title-for-change"><b>Уровень - 19</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Пароль для следующего уровня хранится в файле <small><kbd class="inova-custom-kbd nowrap">readme</kbd></small> в домашнем папке. К сожалению, кто-то изменил <small><kbd class="inova-custom-kbd nowrap">.bashrc</kbd></small>, чтобы вы могли выходить из системы при входе в систему с помощью <small><kbd class="inova-custom-kbd nowrap">SSH</kbd></small>.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ssh</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ls</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cat</kbd></small></li>
					</ul>
			</p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 20</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Чтобы получить доступ к следующему уровню, вы должны использовать двоичный файл <small><kbd class="inova-custom-kbd nowrap">setuid</kbd></small> в домашнем каталоге. Выполните его без аргументов, чтобы узнать, как его использовать. Пароль для этого уровня можно найти в обычном месте <i>(<small><kbd class="inova-custom-kbd nowrap">/etc/bandit_pass</kbd></small>)</i> после того, как вы использовали бинарный файл <small><kbd class="inova-custom-kbd nowrap">setuid</kbd></small>.</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  
    <!-- End Default Card -->
</div>