<div class="me-3" class="me-3">

	
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 21</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">В домашнем каталоге есть двоичный файл <small><kbd class="inova-custom-kbd nowrap">setuid</kbd></small>, который делает следующее: он устанавливает соединение с локальным хостом через порт, указанный вами в качестве аргумента командной строки. Затем он считывает строку текста из соединения и сравнивает ее с паролем на предыдущем уровне <i>(<small><kbd class="inova-custom-kbd nowrap">bandit20</kbd></small>)</i>. Если пароль правильный, он передаст пароль для следующего уровня <small><kbd class="inova-custom-kbd nowrap">bandit21</kbd></small>.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ssh</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">nc</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cat</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">bash</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">screen</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tmux</kbd></small></li>
					 </ul>
					<hr class="ms-3">
					<p class="ms-3"><i>UNIX - Job Control</i></p>

					 <ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">bg</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">fg</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">jobs</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">&</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">CTRL-Z</kbd></small></li>

					</ul>
			</p>
			<hr class="ms-3">
			<p class="ms-3">Примечание  <i class="bi bi-arrow-right text-primary"></i></p>
			<p class="ms-3"><i>Попробуйте подключиться к вашему собственному сетевому демону, чтобы убедиться, что он работает так, как вы думаете</i>.</p>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 22</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Программа запускается автоматически через равные промежутки времени из <small><kbd class="inova-custom-kbd nowrap">cron</kbd></small>, планировщика заданий на основе времени. Посмотрите в <small><kbd class="inova-custom-kbd nowrap">/etc/cron.d/</kbd></small> конфигурацию и посмотрите, какая команда выполняется.</p>
			<p class="ms-3">
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня</p>
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cront</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">crontab</kbd></small></li>
						<li class="mt-1"><small><i>crontab(5) - используйте</i> <kbd class="inova-custom-kbd nowrap">man 5 crontab</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">bash</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">screen</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tmux</kbd></small></li>
					 </ul>
			</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 23</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Программа запускается автоматически через равные промежутки времени из <small><kbd class="inova-custom-kbd nowrap">cron</kbd></small>, планировщика заданий на основе времени. Посмотрите в <small><kbd class="inova-custom-kbd nowrap">/etc/cron.d/</kbd></small> конфигурацию и посмотрите, какая команда выполняется.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня</p>
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cront</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">crontab</kbd></small></li>
						<li class="mt-1"><small><i>crontab(5) - используйте</i> <kbd class="inova-custom-kbd nowrap">man 5 crontab</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">bash</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">screen</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tmux</kbd></small></li>
					 </ul>
			</p>
			<hr class="ms-3">
			<p class="ms-3">Примечание  <i class="bi bi-arrow-right text-primary"></i></p>
			<p class="ms-3"><i>Просмотр сценариев оболочки, написанных другими людьми, является очень полезным навыком. Сценарий для этого уровня намеренно сделан легким для чтения. Если у вас возникли проблемы с пониманием того, что он делает, попробуйте запустить его, чтобы увидеть отладочную информацию, которую он выводит</i>.</p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	<!-- End Default Card -->
  
    <!-- Default Card -->

	  <h5 class="card-title custom-title-for-change"><b>Уровень - 24</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Программа запускается автоматически через равные промежутки времени из <small><kbd class="inova-custom-kbd nowrap">cron</kbd></small>, планировщика заданий на основе времени. Посмотрите в <small><kbd class="inova-custom-kbd nowrap">/etc/cron.d/</kbd></small> конфигурацию и посмотрите, какая команда выполняется.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня</p>
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cront</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">crontab</kbd></small></li>
						<li class="mt-1"><small><i>crontab(5) - используйте</i> <kbd class="inova-custom-kbd nowrap">man 5 crontab</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">bash</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">screen</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">tmux</kbd></small></li>
					 </ul>
			</p>
			<hr class="ms-3">
			<p class="ms-3">Примечание  <i class="bi bi-arrow-right text-primary"></i></p>
			<p class="ms-3"><i>Этот уровень требует от вас создания собственного первого сценария оболочки. Это очень большой шаг, и вы должны гордиться собой, когда преодолеете этот уровень!</i></p>
			<p class="ms-3"><i>Имейте в виду, что ваш сценарий оболочки удаляется после выполнения, поэтому вы можете сохранить копию…</i></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 25</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Демон прослушивает порт <b>30002</b> и выдаст вам пароль для <small><kbd class="inova-custom-kbd nowrap">bandit25</kbd></small>, если ему предоставлен пароль для <small><kbd class="inova-custom-kbd nowrap">bandit24</kbd></small> и секретный числовой <b>4-значный пин-код</b>. Нет другого способа получить пин-код, кроме как пройти через все <b>10000</b> комбинаций, что называется методом полного перебора.</p>
				
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>Уровень - 26</b></h5>
	  <div class="inova-custom-border">
			<p class="ms-3">Вход в <small><kbd class="inova-custom-kbd nowrap">bandit26</kbd></small> из <small><kbd class="inova-custom-kbd nowrap">bandit25</kbd></small> должен быть довольно простым… Оболочка для пользователя <small><kbd class="inova-custom-kbd nowrap">bandit26</kbd></small> — это не <small><kbd class="inova-custom-kbd nowrap">/bin/bash</kbd></small>, а что-то другое. Узнайте, что это такое, как это работает и как от него избавиться.</p>
			<p class="ms-3">Команды, которые могут вам понадобиться для решения этого уровня</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ssh</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">cat</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">more</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">vim</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">ls</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">id</kbd></small></li>
						<li class="mt-1"><small><kbd class="inova-custom-kbd nowrap">pwd</kbd></small></li>
					 </ul>
			</p>
			<hr class="ms-3">
			<i>
			<p class="ms-3">Как нужно правильно выйти из <b>VIM</b>?</p>
			<p class="ms-3">
					<ul>
						<li class="mt-1"><small>Переключаемя в командный мод, нажав <kbd class="inova-custom-kbd nowrap">:</kbd></small></li>
						<li class="mt-1"><small>Вводим следующие команды:</small></li></i>
						<li class="mt-1 ms-2"><small><kbd class="inova-custom-kbd nowrap" id="vim-joke" data-bs-toggle="tooltip" data-bs-placement="top" title="%!ps aux | grep vim | grep -v grep | awk '{print $2}' | xargs -n1 kill -9"><small>%!ps aux | grep vim | grep -v grep | awk '{print $2}' | xargs -n1 kill -9</small></kbd></small></li>
					 	<li class="mt-1">&#128527</li>
					 </ul>
			</p>
	  </div>
	  <hr>
	  
    <!-- End Default Card -->
</div>