<!-- image -->

<img class="img-fluid" src="/assets/img/modules/1/ex-1-ss-5.jpg">

<!-- clipboard -->

<div class="ms-3 me-3 mt-3" id="to-be-clipped-parent" style="white-space:nowrap"><i class="bi bi-clipboard text-primary ms-1" id="clipper" style="cursor:pointer"></i><kbd class="ms-1" data-bs-toggle="tooltip" data-bs-placement="top" title="Awesomesauce123" style="background-color: #DCDCDC;color: black"><small class="to-be-clipped">Awesomesauce123</small></kbd></div>

<!-- credentials-centered-->

<div class="d-flex align-items-center flex-column">
	<div>
		<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Имя пользователя:</b> michael.scott@kazlabs.kz</small></p>
		<p class="ms-3"><i class="bi bi-clipboard text-primary me-2" id="clipper"></i><small><b>Пароль:</b> Password1</small></p>
	</div>
</div>

<!-- paragragh -->

<h5 class="card-title custom-title-for-change"><b>4. Разведка</b><i>- дамп паролей</i></h5>
<div class="inova-custom-border">
	<p class="ms-3"></p>
	<p class="ms-3"></p>
	<p class="ms-3"></p>
	<p class="ms-3"></p>
	<p class="ms-3"></p>
	<p class="ms-3"></p>
</div>
<hr>

<!-- kbd -->
<pre><kbd class="inova-custom-kbd nowrap"></kbd></pre>
<small><kbd class="inova-custom-kbd nowrap"></kbd></small>

<!-- list -->

<small>
	<ul>
		<li class="mt-1"></li>
		<li class="mt-1"></li>
		<li class="mt-1"></li>
		<li class="mt-1"></li>
		<li class="mt-1"></li>
	</ul>
</small>

<!-- finish -->
<h5 class="card-title custom-title-for-change"><b>19. В заключении лаборатории - <span class="text-success"><b><i class="bi bi-flag" style="font-size: 19px"></i></b></span></b></h5>
 <div class="inova-custom-border">
	<p class="ms-3"></p>
 </div>
<hr>
