<div class="me-3" class="me-3 module-1-page-2">

	 <h5 class="card-title custom-title-for-change"><b>2. Разведка</b> - <i>откройте браузер</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>2. Разведка</b> - <i>откройте браузер</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
  
	  <h5 class="card-title custom-title-for-change"><b>2. Разведка</b> - <i>откройте браузер</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	  <h5 class="card-title custom-title-for-change"><b>3. Разведка</b> - <i>www.kazlabs.kz</i> </h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  
	<!-- End Default Card -->
  
    <!-- Default Card -->

      <h5 class="card-title custom-title-for-change"><b>4. Разведка</b><i>- дамп паролей</i></h5>
      <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <hr>
	  <h5 class="card-title custom-title-for-change"><b>5. Разведка</b> - <i>терминал в Linux</i></h5>
	  <div class="inova-custom-border">
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
			<p class="ms-3"></p>
	  </div>
	  <img class="img-fluid" src="/assets/img/modules/1/ex-13-ss-11.png">
	  <hr>
	  
	  
    <!-- End Default Card -->
</div>